flows/Change_Owner_of_Competitive_Info_Records.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_if_the_list_of_competitive_records_is_not_empty</name>
        <label>Check if the list of competitive records is not empty</label>
        <locationX>216</locationX>
        <locationY>271</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllCompetitiveRecordsfilterdbyInactiveOwnerID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Competitive_Info_records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Created as a part of DPS-1136 to update the owner field on Competitive Info</description>
    <interviewLabel>Change Owner of Competitive Info Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change Owner of Competitive Info Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Competitive_Records</name>
        <label>Competitive Records</label>
        <locationX>225</locationX>
        <locationY>144</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_the_list_of_competitive_records_is_not_empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputUserId</elementReference>
            </value>
        </filters>
        <object>Competitive_Info__c</object>
        <outputReference>AllCompetitiveRecordsfilterdbyInactiveOwnerID</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Competitive_Info_records</name>
        <label>Update Competitive Info records</label>
        <locationX>215</locationX>
        <locationY>414</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputUserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>UpdateUserId</elementReference>
            </value>
        </inputAssignments>
        <object>Competitive_Info__c</object>
    </recordUpdates>
    <startElementReference>Competitive_Records</startElementReference>
    <status>Active</status>
    <variables>
        <name>AllCompetitiveRecordsfilterdbyInactiveOwnerID</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Competitive_Info__c</objectType>
    </variables>
    <variables>
        <name>InputUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListofCompetitiveInfo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Competitive_Info__c</objectType>
    </variables>
    <variables>
        <name>UpdateUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
