flows/Change_Request_to_Master_Data.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Create_Ref_and_Send_Data_to_Staging</name>
        <label>Create Ref and Send Data to Staging</label>
        <locationX>1154</locationX>
        <locationY>156</locationY>
        <actionName>ESC_CaseRefCreation</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>cs</name>
            <value>
                <elementReference>Caselist.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_case_Description_field</name>
        <label>Update case Description field</label>
        <locationX>877</locationX>
        <locationY>429</locationY>
        <actionName>ESC_CaseDescriptionUpdate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Description_Update</targetReference>
        </connector>
        <inputParameters>
            <name>DescriptionFieldUpdate</name>
            <value>
                <elementReference>DescriptionFieldUpdate</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>DescriptionFieldUpdate</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Choice00_CI_Polica_Federal</name>
        <choiceText>00 C.I. Policía Federal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>00 C.I. Policía Federal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice01_CI_Buenos_Aires</name>
        <choiceText>01 C.I. Buenos Aires</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>01 C.I. Buenos Aires</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice01_ICMS_Contributor</name>
        <choiceText>01 ICMS Contributor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>01 ICMS Contributor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice01_IVA_Responsable_Inscripto</name>
        <choiceText>01 IVA Responsable Inscripto</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>01 IVA Responsable Inscripto</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice01_VAT_Responsible_Inscripted</name>
        <choiceText>01 VAT Responsible Inscripted</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>01 VAT Responsible Inscripted</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice02_CI_Catamarca</name>
        <choiceText>02 C.I. Catamarca</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>02 C.I. Catamarca</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice02_ICMS_Contributor_Exemption</name>
        <choiceText>02 ICMS Contributor - Exemption</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>02 ICMS Contributor - Exemption</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice02_IVA_Responsable_No_Inscripto</name>
        <choiceText>02 IVA Responsable No Inscripto</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>02 IVA Responsable No Inscripto</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice02_VAT_Responsible_Not_Inscripted</name>
        <choiceText>02 VAT Responsible Not Inscripted</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>02 VAT Responsible Not Inscripted</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice03_CI_Crdoba</name>
        <choiceText>03 C.I. Córdoba</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>03 C.I. Córdoba</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice03_IVA_No_Responsable</name>
        <choiceText>03 IVA No Responsable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>03 IVA No Responsable</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice04_CI_Corrientes</name>
        <choiceText>04 C.I. Corrientes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>04 C.I. Corrientes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice04_IVA_Sujeto_Exento</name>
        <choiceText>04 IVA Sujeto Exento</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>04 IVA Sujeto Exento</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice04_VAT_Exempted_Subject</name>
        <choiceText>04 VAT Exempted Subject</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>04 VAT Exempted Subject</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice05_CI_Entre_Ros</name>
        <choiceText>05 C.I. Entre Ríos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>05 C.I. Entre Ríos</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice05_Consumidor_Final</name>
        <choiceText>05 Consumidor Final</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>05 Consumidor Final</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice05_VAT_Final_Consumer</name>
        <choiceText>05 VAT Final Consumer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>05 VAT Final Consumer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice06_CI_Jujuy</name>
        <choiceText>06 C.I. Jujuy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>06 C.I. Jujuy</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice06_Responsable_Monotributo</name>
        <choiceText>06 Responsable Monotributo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>06 Responsable Monotributo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice06_VAT_Responsible_Monotributer</name>
        <choiceText>06 VAT Responsible Monotributer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>06 VAT Responsible Monotributer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice07_CI_Mendoza</name>
        <choiceText>07 C.I. Mendoza</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>07 C.I. Mendoza</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice07_Sujeto_no_Categorizado</name>
        <choiceText>07 Sujeto no Categorizado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>07 Sujeto no Categorizado</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice08_CI_La_Rioja</name>
        <choiceText>08 C.I. La Rioja</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>08 C.I. La Rioja</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice08_Proveedor_del_Exterior</name>
        <choiceText>08 Proveedor del Exterior</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>08 Proveedor del Exterior</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice09_CI_Salta</name>
        <choiceText>09 C.I. Salta</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>09 C.I. Salta</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice09_Cliente_del_Exterior</name>
        <choiceText>09 Cliente del Exterior</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>09 Cliente del Exterior</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice09_Foreign_Customer</name>
        <choiceText>09 Foreign Customer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>09 Foreign Customer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice09_No_ICMS_Contributor</name>
        <choiceText>09 No ICMS Contributor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>09 No ICMS Contributor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice1023_rgo_Pblico_do_Poder_Executivo_Estadu</name>
        <choiceText>1023 Órgão Público do Poder Executivo Estadu</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1023 Órgão Público do Poder Executivo Estadu</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice1031_rgo_Pblico_do_Poder_Executivo_Munici</name>
        <choiceText>1031 Órgão Público do Poder Executivo Munici</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1031 Órgão Público do Poder Executivo Munici</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice1040_rgo_Pblico_do_Poder_Legislativo_Fede</name>
        <choiceText>1040 Órgão Público do Poder Legislativo Fede</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1040 Órgão Público do Poder Legislativo Fede</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice1058_rgo_Pblico_do_Poder_Legislativo_Esta</name>
        <choiceText>1058 Órgão Público do Poder Legislativo Esta</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1058 Órgão Público do Poder Legislativo Esta</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice1066_rgo_Pblico_do_Poder_Legislativo_Muni</name>
        <choiceText>1066 Órgão Público do Poder Legislativo Muni</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1066 Órgão Público do Poder Legislativo Muni</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice1074_rgo_Pblico_do_Poder_Judicirio_Feder</name>
        <choiceText>1074 Órgão Público do Poder Judiciário Feder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1074 Órgão Público do Poder Judiciário Feder</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice1082_rgo_Pblico_do_Poder_Judicirio_Estad</name>
        <choiceText>1082 Órgão Público do Poder Judiciário Estad</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1082 Órgão Público do Poder Judiciário Estad</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice10_CI_San_Juan</name>
        <choiceText>10 C.I. San Juan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10 C.I. San Juan</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice10_IVA_Liberado_Ley_No_19640</name>
        <choiceText>10 IVA Liberado - Ley No 19.640</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10 IVA Liberado - Ley No 19.640</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice10_VAT_Liberated_Law_No_19640</name>
        <choiceText>10 VAT Liberated - Law No 19.640</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10 VAT Liberated - Law No 19.640</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice1104_Autarquia_Federal</name>
        <choiceText>1104 Autarquia Federal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1104 Autarquia Federal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice1112_Autarquia_Estadual_ou_do_Distrito_Feder</name>
        <choiceText>1112 Autarquia Estadual ou do Distrito Feder</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1112 Autarquia Estadual ou do Distrito Feder</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice1120_Autarquia_Municipal</name>
        <choiceText>1120 Autarquia Municipal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1120 Autarquia Municipal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice1139_Fundao_Federal</name>
        <choiceText>1139 Fundação Federal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1139 Fundação Federal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice1147_Fundao_Estadual_ou_do_Distrito_Federa</name>
        <choiceText>1147 Fundação Estadual ou do Distrito Federa</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1147 Fundação Estadual ou do Distrito Federa</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice1155_Fundao_Municipal</name>
        <choiceText>1155 Fundação Municipal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1155 Fundação Municipal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice1163_rgo_Pblico_Autnomo_da_Unio</name>
        <choiceText>1163 Órgão Público Autônomo da União</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1163 Órgão Público Autônomo da União</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice1171_rgo_Pblico_Autnomo_Estadual_ou_do_D</name>
        <choiceText>1171 Órgão Público Autônomo Estadual ou do D</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1171 Órgão Público Autônomo Estadual ou do D</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice1180_rgo_Pblico_Autnomo_Municipal</name>
        <choiceText>1180 Órgão Público Autônomo Municipal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1180 Órgão Público Autônomo Municipal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice1198_Comisso_Polinacional</name>
        <choiceText>1198 Comissão Polinacional</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1198 Comissão Polinacional</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice11_CI_San_Luis</name>
        <choiceText>11 C.I. San Luis</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>11 C.I. San Luis</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice11_IVA_Responsable_Inscripto_Agente_de_Percepcin</name>
        <choiceText>11 IVA Responsable Inscripto - Agente de Percepción</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>11 IVA Responsable Inscripto - Agente de Percepción</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice1201_Fundo_Pblico</name>
        <choiceText>1201 Fundo Público</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1201 Fundo Público</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice1210_Consrcio_Pub_Direito_Pub_Ass_Pub</name>
        <choiceText>1210 Consórcio Pub. Direito Pub. (Ass. Pub.)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1210 Consórcio Pub. Direito Pub. (Ass. Pub.)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice1244_Municpio</name>
        <choiceText>1244 Município</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1244 Município</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice12_CI_Santa_F</name>
        <choiceText>12 C.I. Santa Fé</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12 C.I. Santa Fé</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice12_Pequeo_Contribuyente_Eventual</name>
        <choiceText>12 Pequeño Contribuyente Eventual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12 Pequeño Contribuyente Eventual</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice13_CI_Santiago_del_Estero</name>
        <choiceText>13 C.I. Santiago del Estero</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>13 C.I. Santiago del Estero</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice13_Monotribusta_Social</name>
        <choiceText>13 Monotribusta Social</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>13 Monotribusta Social</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice14_CI_Tucumn</name>
        <choiceText>14 C.I. Tucumán</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>14 C.I. Tucumán</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice14_Pequeo_Contribuyente_Eventual_Social</name>
        <choiceText>14 Pequeño Contribuyente Eventual Social</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>14 Pequeño Contribuyente Eventual Social</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice16_CI_Chaco</name>
        <choiceText>16 C.I. Chaco</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>16 C.I. Chaco</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice17_CI_Chubut</name>
        <choiceText>17 C.I. Chubut</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>17 C.I. Chubut</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice18_CI_Formosa</name>
        <choiceText>18 C.I. Formosa</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>18 C.I. Formosa</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice19_CI_Misiones</name>
        <choiceText>19 C.I. Misiones</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>19 C.I. Misiones</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice2011_Empresa_Pblica</name>
        <choiceText>2011 Empresa Pública</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2011 Empresa Pública</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice2020_Entidade_Pblica_Reteno_Normal</name>
        <choiceText>2020 Entidade Pública Retenção Normal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2020 Entidade Pública Retenção Normal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice2038_Sociedade_de_Economia_Mista</name>
        <choiceText>2038 Sociedade de Economia Mista</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2038 Sociedade de Economia Mista</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice2046_Sociedade_Annima_Aberta</name>
        <choiceText>2046 Sociedade Anônima Aberta</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2046 Sociedade Anônima Aberta</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice20_CI_Neuqun</name>
        <choiceText>20 C.I. Neuquén</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>20 C.I. Neuquén</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice21_CI_La_Pampa</name>
        <choiceText>21 C.I. La Pampa</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>21 C.I. La Pampa</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice2216_Empresa_Domiciliada_no_Exterior</name>
        <choiceText>2216 Empresa Domiciliada no Exterior</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2216 Empresa Domiciliada no Exterior</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice2224_ClubeFundo_de_Investimento</name>
        <choiceText>2224 Clube/Fundo de Investimento</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2224 Clube/Fundo de Investimento</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice2232_Sociedade_Simples_Pura</name>
        <choiceText>2232 Sociedade Simples Pura</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2232 Sociedade Simples Pura</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice2240_Sociedade_Simples_Limitada</name>
        <choiceText>2240 Sociedade Simples Limitada</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2240 Sociedade Simples Limitada</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice2259_Sociedade_em_Nome_Coletivo</name>
        <choiceText>2259 Sociedade em Nome Coletivo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2259 Sociedade em Nome Coletivo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice2267_Sociedade_em_Comandita_Simples</name>
        <choiceText>2267 Sociedade em Comandita Simples</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2267 Sociedade em Comandita Simples</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice2275_Sociedade_Simples_em_Conta_de_Participa</name>
        <choiceText>2275 Sociedade Simples em Conta de Participa</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2275 Sociedade Simples em Conta de Participa</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice2283_Consrcio_de_Empregadores</name>
        <choiceText>2283 Consórcio de Empregadores</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2283 Consórcio de Empregadores</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice2291_Consrcio_Simples</name>
        <choiceText>2291 Consórcio Simples</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2291 Consórcio Simples</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice22_CI_Ro_Negro</name>
        <choiceText>22 C.I. Río Negro</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>22 C.I. Río Negro</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice2305_Empresa_Individual_de_Responsabilidade</name>
        <choiceText>2305 Empresa Individual de Responsabilidade</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2305 Empresa Individual de Responsabilidade</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice2313_Empr_IndivRespLtda_Natureza_Simples</name>
        <choiceText>2313 Empr. Indiv.Resp.Ltda (Natureza Simples)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2313 Empr. Indiv.Resp.Ltda (Natureza Simples)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice2321_Sociedade_Unipessoal_de_Advocacia</name>
        <choiceText>2321 Sociedade Unipessoal de Advocacia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2321 Sociedade Unipessoal de Advocacia</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice23_CI_Santa_Cruz</name>
        <choiceText>23 C.I. Santa Cruz</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>23 C.I. Santa Cruz</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice24_CI_Tierra_del_Fuego</name>
        <choiceText>24 C.I. Tierra del Fuego</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>24 C.I. Tierra del Fuego</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice3034_Servio_Notarial_e_Registral_Cartrio</name>
        <choiceText>3034 Serviço Notarial e Registral (Cartório)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3034 Serviço Notarial e Registral (Cartório)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice3042_Organizao_Social</name>
        <choiceText>3042 Organização Social</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3042 Organização Social</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice3050_Organizao_da_Sociedade_Civil_de_Inter</name>
        <choiceText>3050 Organização da Sociedade Civil de Inter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3050 Organização da Sociedade Civil de Inter</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice3069_Outras_Formas_de_Fundaes_Mantidas_com</name>
        <choiceText>3069 Outras Formas de Fundações Mantidas com</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3069 Outras Formas de Fundações Mantidas com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice3077_Servio_Social_Autnomo</name>
        <choiceText>3077 Serviço Social Autônomo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3077 Serviço Social Autônomo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice3085_Condomnio_Edilcios</name>
        <choiceText>3085 Condomínio Edilícios</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3085 Condomínio Edilícios</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice3093_Unidade_Executora_Programa_Dinheiro_Di</name>
        <choiceText>3093 Unidade Executora (Programa Dinheiro Di</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3093 Unidade Executora (Programa Dinheiro Di</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice3107_Comisso_de_Conciliao_Prvia</name>
        <choiceText>3107 Comissão de Conciliação Prévia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3107 Comissão de Conciliação Prévia</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice3115_Entidade_de_Mediao_e_Arbitragem</name>
        <choiceText>3115 Entidade de Mediação e Arbitragem</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3115 Entidade de Mediação e Arbitragem</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice3123_Partido_Poltico</name>
        <choiceText>3123 Partido Político</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3123 Partido Político</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice3131_Entidade_Sindical</name>
        <choiceText>3131 Entidade Sindical</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3131 Entidade Sindical</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice3204_Estabelecimento_no_Brasil_de_Fundao</name>
        <choiceText>3204 Estabelecimento, no Brasil, de Fundação</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3204 Estabelecimento, no Brasil, de Fundação</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice3212_Fundao_ou_Associao_Domiciliada_no_E</name>
        <choiceText>3212 Fundação ou Associação Domiciliada no E</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3212 Fundação ou Associação Domiciliada no E</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice3220_Organizao_Religiosa</name>
        <choiceText>3220 Organização Religiosa</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3220 Organização Religiosa</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice3239_Comunidade_Indgena</name>
        <choiceText>3239 Comunidade Indígena</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3239 Comunidade Indígena</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice3247_Fundo_Privado</name>
        <choiceText>3247 Fundo Privado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3247 Fundo Privado</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice3255_rgo_Direo_Nacional_Partido_Poltico</name>
        <choiceText>3255 Órgão Direção Nacional Partido Político</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3255 Órgão Direção Nacional Partido Político</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice3263_rgo_Direo_Nacional_Partido_Poltico</name>
        <choiceText>3263 Órgão Direção Nacional Partido Político</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3263 Órgão Direção Nacional Partido Político</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice3999_Outras_Formas_de_Associao</name>
        <choiceText>3999 Outras Formas de Associação</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3999 Outras Formas de Associação</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice4014_Empresa_Individual_Imobiliria</name>
        <choiceText>4014 Empresa Individual Imobiliária</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4014 Empresa Individual Imobiliária</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice4022_Segurado_Especial</name>
        <choiceText>4022 Segurado Especial</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4022 Segurado Especial</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice4081_Contribuinte_individual</name>
        <choiceText>4081 Contribuinte individual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4081 Contribuinte individual</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice4090_Candidato_a_Cargo_Poltico_Eletivo</name>
        <choiceText>4090 Candidato a Cargo Político Eletivo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4090 Candidato a Cargo Político Eletivo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice4120_Produtor_Rural_Pessoa_Fsica</name>
        <choiceText>4120 Produtor Rural (Pessoa Física)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4120  Produtor Rural (Pessoa Física)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice5002_Organizao_Internacional_e_Outras_Insti</name>
        <choiceText>5002 Organização Internacional e Outras Insti</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5002 Organização Internacional e Outras Insti</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice5010_Organiz_Internacional_Extraterritoriais</name>
        <choiceText>5010 Organiz. Internacional Extraterritoriais</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5010 Organiz. Internacional Extraterritoriais</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice5029_Representao_Diplomtica_Estrangeira</name>
        <choiceText>5029 Representação Diplomática Estrangeira</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5029 Representação Diplomática Estrangeira</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice5037_Outras_Instituies_Extraterritoriais</name>
        <choiceText>5037 Outras Instituições Extraterritoriais</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5037 Outras Instituições Extraterritoriais</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice70_CI</name>
        <choiceText>70 C.I.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>70 C.I.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice71_CNPJ</name>
        <choiceText>71 CNPJ</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>71 CNPJ</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice72_CPF</name>
        <choiceText>72 CPF</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>72 CPF</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice73_DNI_PER</name>
        <choiceText>73 D.N.I. PERÚ</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>73 D.N.I. PERÚ</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice74_PASAPORTE</name>
        <choiceText>74 PASAPORTE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>74 PASAPORTE</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice75_RUC_PARAGUAY</name>
        <choiceText>75 R.U.C. PARAGUAY</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>75 R.U.C. PARAGUAY</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice76_RUC_PER</name>
        <choiceText>76 R.U.C. PERÚ</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>76 R.U.C. PERÚ</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice77_RUT_CHILE</name>
        <choiceText>77 R.U.T. CHILE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>77 R.U.T. CHILE</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice78_RUT_URUGUAY</name>
        <choiceText>78 R.U.T. URUGUAY</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>78 R.U.T. URUGUAY</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice79_RG</name>
        <choiceText>79 RG</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>79 RG</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice80_CUIT</name>
        <choiceText>80 C.U.I.T.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>80 C.U.I.T.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice85_DNRP</name>
        <choiceText>85 D.N.R.P.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>85 D.N.R.P.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice86_CUIL</name>
        <choiceText>86 C.U.I.L.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>86 C.U.I.L.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice87_CDI</name>
        <choiceText>87 C.D.I.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>87 C.D.I.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice89_LE</name>
        <choiceText>89 L.E.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>89 L.E.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice90_LC</name>
        <choiceText>90 L.C.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>90 L.C.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice94_Passport</name>
        <choiceText>94 Passport</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>94 Passport</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice96_DNI</name>
        <choiceText>96 D.N.I.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>96 D.N.I.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice9997_Natural_Person</name>
        <choiceText>9997 Natural Person</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>9997 Natural Person</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice99_Others</name>
        <choiceText>99 Others</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>99 Others</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choicergo_Pblico_do_Poder_Executivo_Federa</name>
        <choiceText>Órgão Público do Poder Executivo Federa</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Órgão Público do Poder Executivo Federa</stringValue>
        </value>
    </choices>
    <choices>
        <name>CountryCurrentValue1</name>
        <choiceText>{!CountryCurrentValue}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CountryCurrentValue</elementReference>
        </value>
    </choices>
    <choices>
        <name>English</name>
        <choiceText>English</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>English</stringValue>
        </value>
    </choices>
    <choices>
        <name>None_English</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>None_Portugease</name>
        <choiceText>Nenhum</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>None_Spanish</name>
        <choiceText>Ninguno</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <description>stores the current value of the partner function field from Case object</description>
        <name>PartnerFunctionCurrentValue</name>
        <choiceText>{!PFFormula}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>PFFormula</elementReference>
        </value>
    </choices>
    <choices>
        <name>Portuguese</name>
        <choiceText>Portuguese</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Portuguese</stringValue>
        </value>
    </choices>
    <choices>
        <name>SalesOrgDefaultValue</name>
        <choiceText>{!SalesOrgFormula}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>SalesOrgFormula</elementReference>
        </value>
    </choices>
    <choices>
        <name>Spanish</name>
        <choiceText>Spanish</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spanish</stringValue>
        </value>
    </choices>
    <constants>
        <name>AccountNameFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Name</stringValue>
        </value>
    </constants>
    <constants>
        <name>AccountNameLine2FieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Name Line 2</stringValue>
        </value>
    </constants>
    <constants>
        <name>AccountNameLine3FieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Account Name Line 3</stringValue>
        </value>
    </constants>
    <constants>
        <name>AdditionalDetailsFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Additional Details</stringValue>
        </value>
    </constants>
    <constants>
        <name>CityFIeldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>City</stringValue>
        </value>
    </constants>
    <constants>
        <name>CNAEFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CNAE</stringValue>
        </value>
    </constants>
    <constants>
        <name>CountryFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Country</stringValue>
        </value>
    </constants>
    <constants>
        <name>CustomerClassFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Class</stringValue>
        </value>
    </constants>
    <constants>
        <name>CustomerGrpFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Group</stringValue>
        </value>
    </constants>
    <constants>
        <name>DistributionChannelFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Distribution Type</stringValue>
        </value>
    </constants>
    <constants>
        <name>DistrictFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>District</stringValue>
        </value>
    </constants>
    <constants>
        <name>EmailFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </constants>
    <constants>
        <name>Header</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Consider only the fields with data to change in the master data:</stringValue>
        </value>
    </constants>
    <constants>
        <name>IndustryFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Industry</stringValue>
        </value>
    </constants>
    <constants>
        <name>LegalStatusFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Legal Status</stringValue>
        </value>
    </constants>
    <constants>
        <name>PartnerFunctionFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Partner Function</stringValue>
        </value>
    </constants>
    <constants>
        <name>PhoneNumberFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone Number</stringValue>
        </value>
    </constants>
    <constants>
        <name>POBoxFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PO Box</stringValue>
        </value>
    </constants>
    <constants>
        <name>PostalCodeFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Postal Code</stringValue>
        </value>
    </constants>
    <constants>
        <name>PostStreetAddressLineFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Post-Street Address Line</stringValue>
        </value>
    </constants>
    <constants>
        <name>PreStreetAddressLineFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Pre-Street Address Line</stringValue>
        </value>
    </constants>
    <constants>
        <name>RegionFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Region</stringValue>
        </value>
    </constants>
    <constants>
        <name>SalesOrgFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales Org</stringValue>
        </value>
    </constants>
    <constants>
        <name>SAPAccountNUmberFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SAP Account Number</stringValue>
        </value>
    </constants>
    <constants>
        <name>SN_WarningMsgAlreadySubmittedForm</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Already the request is being processed for the below Fields:</stringValue>
        </value>
    </constants>
    <constants>
        <name>SN_WarningMsgAlreadySubmittedForm1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>If you still want to resubmit the form for any more update. please go ahead and submit the request.</stringValue>
        </value>
    </constants>
    <constants>
        <name>StreetAddressFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Street Address</stringValue>
        </value>
    </constants>
    <constants>
        <name>TaxCategoryFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Tax Category</stringValue>
        </value>
    </constants>
    <constants>
        <name>TaxCategoryZ1A1FieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Tax Category Z1A1</stringValue>
        </value>
    </constants>
    <constants>
        <name>TaxCategoryZ1A2FieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Tax Category Z1A2</stringValue>
        </value>
    </constants>
    <constants>
        <name>TaxCategoryZ1AUFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Tax Category Z1AU</stringValue>
        </value>
    </constants>
    <constants>
        <name>TaxCategoryZ1AXFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Tax Category Z1AX</stringValue>
        </value>
    </constants>
    <constants>
        <name>TaxNumber2FieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Tax Number 2</stringValue>
        </value>
    </constants>
    <constants>
        <name>TaxNumber3FieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Tax Number 3</stringValue>
        </value>
    </constants>
    <constants>
        <name>TaxNumber4FieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Tax Number 4</stringValue>
        </value>
    </constants>
    <constants>
        <name>TaxNumberFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Tax Number 1</stringValue>
        </value>
    </constants>
    <constants>
        <name>TaxNumberTypeFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Tax Number Type</stringValue>
        </value>
    </constants>
    <constants>
        <name>TaxTypeFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Tax Type</stringValue>
        </value>
    </constants>
    <constants>
        <name>TicketStatusFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Ticket Status</stringValue>
        </value>
    </constants>
    <constants>
        <name>TRBillingSystemFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>TR Billing System</stringValue>
        </value>
    </constants>
    <constants>
        <name>VATRegdNoFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>VAT Regd No.</stringValue>
        </value>
    </constants>
    <constants>
        <name>WebsiteFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Website</stringValue>
        </value>
    </constants>
    <constants>
        <name>WitholdingTaxFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Witholding Tax</stringValue>
        </value>
    </constants>
    <constants>
        <name>Z6ContactIDFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Z6 Contact ID</stringValue>
        </value>
    </constants>
    <constants>
        <name>ZCCustomrIDFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ZC Customer ID</stringValue>
        </value>
    </constants>
    <constants>
        <name>ZDContactIDFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ZD Contact ID</stringValue>
        </value>
    </constants>
    <constants>
        <name>ZECustomrIDFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ZE Customer ID</stringValue>
        </value>
    </constants>
    <constants>
        <name>ZWCustomrIDFieldLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ZW Customer ID</stringValue>
        </value>
    </constants>
    <dynamicChoiceSets>
        <name>Countries</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ESC_Country__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ParterFunctionPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ESC_Partner_Function__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SalesOrgPicklistChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LCRM_Sales_Org__c</picklistField>
        <picklistObject>Source_System_Detail__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <formulas>
        <name>FieldChanged</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;b&gt;&quot; + &quot;Consider only the fields with data to change in the master data:&quot; + &quot;&lt;/b&gt;&quot; + &quot;&lt;br/&gt;&quot; + 
&quot;&lt;b&gt;&quot; + &quot;Fields : Current Value to Propose value&quot; + &quot;&lt;/b&gt;&quot; + &quot;&lt;br/&gt;&quot; +
IF({!Account_Name} !={!AccountList.Name}, &quot;&lt;b&gt;&quot;+{!AccountNameFieldLabel} +&quot;&lt;/b&gt;&quot; + &apos; : &apos; + {!AccountList.Name} + &apos; to &apos; + {!Account_Name} + &apos;&lt;br/&gt;&apos;,&quot;&quot;) +
IF({!Account_Name_Line_2} !={!AccountSSDList.LCRM_Name_2__c},&quot;&lt;b&gt;&quot;+ {!AccountNameLine2FieldLabel} +&quot;&lt;b&gt;&quot;+ &apos; : &apos; + {!AccountSSDList.LCRM_Name_2__c} + &apos; to &apos; + {!Account_Name_Line_2} + &apos;&lt;br/&gt;&apos;,&quot;&quot;) +
IF({!Account_Name_Line_3} !={!AccountSSDList.LCRM_Name_3__c}, &quot;&lt;b&gt;&quot;+{!AccountNameLine3FieldLabel} + &quot;&lt;b&gt;&quot;+&apos; : &apos; + {!AccountSSDList.LCRM_Name_3__c} + &apos; to &apos; + {!Account_Name_Line_3} + &apos;&lt;br/&gt;&apos;,&quot;&quot;) +
IF(LOWER({!Pre_Street_Address_Line_Name}) != LOWER({!PreStreetAddressLineCurrentValue}), &quot;&lt;b&gt;&quot;+{!PreStreetAddressLineFieldLabel} +&quot;&lt;b&gt;&quot;+ &apos; to &apos; + {!PreStreetAddressLineCurrentValue} + &apos; : &apos; + {!Pre_Street_Address_Line_Name} + &apos;&lt;br/&gt;&apos;,&quot;&quot;)+
IF(LOWER({!Street_Name}) !=LOWER({!StreetAddressCurrentValue}),&quot;&lt;b&gt;&quot;+ {!StreetAddressFieldLabel} +&quot;&lt;b&gt;&quot;+ &apos; : &apos; + {!StreetAddressCurrentValue} + &apos; to &apos; + {!Street_Name} + &apos;&lt;br/&gt;&apos;,&quot;&quot;) +
IF(LOWER({!Post_Street_Address_Line_Name}) != LOWER({!PostStreetAddressLineCurrentValue}), &quot;&lt;b&gt;&quot;+{!PostStreetAddressLineFieldLabel} +&quot;&lt;b&gt;&quot;+ &apos; to &apos; + {!PostStreetAddressLineCurrentValue} + &apos; : &apos; + {!Post_Street_Address_Line_Name} + &quot;&lt;br/&gt;&quot;,&quot;&quot;) +
IF(LOWER({!PO_Box}) !=LOWER({!AccountSSDList.LCRM_PO_Box__c}),&quot;&lt;b&gt;&quot;+ {!POBoxFieldLabel} +&quot;&lt;b&gt;&quot;+ &apos; : &apos; + {!AccountSSDList.LCRM_PO_Box__c} + &apos; to &apos; + {!PO_Box} + &apos;&lt;br/&gt;&apos;,&quot;&quot;) +
IF({!Postal_Code} !={!AccountSSDList.Postal_Code__c}, &quot;&lt;b&gt;&quot;+{!PostalCodeFieldLabel} + &quot;&lt;b&gt;&quot;+&apos; : &apos;  + {!AccountSSDList.Postal_Code__c} + &apos; to &apos; + {!Postal_Code} + &apos;&lt;br/&gt;&apos; , &quot;&quot;) +
IF({!Phone_Number} !={!AccountSSDList.LCRM_Phone__c}, &quot;&lt;b&gt;&quot;+{!PhoneNumberFieldLabel} +&quot;&lt;b&gt;&quot;+ &apos; : &apos; + {!AccountSSDList.LCRM_Phone__c} + &apos; to &apos; + {!Phone_Number} + &apos;&lt;br/&gt;&apos; , &quot;&quot;) +
IF({!DistrictValue} !={!AccountSSDList.County__c}, &quot;&lt;b&gt;&quot;+{!DistrictFieldLabel} +&quot;&lt;b&gt;&quot;+ &apos; : &apos; + {!AccountSSDList.County__c} + &apos; to &apos; + {!DistrictValue} + &apos;&lt;br/&gt;&apos; , &quot;&quot;) +
IF(LOWER({!City_Name}) !=LOWER({!CityCurrentValue}), &quot;&lt;b&gt;&quot;+{!CityFIeldLabel} + &quot;&lt;b&gt;&quot;+&apos; : &apos; +  {!CityCurrentValue} + &apos; to  &apos; + {!City_Name} + &apos;&lt;br/&gt;&apos; ,&quot;&quot; ) +
IF(LOWER({!RegionValue}) !=LOWER({!AccountSSDList.State__c}), &quot;&lt;b&gt;&quot;+{!RegionFieldLabel} +&quot;&lt;b&gt;&quot;+ &apos; : &apos; +  {!AccountSSDList.State__c} + &apos; to  &apos; + {!RegionValue} + &apos;&lt;br/&gt;&apos; ,&quot;&quot; ) +
IF(LOWER({!Country_Name1}) !=LOWER({!CountryCurrentValue}), &quot;&lt;b&gt;&quot;+{!CountryFieldLabel} +&quot;&lt;b&gt;&quot;+ &apos; : &apos; +  {!CountryCurrentValue} + &apos; to  &apos; + {!Country_Name1} + &apos;&lt;br/&gt;&apos; ,&quot;&quot; ) +
IF(LOWER({!Email}) !=LOWER({!AccountSSDList.LCRM_Email__c}), &quot;&lt;b&gt;&quot;+{!EmailFieldLabel} + &quot;&lt;b&gt;&quot;+&apos; : &apos; + {!AccountSSDList.LCRM_Email__c} + &apos; to &apos; + {!Email} + &apos;&lt;br/&gt;&apos;, &quot;&quot;) +
IF(LOWER({!Website}) !=LOWER({!AccountSSDList.LCRM_Website__c}),&quot;&lt;b&gt;&quot;+ {!WebsiteFieldLabel} +&quot;&lt;b&gt;&quot;+ &apos; : &apos; + {!AccountSSDList.LCRM_Website__c} + &apos; to &apos; + {!Website} + &apos;&lt;br/&gt;&apos;,&quot;&quot;) +
IF(LOWER({!Industry}) !=LOWER({!AccountSSDList.LCRM_Industry__c}),&quot;&lt;b&gt;&quot;+{!IndustryFieldLabel} +&quot;&lt;b&gt;&quot;+ &apos; : &apos; +{!AccountSSDList.LCRM_Industry__c} + &apos; to &apos; + {!Industry} + &apos;&lt;br/&gt;&apos;, &quot;&quot;) +
IF(LOWER({!Customer_Group}) !=LOWER({!AccountSSDList.LCRM_Customer_Group__c}), &quot;&lt;b&gt;&quot;+{!CustomerGrpFieldLabel} +&quot;&lt;b&gt;&quot;+ &apos; : &apos; + {!AccountSSDList.LCRM_Customer_Group__c} + &apos; to &apos; + {!Customer_Group} + &apos;&lt;br/&gt;&apos;,&quot;&quot;) +
IF(LOWER({!Legal_Status}) !=LOWER({!AccountSSDList.Client_Type__c}),&quot;&lt;b&gt;&quot;+{!LegalStatusFieldLabel} + &quot;&lt;b&gt;&quot;+&apos; : &apos; +{!AccountSSDList.Client_Type__c} + &apos; to &apos; + {!Legal_Status} + &apos;&lt;br/&gt;&apos;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>FieldChanged1</name>
        <dataType>String</dataType>
        <expression>IF(LOWER({!Tax_Number})!=LOWER({!AccountSSDList.LCRM_Tax_Number__c}), &quot;&lt;b&gt;&quot;+{!TaxNumberFieldLabel} +&quot;&lt;b&gt;&quot;+ &apos; : &apos; + {!AccountSSDList.LCRM_Tax_Number__c} + &apos; to &apos; + {!Tax_Number} + &apos;&lt;br/&gt;&apos;,&quot;&quot;) + 
IF(LOWER({!Tax_Number_2})!= LOWER({!TaxNumber2DefaultValue}),&quot;&lt;b&gt;&quot;+{!TaxNumber2FieldLabel} +&quot;&lt;b&gt;&quot;+ &apos; : &apos; +{!TaxNumber2DefaultValue} + &apos; to &apos;  + {!Tax_Number_2} + &quot;&lt;br/&gt;&quot;,&quot;&quot; ) +
IF(LOWER({!Tax_Number_3_Name}) !=LOWER({!TaxNumber3CurrentValue}),&quot;&lt;b&gt;&quot;+{!TaxNumber3FieldLabel} + &quot;&lt;b&gt;&quot;+&apos; : &apos;  + {!TaxNumber3CurrentValue} + &apos; to &apos; + {!Tax_Number_3_Name} + &quot;&lt;br/&gt;&quot;,&quot;&quot;) +
IF(LOWER({!Tax_Number_4_Name})!= LOWER({!TaxNumber4CurrentValue}),&quot;&lt;b&gt;&quot;+{!TaxNumber4FieldLabel} +&quot;&lt;b&gt;&quot;+ &apos; : &apos; +{!TaxNumber4CurrentValue} + &apos; to &apos;  + {!Tax_Number_4_Name} + &quot;&lt;br/&gt;&quot;,&quot;&quot; ) +
IF(LOWER({!VAT_Regd_No_Name})!=LOWER({!VATRegdNoCurrentValue}),&quot;&lt;b&gt;&quot;+{!VATRegdNoFieldLabel} +&quot;&lt;b&gt;&quot;+ &apos; : &apos; +{!VATRegdNoCurrentValue} + &apos; to &apos; + {!VAT_Regd_No_Name} + &quot;&lt;br/&gt;&quot;,&quot;&quot;) + 
IF(LOWER({!Distribution}) !=LOWER({!AccountSSDList.LCRM_Distribution_Channel__c}), &quot;&lt;b&gt;&quot;+{!DistributionChannelFieldLabel} + &quot;&lt;b&gt;&quot;+&apos; : &apos; +{!AccountSSDList.LCRM_Distribution_Channel__c} + &apos; to &apos; + {!Distribution} + &apos;&lt;br/&gt;&apos;,&quot;&quot;) + 
IF(LOWER({!Customer_Class})!= LOWER({!CustomerClassDefaultValue}),&quot;&lt;b&gt;&quot;+{!CustomerClassFieldLabel} +&quot;&lt;b&gt;&quot;+ &apos; : &apos; +{!CustomerClassDefaultValue} + &apos; to &apos;  + {!Customer_Class} + &quot;&lt;br/&gt;&quot;,&quot;&quot; ) +
IF(LOWER({!Tax_Category})!= LOWER({!TaxCategoryDefaultValue}),&quot;&lt;b&gt;&quot;+{!TaxCategoryFieldLabel} +&quot;&lt;b&gt;&quot;+ &apos; : &apos; +{!TaxCategoryDefaultValue} + &apos; to &apos;  + {!Tax_Category} + &quot;&lt;br/&gt;&quot;,&quot;&quot; ) +
IF(LOWER({!Tax_Number_Type})!= LOWER({!TaxNumberTypeDefaultValue}),&quot;&lt;b&gt;&quot;+{!TaxNumberTypeFieldLabel} +&quot;&lt;b&gt;&quot;+ &apos; : &apos; +{!TaxNumberTypeDefaultValue} + &apos; to &apos;  + {!Tax_Number_Type} + &quot;&lt;br/&gt;&quot;,&quot;&quot; ) +
IF(LOWER({!Tax_Category_Z1A1})!= LOWER({!TaxCategoryZ1A1DefaultValue}),&quot;&lt;b&gt;&quot;+{!TaxCategoryZ1A1FieldLabel} +&quot;&lt;b&gt;&quot;+ &apos; : &apos; +{!TaxCategoryZ1A1DefaultValue} + &apos; to &apos;  + {!Tax_Category_Z1A1} + &quot;&lt;br/&gt;&quot;,&quot;&quot; ) +
IF(LOWER({!Tax_Category_Z1A2})!= LOWER({!TaxCategoryZ1A2DefaultValue}),&quot;&lt;b&gt;&quot;+{!TaxCategoryZ1A2FieldLabel} +&quot;&lt;b&gt;&quot;+ &apos; : &apos; +{!TaxCategoryZ1A2DefaultValue} + &apos; to &apos;  + {!Tax_Category_Z1A2} + &quot;&lt;br/&gt;&quot;,&quot;&quot; )</expression>
    </formulas>
    <formulas>
        <name>FieldChanged3</name>
        <dataType>String</dataType>
        <expression>IF(LOWER({!Tax_Category_Z1AU})!= LOWER({!TaxCategoryZ1AUDefaultValue}),&quot;&lt;b&gt;&quot;+{!TaxCategoryZ1AUFieldLabel} +&quot;&lt;b&gt;&quot;+ &apos; : &apos; +{!TaxCategoryZ1AUDefaultValue} + &apos; to &apos;  + {!Tax_Category_Z1AU} + &quot;&lt;br/&gt;&quot;,&quot;&quot; ) +
IF(LOWER({!Tax_Category_Z1AX})!= LOWER({!TaCategoryZ1AXDefaultValue}),&quot;&lt;b&gt;&quot;+{!TaxCategoryZ1AXFieldLabel} +&quot;&lt;b&gt;&quot;+ &apos; : &apos; +{!TaCategoryZ1AXDefaultValue} + &apos; to &apos;  + {!Tax_Category_Z1AX} + &quot;&lt;br/&gt;&quot;,&quot;&quot; ) +
IF(LOWER({!Tax_Type})!= LOWER({!TaxTypeDefaultValue}),&quot;&lt;b&gt;&quot;+{!TaxTypeFieldLabel} +&quot;&lt;b&gt;&quot;+ &apos; : &apos; +{!TaxTypeDefaultValue} + &apos; to &apos;  + {!Tax_Type} + &quot;&lt;br/&gt;&quot;,&quot;&quot; ) +
IF(LOWER({!CNAE})!= LOWER({!CNAEDefaultValue}),&quot;&lt;b&gt;&quot;+{!CNAEFieldLabel} +&quot;&lt;b&gt;&quot;+ &apos; : &apos; +{!CNAEDefaultValue} + &apos; to &apos;  + {!CNAE} + &quot;&lt;br/&gt;&quot;,&quot;&quot; ) +
IF(LOWER({!Witholding_Tax})!= LOWER({!WitholdingTaxDefaultValue}),&quot;&lt;b&gt;&quot;+{!WitholdingTaxFieldLabel} +&quot;&lt;b&gt;&quot;+ &apos; : &apos; +{!WitholdingTaxDefaultValue} + &apos; to &apos;  + {!Witholding_Tax} + &quot;&lt;br/&gt;&quot;,&quot;&quot; ) +
IF(LOWER({!Z6_Contact_ID})!= LOWER({!Z6ContactIDDefaultValue}),&quot;&lt;b&gt;&quot;+{!Z6ContactIDFieldLabel} +&quot;&lt;b&gt;&quot;+ &apos; : &apos; +{!Z6ContactIDDefaultValue} + &apos; to &apos;  + {!Z6_Contact_ID} + &quot;&lt;br/&gt;&quot;,&quot;&quot; ) + IF(LOWER({!ZD_Contact_ID})!= LOWER({!ZDContactIDDefaultValue}),&quot;&lt;b&gt;&quot;+{!ZDContactIDFieldLabel} +&quot;&lt;b&gt;&quot;+ &apos; : &apos; +{!ZDContactIDDefaultValue} + &apos; to &apos;  + {!ZD_Contact_ID} + &quot;&lt;br/&gt;&quot;,&quot;&quot; ) + IF(LOWER({!ZE_Customr_ID})!= LOWER({!ZECustomrIDDefaultValue}),&quot;&lt;b&gt;&quot;+{!ZECustomrIDFieldLabel} +&quot;&lt;b&gt;&quot;+ &apos; : &apos; +{!ZECustomrIDDefaultValue} + &apos; to &apos;  + {!ZE_Customr_ID} + &quot;&lt;br/&gt;&quot;,&quot;&quot; ) +
IF(LOWER({!ZC_Customr_ID})!= LOWER({!ZCCustomrIDDefaultValue}),&quot;&lt;b&gt;&quot;+{!ZCCustomrIDFieldLabel} +&quot;&lt;b&gt;&quot;+ &apos; : &apos; +{!ZCCustomrIDDefaultValue} + &apos; to &apos;  + {!ZC_Customr_ID} + &quot;&lt;br/&gt;&quot;,&quot;&quot; ) +
IF(LOWER({!ZW_Customr_ID})!= LOWER({!ZWCustomrIDDefaultValue}),&quot;&lt;b&gt;&quot;+{!ZWCustomrIDFieldLabel} +&quot;&lt;b&gt;&quot;+ &apos; : &apos; +{!ZWCustomrIDDefaultValue} + &apos; to &apos;  + {!ZW_Customr_ID} + &quot;&lt;br/&gt;&quot;,&quot;&quot; ) +
IF(LOWER({!TR_Billing_System})!= LOWER({!TRBillingSystemDefaultValue}),&quot;&lt;b&gt;&quot;+{!TRBillingSystemFieldLabel} +&quot;&lt;b&gt;&quot;+ &apos; : &apos; +{!TRBillingSystemDefaultValue} + &apos; to &apos;  + {!TR_Billing_System} + &quot;&lt;br/&gt;&quot;,&quot;&quot; ) +
IF(LOWER({!Additional_Details})!= LOWER({!AdditionalDetailsDefaultValue}),&quot;&lt;b&gt;&quot;+{!AdditionalDetailsFieldLabel} +&quot;&lt;b&gt;&quot;+ &apos; : &apos; +{!AdditionalDetailsDefaultValue} + &apos; to &apos;  + {!Additional_Details} + &quot;&lt;br/&gt;&quot;,&quot;&quot; ) +
IF(LOWER({!Ticket_Status})!= LOWER({!TicketStatusDefaultValue}),&quot;&lt;b&gt;&quot;+{!TicketStatusFieldLabel} +&quot;&lt;b&gt;&quot;+ &apos; : &apos; +{!TicketStatusDefaultValue} + &apos; to &apos;  + {!Ticket_Status} + &quot;&lt;br/&gt;&quot;,&quot;&quot; )</expression>
    </formulas>
    <formulas>
        <name>FieldChangedCity</name>
        <dataType>String</dataType>
        <expression>IF(NOT(REGEX({!Phone_Number}, &quot;\\D*?(\\d\\D*?){10}&quot;)),&quot;Please enter a valid Phone number . For eg: (999) 999-9999&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>FieldChangedCountry</name>
        <dataType>String</dataType>
        <expression>IF({!Country_Name1} !={!CountryCurrentValue}, {!CountryFieldLabel} + &apos; : &apos; +  {!CountryCurrentValue} + &apos; :  &apos; + {!Country_Name1} ,&quot;&quot; )</expression>
    </formulas>
    <formulas>
        <name>FieldChangedPF</name>
        <dataType>String</dataType>
        <expression>{!Caselist.Description}</expression>
    </formulas>
    <formulas>
        <name>PFFormula</name>
        <dataType>String</dataType>
        <expression>IF({!PFCurrentValue}!=&apos;&apos;,{!PFCurrentValue},&apos;None&apos;)</expression>
    </formulas>
    <formulas>
        <name>PhoneNumberPattern</name>
        <dataType>Boolean</dataType>
        <expression>REGEX({!Phone_Number}, &quot;\\D*?(\\d\\D*?){10}&quot;)</expression>
    </formulas>
    <formulas>
        <name>SalesOrgFormula</name>
        <dataType>String</dataType>
        <expression>IF({!SalesOrgCurrentValue}!=&apos;&apos;,{!SalesOrgCurrentValue},&apos;None&apos;)</expression>
    </formulas>
    <interviewLabel>Change Request to Master Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change Request to Master Data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Records</name>
        <label>Get Account Records</label>
        <locationX>533</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Owner_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Caselist.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>STores the data for Account SSD object</description>
        <name>Get_Account_SSD_Record</name>
        <label>Get Account SSD Record</label>
        <locationX>372</locationX>
        <locationY>268</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Caselist.AccountId</elementReference>
            </value>
        </filters>
        <object>Source_System_Detail__c</object>
        <outputReference>AccountSSDList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LCRM_Tax_3__c</queriedFields>
        <queriedFields>LCRM_Street3__c</queriedFields>
        <queriedFields>LCRM_Street4__c</queriedFields>
        <queriedFields>Number_Street__c</queriedFields>
        <queriedFields>LCRM_Tax_4__c</queriedFields>
        <queriedFields>City__c</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>LCRM_VAT__c</queriedFields>
        <queriedFields>LCRM_Sales_Org__c</queriedFields>
        <queriedFields>Postal_Code__c</queriedFields>
        <queriedFields>LCRM_Phone__c</queriedFields>
        <queriedFields>LCRM_Tax_Number__c</queriedFields>
        <queriedFields>LCRM_Distribution_Channel__c</queriedFields>
        <queriedFields>LCRM_Email__c</queriedFields>
        <queriedFields>LCRM_Industry__c</queriedFields>
        <queriedFields>Account_Name__c</queriedFields>
        <queriedFields>LCRM_Website__c</queriedFields>
        <queriedFields>LCRM_Customer_Group__c</queriedFields>
        <queriedFields>Source_System_Account_Number__c</queriedFields>
        <queriedFields>LCRM_Sub_BU__c</queriedFields>
        <queriedFields>LCRM_Name_2__c</queriedFields>
        <queriedFields>LCRM_Name_3__c</queriedFields>
        <queriedFields>LCRM_PO_Box__c</queriedFields>
        <queriedFields>State__c</queriedFields>
        <queriedFields>County__c</queriedFields>
        <queriedFields>Client_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Stores the data for Case record</description>
        <name>Get_case_record</name>
        <label>Get case record</label>
        <locationX>405</locationX>
        <locationY>143</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_SSD_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Caselist</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ESC_Partner_Function__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>USL_SAP_Account_Number__c</queriedFields>
        <queriedFields>ESC_Case_Owner_Role_Static__c</queriedFields>
        <queriedFields>Case_Owner_Manager_Email__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>ESC_External_Task_Reference_Number__c</queriedFields>
        <queriedFields>ESC_External_Ticket_Number__c</queriedFields>
        <queriedFields>Description</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Owner_Record</name>
        <label>Get Owner Record</label>
        <locationX>250</locationX>
        <locationY>440</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>English_Multiple_Change_Request_Screen_New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Caselist.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>OwnerObj</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Description_Update</name>
        <label>Description_Update</label>
        <locationX>987</locationX>
        <locationY>283</locationY>
        <connector>
            <targetReference>Create_Ref_and_Send_Data_to_Staging</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescriptionFieldUpdate</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>English_Multiple_Change_Request_Screen_New</name>
        <label>English Multiple Change Request Screen New</label>
        <locationX>698</locationX>
        <locationY>449</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FieldsChangedScreen</targetReference>
        </connector>
        <fields>
            <name>Header2</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!Header}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CaseOwnerId</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Account Owner ID:&lt;/b&gt; {!OwnerObj.Name}&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Account Owner Name: &lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Caselist.ESC_Case_Owner_Role_Static__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;﻿Account Owner Email : &lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Caselist.Case_Owner_Manager_Email__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;﻿SAP ACCT Number : &lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!AccountSSDList.Source_System_Account_Number__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;﻿SBU for Account : &lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!AccountSSDList.LCRM_Sub_BU__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;﻿&lt;/b&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Sales Org : &lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!AccountSSDList.LCRM_Sales_Org__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Partner Function : &lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Caselist.ESC_Partner_Function__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountList.Name</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;Account Name&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Account_Name_Line_2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountSSDList.LCRM_Name_2__c</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;Account Name Line 2 &lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Account_Name_Line_3</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountSSDList.LCRM_Name_3__c</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;Account Name Line 3 &lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Pre_Street_Address_Line_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PreStreetAddressLineCurrentValue</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;Pre-Street Address Line&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Street_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>StreetAddressCurrentValue</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;Street Address&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Post_Street_Address_Line_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PostStreetAddressLineCurrentValue</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;Post-Street Address Line&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PO_Box</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountSSDList.LCRM_PO_Box__c</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;PO Box &lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Postal_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountSSDList.Postal_Code__c</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;Postal Code&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Phone_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountSSDList.LCRM_Phone__c</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;Phone Number&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DistrictValue</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountSSDList.County__c</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;District &lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>City_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CityCurrentValue</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;City&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RegionValue</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountSSDList.State__c</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;Region &lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Country_Name1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CountryCurrentValue</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;Country&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountSSDList.LCRM_Email__c</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;Email&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Please enter a valid Email Address</errorMessage>
                <formulaExpression>REGEX({!Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Website</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountSSDList.LCRM_Website__c</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;Website&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Industry</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountSSDList.LCRM_Industry__c</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;Industry&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Customer_Group</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountSSDList.LCRM_Customer_Group__c</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;Customer Group&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Legal_Status</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountSSDList.Client_Type__c</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;Legal Status &lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Tax_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountSSDList.LCRM_Tax_Number__c</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;Tax Number 1&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Tax_Number_2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TaxNumber2DefaultValue</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;Tax Number 2&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Tax_Number_3_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TaxNumber3CurrentValue</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;Tax Number 3&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Tax_Number_4_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TaxNumber4CurrentValue</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;Tax Number 4&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VAT_Regd_No_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VATRegdNoCurrentValue</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;VAT Regd No. &lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Distribution</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountSSDList.LCRM_Distribution_Channel__c</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;Distribution Type&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Customer_Class</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CustomerClassDefaultValue</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;Customer Class&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Tax_Category</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TaxCategoryDefaultValue</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;Tax Category&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Tax_Number_Type</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TaxNumberTypeDefaultValue</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;Tax Number Type&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Tax_Category_Z1A1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TaxCategoryZ1A1DefaultValue</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;Tax Category Z1A1&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Tax_Category_Z1A2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TaxCategoryZ1A2DefaultValue</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;Tax Category Z1A2&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Tax_Category_Z1AU</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TaxCategoryZ1AUDefaultValue</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;Tax Category Z1AU&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Tax_Category_Z1AX</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TaCategoryZ1AXDefaultValue</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;Tax Category Z1AX&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Tax_Type</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TaxTypeDefaultValue</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;Tax Type&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CNAE</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CNAEDefaultValue</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;CNAE&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Witholding_Tax</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>WitholdingTaxDefaultValue</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;Witholding Tax&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Z6_Contact_ID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Z6ContactIDDefaultValue</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;Z6 Contact ID&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ZD_Contact_ID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ZDContactIDDefaultValue</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;ZD Contact ID&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ZE_Customr_ID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ZECustomrIDDefaultValue</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;ZE Customer ID&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ZC_Customr_ID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ZCCustomrIDDefaultValue</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;ZC Customer ID&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ZW_Customr_ID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ZWCustomrIDDefaultValue</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;ZW Customer ID&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TR_Billing_System</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TRBillingSystemDefaultValue</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;TR Billing System&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Additional_Details</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AdditionalDetailsDefaultValue</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;Additional Details&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ticket_Status</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TicketStatusDefaultValue</elementReference>
            </defaultValue>
            <fieldText>&lt;b&gt;Ticket Status&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FieldsChangedScreen</name>
        <label>FieldsChangedScreen</label>
        <locationX>660</locationX>
        <locationY>284</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_case_Description_field</targetReference>
        </connector>
        <fields>
            <name>FieldsChanged</name>
            <fieldText>&lt;p&gt;{!FieldChanged}{!FieldChanged1}{!FieldChanged3}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_case_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AddBlankSpace</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;</text>
    </textTemplates>
    <textTemplates>
        <name>MasterDataChangeTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!FieldChanged}&lt;/p&gt;&lt;p&gt;{!FieldChanged1}&lt;/p&gt;&lt;p&gt;{!FieldChanged3}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Caselist.Description}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>PortugeuseMasterDataChange</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;text&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SpanishMasterDataChange</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;gfgh&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TaxNumberCoiceTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>00 C.I. Policía Federal
01 C.I. Buenos Aires
02 C.I. Catamarca
03 C.I. Córdoba
04 C.I. Corrientes
05 C.I. Entre Ríos
06 C.I. Jujuy
07 C.I. Mendoza
08 C.I. La Rioja
09 C.I. Salta
10 C.I. San Juan
11 C.I. San Luis
12 C.I. Santa Fé
13 C.I. Santiago del Estero
14 C.I. Tucumán
16 C.I. Chaco
17 C.I. Chubut
18 C.I. Formosa
19 C.I. Misiones
20 C.I. Neuquén
21 C.I. La Pampa
22 C.I. Río Negro
23 C.I. Santa Cruz
24 C.I. Tierra del Fuego
70 C.I.
71 CNPJ
72 CPF
73 D.N.I. PERÚ
74 PASAPORTE
75 R.U.C. PARAGUAY
76 R.U.C. PERÚ
77 R.U.T. CHILE
78 R.U.T. URUGUAY
79 RG
80 C.U.I.T.
85 D.N.R.P.
86 C.U.I.L.
87 C.D.I.
89 L.E.
90 L.C.
94 Passport
96 D.N.I.
99 Others</text>
    </textTemplates>
    <variables>
        <name>AccountArchived</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountSSDList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Source_System_Detail__c</objectType>
    </variables>
    <variables>
        <name>AdditionalDetailsDefaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Caselist</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>stores the curreent value of city field on ssd object</description>
        <name>CityCurrentValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>AccountSSDList.City__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>CNAEDefaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactArchived</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the current value of the country field on Account SSD Object</description>
        <name>CountryCurrentValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>AccountSSDList.Country__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>CustomerClassDefaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DescriptionFieldUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>MasterDataChangeTemplate</elementReference>
        </value>
    </variables>
    <variables>
        <name>DescriptionFieldUpdate1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MasterDataChangeTemplateNew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>FieldChanged</elementReference>
        </value>
    </variables>
    <variables>
        <name>OwnerObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>PFCurrentValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Caselist.ESC_Partner_Function__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>Stores the current value of Post-street address line field on Account SSD</description>
        <name>PostStreetAddressLineCurrentValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>AccountSSDList.LCRM_Street4__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>Stores the current value of Pre-street address line field on Account SSD</description>
        <name>PreStreetAddressLineCurrentValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>AccountSSDList.LCRM_Street3__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>SalesOrgCurrentValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>AccountSSDList.LCRM_Sales_Org__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>SelectedLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the current value of street Address field on Account SSD</description>
        <name>StreetAddressCurrentValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>AccountSSDList.Number_Street__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>TaCategoryZ1AXDefaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaxCategoryDefaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaxCategoryZ1A1DefaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaxCategoryZ1A2DefaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaxCategoryZ1AUDefaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>STores the current value of Tax Number 2 Field on Account SSD</description>
        <name>TaxNumber2CurrentValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>AccountSSDList.LCRM_Account_Group__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>TaxNumber2DefaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the current value of Tax Number 3 Field on Account SSD</description>
        <name>TaxNumber3CurrentValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>AccountSSDList.LCRM_Tax_3__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>Stors the current value of Tax Number 4 Field on Account SSD.</description>
        <name>TaxNumber4CurrentValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>AccountSSDList.LCRM_Tax_4__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>TaxNumberTypeDefaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaxTypeDefaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TicketStatusDefaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TRBillingSystemDefaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>userProfile Variable is passed in from apex page</description>
        <name>userProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the current value of VAT Regd no. field of Account SSD.</description>
        <name>VATRegdNoCurrentValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>AccountSSDList.LCRM_VAT__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>stores the account id associated with the case</description>
        <name>vrAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WitholdingTaxDefaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Z6ContactIDDefaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ZCCustomrIDDefaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ZDContactIDDefaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ZECustomrIDDefaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ZWCustomrIDDefaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
