flows/Enhanced_Clone.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_all_Marketing_Events_to_One_collection_Variable</name>
        <label>Assign all Marketing Events to One collection Variable</label>
        <locationX>750</locationX>
        <locationY>18</locationY>
        <assignmentItems>
            <assignToReference>NEWMarketingactivityCollectionVAR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NEWMarketingactivityVAR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extract_Marketing_history_from_Lead_one_by_one</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_data_to_the_new_Marketing_activityVariable</name>
        <label>Assign data to the new Marketing activityVariable</label>
        <locationX>954</locationX>
        <locationY>127</locationY>
        <assignmentItems>
            <assignToReference>NEWMarketingactivityVAR.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarketingActivityVAR.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NEWMarketingactivityVAR.ELOQUA__Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newleadid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NEWMarketingactivityVAR.Activity_Type_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarketingActivityVAR.Activity_Type_Detail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NEWMarketingactivityVAR.ELOQUA__Activity_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarketingActivityVAR.ELOQUA__Activity_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NEWMarketingactivityVAR.ELOQUA__Activity_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarketingActivityVAR.ELOQUA__Activity_Detail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NEWMarketingactivityVAR.ELOQUA__Activity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarketingActivityVAR.ELOQUA__Activity_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NEWMarketingactivityVAR.ELOQUA__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarketingActivityVAR.ELOQUA__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NEWMarketingactivityVAR.LCRM_Mktg_Tracking_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarketingActivityVAR.LCRM_Mktg_Tracking_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_all_Marketing_Events_to_One_collection_Variable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_the_lead_status_is_Telesales_Accepted</name>
        <label>Check if the lead status is &quot;Telesales Accepted&quot;</label>
        <locationX>48</locationX>
        <locationY>108</locationY>
        <defaultConnector>
            <targetReference>If_the_Lead_Status_is_not_Telesales_Accepted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_the_Lead_status_is_Telesales_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Telesales Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CREATE_LEAD</targetReference>
            </connector>
            <label>If the Lead status is Telesales Accepted</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_the_Marketingrelatedlist_size_is_greater_than_zero</name>
        <label>check if the Marketingrelatedlist size is greater than zero</label>
        <locationX>449</locationX>
        <locationY>69</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_the_Marketinglistcollectionvar_size_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Marketinghistory_CollectionVAR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Endflow</targetReference>
            </connector>
            <label>If the Marketinglistcollectionvar size is null</label>
        </rules>
        <rules>
            <name>if_the_Marketinglist_collection_var_size_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Marketinghistory_CollectionVAR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extract_Marketing_history_from_Lead_one_by_one</targetReference>
            </connector>
            <label>if the Marketinglist collection var size is not null</label>
        </rules>
    </decisions>
    <description>This flow is used to clone a Lead record with Marketing and Campaign history relaed list</description>
    <interviewLabel>Enhanced Clone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enhanced Clone</label>
    <loops>
        <name>Extract_Marketing_history_from_Lead_one_by_one</name>
        <label>Extract Marketing history from Lead one by one</label>
        <locationX>744</locationX>
        <locationY>129</locationY>
        <assignNextValueToReference>MarketingActivityVAR</assignNextValueToReference>
        <collectionReference>Marketinghistory_CollectionVAR</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_data_to_the_new_Marketing_activityVariable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>NEW_Marketing_Activity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>CREATE_LEAD</name>
        <label>CREATE LEAD</label>
        <locationX>318</locationX>
        <locationY>193</locationY>
        <assignRecordIdToReference>newleadid</assignRecordIdToReference>
        <connector>
            <targetReference>check_if_the_Marketingrelatedlist_size_is_greater_than_zero</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_City__c</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Country__c</field>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_State__c</field>
            <value>
                <elementReference>BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Street__c</field>
            <value>
                <elementReference>BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Zip__c</field>
            <value>
                <elementReference>Zipcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Cell__c</field>
            <value>
                <elementReference>CampaignCell</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>AccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Trial_Account_ID__c</field>
            <value>
                <elementReference>ExternalTrialAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Trial_Contact_ID__c</field>
            <value>
                <elementReference>ExternalTrialContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>firstname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form_Organization_Type__c</field>
            <value>
                <elementReference>FormOrganizationtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>High_Level_Customer_Type__c</field>
            <value>
                <elementReference>HighLevelCustomerType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_GLI__c</field>
            <value>
                <elementReference>IsGLI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LCRM_Product_Interest__c</field>
            <value>
                <elementReference>LCRMProductInterest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LCRM_Sub_BU__c</field>
            <value>
                <elementReference>SubBU</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>lastname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Scoring_Combined__c</field>
            <value>
                <elementReference>LeadScore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Line_of_Business__c</field>
            <value>
                <elementReference>LineofBusiness</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operating_Unit__c</field>
            <value>
                <elementReference>OpeartingUnit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Lead_ID__c</field>
            <value>
                <elementReference>OriginalLeadidvalueparent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phonetext</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Campaign_Source__c</field>
            <value>
                <elementReference>PrimaryCampaignSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating</field>
            <value>
                <elementReference>Rating</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rep_Type__c</field>
            <value>
                <elementReference>RepType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Org__c</field>
            <value>
                <elementReference>SalesOrg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Desc__c</field>
            <value>
                <elementReference>Source_Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>SourceType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRWayLeadMgmt__Panorama_Lead_Source__c</field>
            <value>
                <elementReference>PanoramaLeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRWayLeadMgmt__Panorama_Lead_Stage__c</field>
            <value>
                <elementReference>PanoramaLeadStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRWayLeadMgmt__Panorama_SLA__c</field>
            <value>
                <elementReference>PanoramaSLA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tele_Interaction__c</field>
            <value>
                <elementReference>TeleIntercation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Territory_Information__c</field>
            <value>
                <elementReference>TelesalesTerritoryInformation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tracking_Code__c</field>
            <value>
                <elementReference>TrackingCode</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>NEW_Marketing_Activity</name>
        <label>NEW Marketing Activity</label>
        <locationX>738</locationX>
        <locationY>252</locationY>
        <connector>
            <targetReference>Endflow</targetReference>
        </connector>
        <inputReference>NEWMarketingactivityCollectionVAR</inputReference>
    </recordCreates>
    <recordLookups>
        <name>LEAD_CLONE</name>
        <label>Lead Clone with related list</label>
        <locationX>11</locationX>
        <locationY>12</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MarketingHistoryRealtedlist_Leadobject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LEADID</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>AccountPhone</assignToReference>
            <field>Account_Phone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Account</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>City</assignToReference>
            <field>Billing_City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Country</assignToReference>
            <field>Billing_Country__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BillingState</assignToReference>
            <field>Billing_State__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BillingStreet</assignToReference>
            <field>Billing_Street__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Zipcode</assignToReference>
            <field>Billing_Zip__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CampaignCell</assignToReference>
            <field>Campaign_Cell__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountName</assignToReference>
            <field>Company</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Contact</assignToReference>
            <field>Contact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Description</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ExternalTrialAccountId</assignToReference>
            <field>External_Trial_Account_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ExternalTrialContactId</assignToReference>
            <field>External_Trial_Contact_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>firstname</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FormOrganizationtype</assignToReference>
            <field>Form_Organization_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>HighLevelCustomerType</assignToReference>
            <field>High_Level_Customer_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IsGLI</assignToReference>
            <field>Is_GLI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LCRMProductInterest</assignToReference>
            <field>LCRM_Product_Interest__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SubBU</assignToReference>
            <field>LCRM_Sub_BU__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LastActivityDate</assignToReference>
            <field>LastActivityDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>lastname</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OriginalLeadidvalueparent</assignToReference>
            <field>LeadID18__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadSource</assignToReference>
            <field>LeadSource</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadScore</assignToReference>
            <field>Lead_Scoring_Combined__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LineofBusiness</assignToReference>
            <field>Line_of_Business__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpeartingUnit</assignToReference>
            <field>Operating_Unit__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Phonetext</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrimaryCampaignSource</assignToReference>
            <field>Primary_Campaign_Source__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Rating</assignToReference>
            <field>Rating</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RepType</assignToReference>
            <field>Rep_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SalesOrg</assignToReference>
            <field>Sales_Org__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Source_Desc</assignToReference>
            <field>Source_Desc__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SourceType</assignToReference>
            <field>Source__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>status</assignToReference>
            <field>Status</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountNumberLead</assignToReference>
            <field>TMS_Account_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Competitor</assignToReference>
            <field>TRWayLeadMgmt__Panorama_Competitor__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PanoramaLeadSource</assignToReference>
            <field>TRWayLeadMgmt__Panorama_Lead_Source__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PanoramaLeadStage</assignToReference>
            <field>TRWayLeadMgmt__Panorama_Lead_Stage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PanoramaSLA</assignToReference>
            <field>TRWayLeadMgmt__Panorama_SLA__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TeleIntercation</assignToReference>
            <field>Tele_Interaction__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TelesalesTerritoryInformation</assignToReference>
            <field>Territory_Information__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Title</assignToReference>
            <field>Title</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TrackingCode</assignToReference>
            <field>Tracking_Code__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MarketingHistoryRealtedlist_Leadobject</name>
        <label>MarketingHistoryRealtedlist_Leadobject</label>
        <locationX>161</locationX>
        <locationY>8</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_the_lead_status_is_Telesales_Accepted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ELOQUA__Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LEADID</elementReference>
            </value>
        </filters>
        <object>ELOQUA__Marketing_Activity__c</object>
        <outputReference>Marketinghistory_CollectionVAR</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Activity_Type_Detail__c</queriedFields>
        <queriedFields>ELOQUA__Activity_Date__c</queriedFields>
        <queriedFields>ELOQUA__Activity_Detail__c</queriedFields>
        <queriedFields>ELOQUA__Activity_Type__c</queriedFields>
        <queriedFields>ELOQUA__Contact__c</queriedFields>
        <queriedFields>LCRM_Mktg_Tracking_Email__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Endflow</name>
        <label>Endflow</label>
        <locationX>491</locationX>
        <locationY>273</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EndClonedLeadFlow</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;The Lead has been cloned. Please click on the below link to view the cloned record &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;A HREF=&quot;https://cs69.salesforce.com/{!newleadid}&quot; TARGET=&quot;_blank&quot;&gt; &lt;/A&gt;&lt;A HREF=&quot;/{!newleadid}&quot; TARGET=&quot;_blank&quot;&gt;{!AccountName}&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>If_the_Lead_Status_is_not_Telesales_Accepted</name>
        <label>If the Lead Status is not Telesales Accepted</label>
        <locationX>59</locationX>
        <locationY>220</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrormessageStatus</name>
            <fieldText>Leads can be cloned only with the status of Telesales Accepted</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>LEAD_CLONE</startElementReference>
    <status>Obsolete</status>
    <textTemplates>
        <name>EndText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Your Lead has been cloned. Please return to the record {!newleadid}</text>
    </textTemplates>
    <variables>
        <name>Account</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Account Number from Parent lead reecord</description>
        <name>AccountNumberLead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Billing state from the parent lead</description>
        <name>BillingState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Billing street from the Parent lead record</description>
        <name>BillingStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CamapignHistoryCollectionVAR</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>CamapignHistoryVAR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>CampaignCell</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Competitor</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CreatedBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CreatedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CustomerClass</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CustomerGroup</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CustomerType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Dials</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>15</scale>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EventCollectVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>EventNEWCollectionVAR</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>Eventvariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>ExternalTrialAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExternalTrialContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>firstname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FormOrganizationtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>HighLevelCustomerType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IsGLI</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LastActivityDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>lastname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LCRMProductInterest</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Lead_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LEADID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadProductCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead_Product__c</objectType>
    </variables>
    <variables>
        <name>LeadproductVAR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead_Product__c</objectType>
    </variables>
    <variables>
        <name>LeadScore</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadSource</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadStage</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LEADTESTID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LineofBusiness</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MarketingActivityCollectionVAR</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ELOQUA__Marketing_Activity__c</objectType>
    </variables>
    <variables>
        <name>MarketingActivityVAR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ELOQUA__Marketing_Activity__c</objectType>
    </variables>
    <variables>
        <name>Marketinghistory_CollectionVAR</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ELOQUA__Marketing_Activity__c</objectType>
    </variables>
    <variables>
        <name>NEWCampaignHistoryCollectionVAR</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>NEWCampaignHistoryVAR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>NEWEventVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>newleadid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NEWLeadproductCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead_Product__c</objectType>
    </variables>
    <variables>
        <name>newLeadproductVAR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead_Product__c</objectType>
    </variables>
    <variables>
        <name>NEWMarketingactivityCollectionVAR</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ELOQUA__Marketing_Activity__c</objectType>
    </variables>
    <variables>
        <name>NEWMarketingactivityVAR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ELOQUA__Marketing_Activity__c</objectType>
    </variables>
    <variables>
        <name>NEWRecurringEventVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>newTaskVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>OpeartingUnit</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OriginalLeadidvalueparent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PanoramaLeadSource</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PanoramaLeadStage</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PanoramaSLA</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>15</scale>
    </variables>
    <variables>
        <name>Phonetext</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrimaryCampaignSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductsolutionofInterest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Rating</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Collection  variable to store only the recurring events</description>
        <name>RecurssiveCollevctionvariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>RepType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesOrg</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Source_Desc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SourceType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>status</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SubBU</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Taskcollectionvar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Tasknewobjcollectionvar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Taskobjectvariabletype</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TeleIntercation</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Telesales Territory In formation from the parent lead record</description>
        <name>TelesalesTerritoryInformation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Title</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TrackingCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Zipcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
