flows/ESC_Home_Page_Owner_Change.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_logged_in_userid_as_ownerid</name>
        <label>Assign logged in userid as ownerid</label>
        <locationX>342</locationX>
        <locationY>380</locationY>
        <assignmentItems>
            <assignToReference>GetReferralRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoggedinUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Referral_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_the_Case_Owner</name>
        <label>Update the Case Owner</label>
        <locationX>309</locationX>
        <locationY>101</locationY>
        <assignmentItems>
            <assignToReference>GetCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoggedinUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Owner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_it_is_caseid_or_referral_id</name>
        <label>Check if it is caseid or referral id</label>
        <locationX>47</locationX>
        <locationY>188</locationY>
        <defaultConnector>
            <targetReference>Get_Referrral_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is ReferralID</defaultConnectorLabel>
        <rules>
            <name>Is_CaseID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Record</targetReference>
            </connector>
            <label>Is CaseID</label>
        </rules>
    </decisions>
    <formulas>
        <name>LoggedinUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>ESC Home Page Owner Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ESC Home Page Owner Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>To get the Case record</description>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>183</locationX>
        <locationY>102</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_the_Case_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>GetCase</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Referrral_Record</name>
        <label>Get Referrral Record</label>
        <locationX>122</locationX>
        <locationY>410</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_logged_in_userid_as_ownerid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>ESC_Case_Collaborator__c</object>
        <outputReference>GetReferralRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Owner</name>
        <label>Update_Case_Owner</label>
        <locationX>473</locationX>
        <locationY>102</locationY>
        <inputReference>GetCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Referral_Record</name>
        <label>Update Referral Record</label>
        <locationX>506</locationX>
        <locationY>367</locationY>
        <inputReference>GetReferralRecord</inputReference>
    </recordUpdates>
    <startElementReference>Check_if_it_is_caseid_or_referral_id</startElementReference>
    <status>Active</status>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GetCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>GetCaserecord</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GetReferralRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ESC_Case_Collaborator__c</objectType>
    </variables>
</Flow>
