flows/ESC_Maritz_Case_Closure_With_Survey.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>Send MaritzCX Survey Invitations</stringValue>
            </value>
        </processMetadataValues>
        <name>myWaitEvent_myWait_myRule_1_event_0_SA1</name>
        <label>Survey mail Invitation code</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>MaritzCX__SendInvitationsInvocableCls</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>myWaitEvent_myWait_myRule_1_event_0_postWaitExecutionAssignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Record Id</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>recordId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>MaritzCX Invitation Settings Id</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>mcxInvitationSettingId</name>
            <value>
                <elementReference>formula_2_myWaitEvent_myWait_myRule_1_event_0_SA1_0362845808</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>Send MaritzCX Survey Invitations</stringValue>
            </value>
        </processMetadataValues>
        <name>myWaitEvent_myWait_myRule_4_event_0_SA1</name>
        <label>LatAm Survey mail Invitation</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <actionName>MaritzCX__SendInvitationsInvocableCls</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>myWaitEvent_myWait_myRule_4_event_0_postWaitExecutionAssignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Record Id</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>recordId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>MaritzCX Invitation Settings Id</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>mcxInvitationSettingId</name>
            <value>
                <elementReference>formula_5_myWaitEvent_myWait_myRule_4_event_0_SA1_3447310604</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myWaitAssignment_myWait_myRule_1</name>
        <label>myWaitAssignment_myWait_myRule_1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>cancelWaits</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>myWait_myRule_1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>myWaitAssignment_myWait_myRule_4</name>
        <label>myWaitAssignment_myWait_myRule_4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>cancelWaits</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>myWait_myRule_4</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myPreWaitDecision_myWait_myRule_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>myWaitEvent_myWait_myRule_1_event_0_postWaitExecutionAssignment</name>
        <label>myWaitEvent_myWait_myRule_1_event_0_postWaitExecutionAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myWaitEvent_myWait_myRule_1_event_0_postActionExecutionVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myWait_myRule_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>myWaitEvent_myWait_myRule_4_event_0_postWaitExecutionAssignment</name>
        <label>myWaitEvent_myWait_myRule_4_event_0_postWaitExecutionAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myWaitEvent_myWait_myRule_4_event_0_postActionExecutionVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myWait_myRule_4</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>GLI Case closure and survey</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision3</name>
        <label>myDecision3</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_pmetdec</targetReference>
            </connector>
            <label>Latam Case closure and survey</label>
        </rules>
    </decisions>
    <decisions>
        <name>myPostWaitDecision_myWaitEvent_myWait_myRule_1_event_0</name>
        <label>myPostWaitDecision_myWaitEvent_myWait_myRule_1_event_0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myWaitEvent_myWait_myRule_1_event_0_postWaitExecutionAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myPostWaitRule_myWaitEvent_myWait_myRule_1_event_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_current.ClosedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myWaitEvent_myWait_myRule_1_event_0_SA1</targetReference>
            </connector>
            <label>myPostWaitRule_myWaitEvent_myWait_myRule_1_event_0</label>
        </rules>
    </decisions>
    <decisions>
        <name>myPostWaitDecision_myWaitEvent_myWait_myRule_4_event_0</name>
        <label>myPostWaitDecision_myWaitEvent_myWait_myRule_4_event_0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myWaitEvent_myWait_myRule_4_event_0_postWaitExecutionAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myPostWaitRule_myWaitEvent_myWait_myRule_4_event_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_current.ClosedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myWaitEvent_myWait_myRule_4_event_0_SA1</targetReference>
            </connector>
            <label>myPostWaitRule_myWaitEvent_myWait_myRule_4_event_0</label>
        </rules>
    </decisions>
    <decisions>
        <name>myPreWaitDecision_myWait_myRule_1</name>
        <label>myPreWaitDecision_myWait_myRule_1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myWaitAssignment_myWait_myRule_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myPreWaitRule_myWait_myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>myPreWaitRule_myWait_myRule_1</label>
        </rules>
    </decisions>
    <decisions>
        <name>myPreWaitDecision_myWait_myRule_4</name>
        <label>myPreWaitDecision_myWait_myRule_4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myWaitAssignment_myWait_myRule_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myPreWaitRule_myWait_myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myPreWaitDecision_myWait_myRule_1</targetReference>
            </connector>
            <label>myPreWaitRule_myWait_myRule_4</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myWait_myRule_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myWait_myRule_1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_4_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>400</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myWait_myRule_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_4_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myWait_myRule_4</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_4_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>Elite case closure with survey</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$setup.ESC_MaritzCX_InvitationCode__c.InviteCode__c</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myWaitEvent_myWait_myRule_1_event_0_SA1_0362845808</name>
        <dataType>Number</dataType>
        <expression>{!$setup.ESC_MaritzCX_InvitationCode__c.InviteCode__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$setup.ESC_MaritzCX_InvitationCode__c.Latam_InviteCode__c</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myWaitEvent_myWait_myRule_4_event_0_SA1_3447310604</name>
        <dataType>Number</dataType>
        <expression>{!$setup.ESC_MaritzCX_InvitationCode__c.Latam_InviteCode__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND($Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c = false,[Case].Is_ESC_Case__c = true ,
NOT(ISNULL([Case].ContactId)), [Case].IsClosed  = true,[Case].ESC_Reopen_Case__c = false,
(AND(TEXT([Case].ESC_Product_Segment_Brand__c) != null, TEXT([Case].ESC_Product_Segment_Brand__c) != &apos;&apos;,
((CONTAINS($Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment1__c,TEXT([Case].ESC_Product_Segment_Brand__c))) 
||(CONTAINS($Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment2__c,TEXT([Case].ESC_Product_Segment_Brand__c)))
||(CONTAINS($Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment3__c,TEXT([Case].ESC_Product_Segment_Brand__c)))
||(TEXT([Case].ESC_Product_Segment_Brand__c) = $Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment4__c)
||(TEXT([Case].ESC_Product_Segment_Brand__c) = $Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment5__c)
||(TEXT([Case].ESC_Product_Segment_Brand__c) = $Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment6__c)
||(TEXT([Case].ESC_Product_Segment_Brand__c) = $Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment7__c)
||(TEXT([Case].ESC_Product_Segment_Brand__c) = $Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment8__c)
||(TEXT([Case].ESC_Product_Segment_Brand__c) = $Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment9__c)
||(TEXT([Case].ESC_Product_Segment_Brand__c) = $Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment10__c)))),
((CONTAINS($Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type1__c,TEXT([Case].ESC_Case_Type__c))) 
||(CONTAINS($Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type2__c,TEXT([Case].ESC_Case_Type__c)))
||(TEXT([Case].ESC_Case_Type__c) = $Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type3__c)
||(TEXT([Case].ESC_Case_Type__c) = $Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type4__c)
||(TEXT([Case].ESC_Case_Type__c) = $Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type5__c)),
NOT(AND(TEXT([Case].ESC_Proactive_Type__c) != null, TEXT([Case].ESC_Proactive_Type__c) != &apos;&apos;,
((CONTAINS($Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Proactive_Type1__c,TEXT([Case].ESC_Proactive_Type__c))) 
||(CONTAINS($Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Proactive_Type2__c,TEXT([Case].ESC_Proactive_Type__c))))
)),
NOT(AND(TEXT([Case].ESC_Product_Title__c) != null, TEXT([Case].ESC_Product_Title__c) != &apos;&apos;,
((CONTAINS($Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Product_Title1__c,TEXT([Case].ESC_Product_Title__c))) 
||(CONTAINS($Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Product_Title2__c,TEXT([Case].ESC_Product_Title__c)))
||(CONTAINS($Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Product_Title3__c,TEXT([Case].ESC_Product_Title__c)))
||(TEXT([Case].ESC_Product_Title__c) = $Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Product_Title4__c)
||(TEXT([Case].ESC_Product_Title__c) = $Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Product_Title5__c)
||(TEXT([Case].ESC_Product_Title__c) = $Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Product_Title6__c)
||(TEXT([Case].ESC_Product_Title__c) = $Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Product_Title7__c)
||(TEXT([Case].ESC_Product_Title__c) = $Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Product_Title8__c)
||(TEXT([Case].ESC_Product_Title__c) = $Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Product_Title9__c)
)
))
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND({!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c} = false,{!myVariable_current.Is_ESC_Case__c} = true ,
NOT(ISNULL({!myVariable_current.ContactId})), {!myVariable_current.IsClosed}  = true,{!myVariable_current.ESC_Reopen_Case__c} = false,
(AND(TEXT({!myVariable_current.ESC_Product_Segment_Brand__c}) != null, TEXT({!myVariable_current.ESC_Product_Segment_Brand__c}) != &apos;&apos;,
((CONTAINS({!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment1__c},TEXT({!myVariable_current.ESC_Product_Segment_Brand__c}))) 
||(CONTAINS({!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment2__c},TEXT({!myVariable_current.ESC_Product_Segment_Brand__c})))
||(CONTAINS({!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment3__c},TEXT({!myVariable_current.ESC_Product_Segment_Brand__c})))
||(TEXT({!myVariable_current.ESC_Product_Segment_Brand__c}) = {!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment4__c})
||(TEXT({!myVariable_current.ESC_Product_Segment_Brand__c}) = {!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment5__c})
||(TEXT({!myVariable_current.ESC_Product_Segment_Brand__c}) = {!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment6__c})
||(TEXT({!myVariable_current.ESC_Product_Segment_Brand__c}) = {!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment7__c})
||(TEXT({!myVariable_current.ESC_Product_Segment_Brand__c}) = {!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment8__c})
||(TEXT({!myVariable_current.ESC_Product_Segment_Brand__c}) = {!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment9__c})
||(TEXT({!myVariable_current.ESC_Product_Segment_Brand__c}) = {!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment10__c})))),
((CONTAINS({!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type1__c},TEXT({!myVariable_current.ESC_Case_Type__c}))) 
||(CONTAINS({!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type2__c},TEXT({!myVariable_current.ESC_Case_Type__c})))
||(TEXT({!myVariable_current.ESC_Case_Type__c}) = {!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type3__c})
||(TEXT({!myVariable_current.ESC_Case_Type__c}) = {!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type4__c})
||(TEXT({!myVariable_current.ESC_Case_Type__c}) = {!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type5__c})),
NOT(AND(TEXT({!myVariable_current.ESC_Proactive_Type__c}) != null, TEXT({!myVariable_current.ESC_Proactive_Type__c}) != &apos;&apos;,
((CONTAINS({!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Proactive_Type1__c},TEXT({!myVariable_current.ESC_Proactive_Type__c}))) 
||(CONTAINS({!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Proactive_Type2__c},TEXT({!myVariable_current.ESC_Proactive_Type__c}))))
)),
NOT(AND(TEXT({!myVariable_current.ESC_Product_Title__c}) != null, TEXT({!myVariable_current.ESC_Product_Title__c}) != &apos;&apos;,
((CONTAINS({!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Product_Title1__c},TEXT({!myVariable_current.ESC_Product_Title__c}))) 
||(CONTAINS({!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Product_Title2__c},TEXT({!myVariable_current.ESC_Product_Title__c})))
||(CONTAINS({!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Product_Title3__c},TEXT({!myVariable_current.ESC_Product_Title__c})))
||(TEXT({!myVariable_current.ESC_Product_Title__c}) = {!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Product_Title4__c})
||(TEXT({!myVariable_current.ESC_Product_Title__c}) = {!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Product_Title5__c})
||(TEXT({!myVariable_current.ESC_Product_Title__c}) = {!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Product_Title6__c})
||(TEXT({!myVariable_current.ESC_Product_Title__c}) = {!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Product_Title7__c})
||(TEXT({!myVariable_current.ESC_Product_Title__c}) = {!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Product_Title8__c})
||(TEXT({!myVariable_current.ESC_Product_Title__c}) = {!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Product_Title9__c})
)
))
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND($Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c = false,[Case].Is_ESC_Case__c = true ,
NOT(ISNULL([Case].ContactId)), [Case].IsClosed  = true,[Case].ESC_Reopen_Case__c = false,
(AND(TEXT([Case].ESC_Product_Segment_Brand__c) != null, TEXT([Case].ESC_Product_Segment_Brand__c) != &apos;&apos;,
((CONTAINS($Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment1__c,TEXT([Case].ESC_Product_Segment_Brand__c))) 
||(CONTAINS($Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment2__c,TEXT([Case].ESC_Product_Segment_Brand__c)))
||(CONTAINS($Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment3__c,TEXT([Case].ESC_Product_Segment_Brand__c)))
||(TEXT([Case].ESC_Product_Segment_Brand__c) = $Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment4__c)
||(TEXT([Case].ESC_Product_Segment_Brand__c) = $Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment5__c)
||(TEXT([Case].ESC_Product_Segment_Brand__c) = $Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment6__c)
||(TEXT([Case].ESC_Product_Segment_Brand__c) = $Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment7__c)
||(TEXT([Case].ESC_Product_Segment_Brand__c) = $Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment8__c)
||(TEXT([Case].ESC_Product_Segment_Brand__c) = $Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment9__c)
||(TEXT([Case].ESC_Product_Segment_Brand__c) = $Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment10__c)))),
((CONTAINS($Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type1__c,TEXT([Case].ESC_Case_Type__c))) 
||(CONTAINS($Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type2__c,TEXT([Case].ESC_Case_Type__c)))
||(TEXT([Case].ESC_Case_Type__c) = $Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type3__c)
||(TEXT([Case].ESC_Case_Type__c) = $Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type4__c)
||(TEXT([Case].ESC_Case_Type__c) = $Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type5__c)),
NOT(AND(TEXT([Case].ESC_Proactive_Type__c) != null, TEXT([Case].ESC_Proactive_Type__c) != &apos;&apos;,
((CONTAINS($Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Proactive_Type1__c,TEXT([Case].ESC_Proactive_Type__c))) 
||(CONTAINS($Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Proactive_Type2__c,TEXT([Case].ESC_Proactive_Type__c))))
)),
NOT(AND(TEXT([Case].ESC_Product_Title__c) != null, TEXT([Case].ESC_Product_Title__c) != &apos;&apos;,
((CONTAINS($Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Product_Title1__c,TEXT([Case].ESC_Product_Title__c))) 
||(CONTAINS($Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Product_Title2__c,TEXT([Case].ESC_Product_Title__c)))
||(CONTAINS($Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Product_Title3__c,TEXT([Case].ESC_Product_Title__c)))
||(TEXT([Case].ESC_Product_Title__c) = $Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Product_Title4__c)
||(TEXT([Case].ESC_Product_Title__c) = $Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Product_Title5__c)
||(TEXT([Case].ESC_Product_Title__c) = $Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Product_Title6__c)
||(TEXT([Case].ESC_Product_Title__c) = $Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Product_Title7__c)
||(TEXT([Case].ESC_Product_Title__c) = $Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Product_Title8__c)
||(TEXT([Case].ESC_Product_Title__c) = $Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Product_Title9__c)
)
))
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND({!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c} = false,{!myVariable_old.Is_ESC_Case__c} = true ,
NOT(ISNULL({!myVariable_old.ContactId})), {!myVariable_old.IsClosed}  = true,{!myVariable_old.ESC_Reopen_Case__c} = false,
(AND(TEXT({!myVariable_old.ESC_Product_Segment_Brand__c}) != null, TEXT({!myVariable_old.ESC_Product_Segment_Brand__c}) != &apos;&apos;,
((CONTAINS({!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment1__c},TEXT({!myVariable_old.ESC_Product_Segment_Brand__c}))) 
||(CONTAINS({!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment2__c},TEXT({!myVariable_old.ESC_Product_Segment_Brand__c})))
||(CONTAINS({!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment3__c},TEXT({!myVariable_old.ESC_Product_Segment_Brand__c})))
||(TEXT({!myVariable_old.ESC_Product_Segment_Brand__c}) = {!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment4__c})
||(TEXT({!myVariable_old.ESC_Product_Segment_Brand__c}) = {!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment5__c})
||(TEXT({!myVariable_old.ESC_Product_Segment_Brand__c}) = {!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment6__c})
||(TEXT({!myVariable_old.ESC_Product_Segment_Brand__c}) = {!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment7__c})
||(TEXT({!myVariable_old.ESC_Product_Segment_Brand__c}) = {!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment8__c})
||(TEXT({!myVariable_old.ESC_Product_Segment_Brand__c}) = {!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment9__c})
||(TEXT({!myVariable_old.ESC_Product_Segment_Brand__c}) = {!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Product_Brand_Segment10__c})))),
((CONTAINS({!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type1__c},TEXT({!myVariable_old.ESC_Case_Type__c}))) 
||(CONTAINS({!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type2__c},TEXT({!myVariable_old.ESC_Case_Type__c})))
||(TEXT({!myVariable_old.ESC_Case_Type__c}) = {!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type3__c})
||(TEXT({!myVariable_old.ESC_Case_Type__c}) = {!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type4__c})
||(TEXT({!myVariable_old.ESC_Case_Type__c}) = {!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type5__c})),
NOT(AND(TEXT({!myVariable_old.ESC_Proactive_Type__c}) != null, TEXT({!myVariable_old.ESC_Proactive_Type__c}) != &apos;&apos;,
((CONTAINS({!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Proactive_Type1__c},TEXT({!myVariable_old.ESC_Proactive_Type__c}))) 
||(CONTAINS({!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Proactive_Type2__c},TEXT({!myVariable_old.ESC_Proactive_Type__c}))))
)),
NOT(AND(TEXT({!myVariable_old.ESC_Product_Title__c}) != null, TEXT({!myVariable_old.ESC_Product_Title__c}) != &apos;&apos;,
((CONTAINS({!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Product_Title1__c},TEXT({!myVariable_old.ESC_Product_Title__c}))) 
||(CONTAINS({!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Product_Title2__c},TEXT({!myVariable_old.ESC_Product_Title__c})))
||(CONTAINS({!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Product_Title3__c},TEXT({!myVariable_old.ESC_Product_Title__c})))
||(TEXT({!myVariable_old.ESC_Product_Title__c}) = {!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Product_Title4__c})
||(TEXT({!myVariable_old.ESC_Product_Title__c}) = {!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Product_Title5__c})
||(TEXT({!myVariable_old.ESC_Product_Title__c}) = {!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Product_Title6__c})
||(TEXT({!myVariable_old.ESC_Product_Title__c}) = {!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Product_Title7__c})
||(TEXT({!myVariable_old.ESC_Product_Title__c}) = {!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Product_Title8__c})
||(TEXT({!myVariable_old.ESC_Product_Title__c}) = {!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Product_Title9__c})
)
))
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND($Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c = false,[Case].Is_ESC_Case__c = true ,
NOT(ISNULL([Case].ContactId)), [Case].IsClosed  = true,[Case].ESC_Reopen_Case__c = false,
OR([Case].LCRM_Sub_BU__c  = &apos;GGO&apos;, AND(OR([Case].LCRM_Sub_BU__c  = null,[Case].LCRM_Sub_BU__c  = &apos;&apos;), [Case].Is_GLI__c = false)),
((CONTAINS($Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type1__c,TEXT([Case].ESC_Case_Type__c))) 
||(CONTAINS($Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type2__c,TEXT([Case].ESC_Case_Type__c)))
||(TEXT([Case].ESC_Case_Type__c) = $Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type3__c)
||(TEXT([Case].ESC_Case_Type__c) = $Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type4__c)
||(TEXT([Case].ESC_Case_Type__c) = $Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type5__c)),
NOT(AND(TEXT([Case].ESC_Proactive_Type__c) != null, TEXT([Case].ESC_Proactive_Type__c) != &apos;&apos;,
((CONTAINS($Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Proactive_Type1__c,TEXT([Case].ESC_Proactive_Type__c))) 
||(CONTAINS($Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Proactive_Type2__c,TEXT([Case].ESC_Proactive_Type__c))))
))
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_4</name>
        <dataType>Boolean</dataType>
        <expression>AND({!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c} = false,{!myVariable_current.Is_ESC_Case__c} = true ,
NOT(ISNULL({!myVariable_current.ContactId})), {!myVariable_current.IsClosed}  = true,{!myVariable_current.ESC_Reopen_Case__c} = false,
OR({!myVariable_current.LCRM_Sub_BU__c}  = &apos;GGO&apos;, AND(OR({!myVariable_current.LCRM_Sub_BU__c}  = null,{!myVariable_current.LCRM_Sub_BU__c}  = &apos;&apos;), {!myVariable_current.Is_GLI__c} = false)),
((CONTAINS({!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type1__c},TEXT({!myVariable_current.ESC_Case_Type__c}))) 
||(CONTAINS({!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type2__c},TEXT({!myVariable_current.ESC_Case_Type__c})))
||(TEXT({!myVariable_current.ESC_Case_Type__c}) = {!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type3__c})
||(TEXT({!myVariable_current.ESC_Case_Type__c}) = {!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type4__c})
||(TEXT({!myVariable_current.ESC_Case_Type__c}) = {!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type5__c})),
NOT(AND(TEXT({!myVariable_current.ESC_Proactive_Type__c}) != null, TEXT({!myVariable_current.ESC_Proactive_Type__c}) != &apos;&apos;,
((CONTAINS({!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Proactive_Type1__c},TEXT({!myVariable_current.ESC_Proactive_Type__c}))) 
||(CONTAINS({!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Proactive_Type2__c},TEXT({!myVariable_current.ESC_Proactive_Type__c}))))
))
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND($Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c = false,[Case].Is_ESC_Case__c = true ,
NOT(ISNULL([Case].ContactId)), [Case].IsClosed  = true,[Case].ESC_Reopen_Case__c = false,
OR([Case].LCRM_Sub_BU__c  = &apos;GGO&apos;, AND(OR([Case].LCRM_Sub_BU__c  = null,[Case].LCRM_Sub_BU__c  = &apos;&apos;), [Case].Is_GLI__c = false)),
((CONTAINS($Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type1__c,TEXT([Case].ESC_Case_Type__c))) 
||(CONTAINS($Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type2__c,TEXT([Case].ESC_Case_Type__c)))
||(TEXT([Case].ESC_Case_Type__c) = $Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type3__c)
||(TEXT([Case].ESC_Case_Type__c) = $Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type4__c)
||(TEXT([Case].ESC_Case_Type__c) = $Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type5__c)),
NOT(AND(TEXT([Case].ESC_Proactive_Type__c) != null, TEXT([Case].ESC_Proactive_Type__c) != &apos;&apos;,
((CONTAINS($Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Proactive_Type1__c,TEXT([Case].ESC_Proactive_Type__c))) 
||(CONTAINS($Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Proactive_Type2__c,TEXT([Case].ESC_Proactive_Type__c))))
))
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_4_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND({!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c} = false,{!myVariable_old.Is_ESC_Case__c} = true ,
NOT(ISNULL({!myVariable_old.ContactId})), {!myVariable_old.IsClosed}  = true,{!myVariable_old.ESC_Reopen_Case__c} = false,
OR({!myVariable_old.LCRM_Sub_BU__c}  = &apos;GGO&apos;, AND(OR({!myVariable_old.LCRM_Sub_BU__c}  = null,{!myVariable_old.LCRM_Sub_BU__c}  = &apos;&apos;), {!myVariable_old.Is_GLI__c} = false)),
((CONTAINS({!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type1__c},TEXT({!myVariable_old.ESC_Case_Type__c}))) 
||(CONTAINS({!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type2__c},TEXT({!myVariable_old.ESC_Case_Type__c})))
||(TEXT({!myVariable_old.ESC_Case_Type__c}) = {!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type3__c})
||(TEXT({!myVariable_old.ESC_Case_Type__c}) = {!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type4__c})
||(TEXT({!myVariable_old.ESC_Case_Type__c}) = {!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Record_Type5__c})),
NOT(AND(TEXT({!myVariable_old.ESC_Proactive_Type__c}) != null, TEXT({!myVariable_old.ESC_Proactive_Type__c}) != &apos;&apos;,
((CONTAINS({!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Proactive_Type1__c},TEXT({!myVariable_old.ESC_Proactive_Type__c}))) 
||(CONTAINS({!$Setup.ESC_MaritzCX_InvitationCode__c.ESC_Exclude_Proactive_Type2__c},TEXT({!myVariable_old.ESC_Proactive_Type__c}))))
))
)</expression>
    </formulas>
    <interviewLabel>ESC_Maritz_Case_Closure_With_Survey-8_InterviewLabel</interviewLabel>
    <label>ESC Maritz Case Closure With Survey</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myPreWaitDecision_myWait_myRule_4</startElementReference>
    <status>Active</status>
    <variables>
        <name>cancelWaits</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myWaitEvent_myWait_myRule_1_event_0_postActionExecutionVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>myWaitEvent_myWait_myRule_4_event_0_postActionExecutionVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <waits>
        <name>myWait_myRule_1</name>
        <label>myWait_myRule_1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>defaultLabel</defaultConnectorLabel>
        <waitEvents>
            <processMetadataValues>
                <name>inputParameterType</name>
                <value>
                    <stringValue>referenced</stringValue>
                </value>
            </processMetadataValues>
            <name>myWaitEvent_myWait_myRule_1_event_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myWaitEvent_myWait_myRule_1_event_0_postActionExecutionVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myPostWaitDecision_myWaitEvent_myWait_myRule_1_event_0</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>myVariable_current.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>ClosedDate</stringValue>
                </value>
            </inputParameters>
            <label>myWaitEvent_myWait_myRule_1_event_0</label>
        </waitEvents>
    </waits>
    <waits>
        <name>myWait_myRule_4</name>
        <label>myWait_myRule_4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>defaultLabel</defaultConnectorLabel>
        <waitEvents>
            <processMetadataValues>
                <name>inputParameterType</name>
                <value>
                    <stringValue>referenced</stringValue>
                </value>
            </processMetadataValues>
            <name>myWaitEvent_myWait_myRule_4_event_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myWaitEvent_myWait_myRule_4_event_0_postActionExecutionVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myPostWaitDecision_myWaitEvent_myWait_myRule_4_event_0</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>myVariable_current.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>ClosedDate</stringValue>
                </value>
            </inputParameters>
            <label>myWaitEvent_myWait_myRule_4_event_0</label>
        </waitEvents>
    </waits>
</Flow>
