flows/ESC_Support_Status.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>checkrecs</name>
        <label>checkrecs</label>
        <locationX>225</locationX>
        <locationY>466</locationY>
        <defaultConnector>
            <targetReference>getmergedtrueSupportstatusRecs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkfalseexist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getmergedfalseSupportstatusRecs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updatefalsemergecase</targetReference>
            </connector>
            <label>checkfalseexist</label>
        </rules>
    </decisions>
    <interviewLabel>ESC_Support_Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ESC_Support_Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getmergedfalseSupportstatusRecs</name>
        <label>getmergedfalseSupportstatusRecs</label>
        <locationX>209</locationX>
        <locationY>327</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkrecs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ESC_Brand__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ESC_Product_Segment_Brand__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ESC_Product_Title__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ESC_Product_Title__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ESC_Is_Merged__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ESC_Support_Level__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getmergedtrueSupportstatusRecs</name>
        <label>getmergedtrueSupportstatusRecs</label>
        <locationX>571</locationX>
        <locationY>467</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updatetruemergecase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ESC_Brand__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ESC_Product_Segment_Brand__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ESC_Product_Title__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ESC_Product_Title__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ESC_Is_Merged__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ESC_Support_Level__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updatefalsemergecase</name>
        <label>updatefalsemergecase</label>
        <locationX>237</locationX>
        <locationY>683</locationY>
        <inputAssignments>
            <field>Support_Status__c</field>
            <value>
                <elementReference>getmergedfalseSupportstatusRecs.ESC_Support_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updatetruemergecase</name>
        <label>updatetruemergecase</label>
        <locationX>785</locationX>
        <locationY>673</locationY>
        <inputAssignments>
            <field>Support_Status__c</field>
            <value>
                <elementReference>getmergedtrueSupportstatusRecs.ESC_Support_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>49</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getmergedfalseSupportstatusRecs</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 4 AND 5 AND 6 AND 7  AND (3 OR 8 OR 9 OR 10)</filterLogic>
        <filters>
            <field>Is_ESC_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ESC_Product_Segment_Brand__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Merged</stringValue>
            </value>
        </filters>
        <filters>
            <field>ESC_Product_Segment_Brand__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ESC_Product_Title__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Support_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>supportstatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thirdloopvar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ESC_Support_Level__c</objectType>
    </variables>
</Flow>
