flows/ESC_Chat_Contact_Association.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Verify_the_Contact_contact</name>
        <label>Verify the Contact contact</label>
        <locationX>342</locationX>
        <locationY>348</locationY>
        <assignmentItems>
            <assignToReference>Contactcount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Contactcollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verify_the_count_contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_contact_exist</name>
        <label>Check for contact exist</label>
        <locationX>865</locationX>
        <locationY>352</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_null_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactoutput.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_case</targetReference>
            </connector>
            <label>not null contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_the_count_contact</name>
        <label>Verify the count -contact</label>
        <locationX>497</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>single_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contactcount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_contact</targetReference>
            </connector>
            <label>single contact</label>
        </rules>
    </decisions>
    <interviewLabel>ESC Chat Contact Association {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ESC Chat Contact Association</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_contact</name>
        <label>Get contact</label>
        <locationX>725</locationX>
        <locationY>346</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_contact_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LCRM_Customer_First_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LCRM_Is_GLI__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LCRM_Customer_Last_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LCRM_Email_Address__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>contactoutput</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LCRM_Is_GLI__c</queriedFields>
        <queriedFields>ContactID18__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_contact_count</name>
        <label>Get contact count</label>
        <locationX>175</locationX>
        <locationY>349</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_the_Contact_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LCRM_Customer_First_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LCRM_Customer_Last_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LCRM_Email_Address__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LCRM_Is_GLI__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contactcollection</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_case</name>
        <label>Update case</label>
        <locationX>1075</locationX>
        <locationY>344</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>contactoutput.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contactoutput.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>179</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Get_contact_count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_ESC_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </filters>
        <filters>
            <field>LCRM_Customer_First_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LCRM_Customer_Last_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LCRM_Email_Address__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Contactcollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Contactcount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>contactoutput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Contactrcec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Rectranscript</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LiveChatTranscript</objectType>
    </variables>
</Flow>
