flows/ESC_CaseEmailNotifications.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Case_Owner_Change</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>Case Owner Change</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <actionName>Case.Case_Owner_Change</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision12</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Case_Waiting_for_Response_Notification</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_13_A1</name>
        <label>Case Waiting for Response Notification</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <actionName>Case.Case_Waiting_for_Response_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision14</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Closed_Case_Email_Notification_to_Owner</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_17_A1</name>
        <label>ICP Closed Case Email Notification</label>
        <locationX>1700</locationX>
        <locationY>200</locationY>
        <actionName>Case.Closed_Case_Email_Notification_to_Owner</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision18</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>LatAm_Grace_Period_Entitlement_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_19_A1</name>
        <label>LatAm Grace Period Entitlement Email Alert</label>
        <locationX>1900</locationX>
        <locationY>200</locationY>
        <actionName>Case.LatAm_Grace_Period_Entitlement_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision20</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Account_Archive_Closed_Notification</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Account_Archive_Closed_Notification</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Case.Account_Archive_Closed_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>NewCaseEmail</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_21_A1</name>
        <label>LatAm New Case Email</label>
        <locationX>2100</locationX>
        <locationY>200</locationY>
        <actionName>Case.NewCaseEmail</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision22</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>AlertforANZCustomerCare</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_23_A1</name>
        <label>AlertforANZCustomerCare</label>
        <locationX>2300</locationX>
        <locationY>200</locationY>
        <actionName>Case.AlertforANZCustomerCare</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision24</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>AlertforANZServiceFirst</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_25_A1</name>
        <label>Alert for ANZ ServiceFirst</label>
        <locationX>2500</locationX>
        <locationY>200</locationY>
        <actionName>Case.AlertforANZServiceFirst</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision26</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>AlertforANZTechnicalCare</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_27_A1</name>
        <label>Alert for ANZ Technical Care</label>
        <locationX>2700</locationX>
        <locationY>200</locationY>
        <actionName>Case.AlertforANZTechnicalCare</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision28</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Account_Archive_Closed_Notification_Portuguese</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Account_Archive_Closed_Notification_Portuguese</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Case.Account_Archive_Closed_Notification_Portuguese</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision4</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Account_Archive_Closed_Notification_Spanish</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Account_Archive_Closed_Notification_Spanish</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>Case.Account_Archive_Closed_Notification_Spanish</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision6</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>CaseSatusClosedEmail</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>CaseSatusClosedEmail</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>Case.CaseSatusClosedEmail</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision8</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Case_Creation_Notification</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Case Creation Notification</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>Case.Case_Creation_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision10</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>X24_Hours_after_case_opened</stringValue>
            </value>
        </processMetadataValues>
        <name>myWaitEvent_myWait_myRule_29_event_0_SA1</name>
        <label>Argentina - 24 Hours after case opened</label>
        <locationX>2900</locationX>
        <locationY>200</locationY>
        <actionName>Case.X24_Hours_after_case_opened</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myWaitEvent_myWait_myRule_29_event_0_postWaitExecutionAssignment</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>X48_Hours_after_case_is_opened</stringValue>
            </value>
        </processMetadataValues>
        <name>myWaitEvent_myWait_myRule_29_event_1_SA1</name>
        <label>Argentina - 48 Hours after case is opened</label>
        <locationX>2900</locationX>
        <locationY>200</locationY>
        <actionName>Case.X48_Hours_after_case_is_opened</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myWaitEvent_myWait_myRule_29_event_1_postWaitExecutionAssignment</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>X24_Hours_after_case_opened_Brazil</stringValue>
            </value>
        </processMetadataValues>
        <name>myWaitEvent_myWait_myRule_31_event_0_SA1</name>
        <label>24 Hours after case opened</label>
        <locationX>3100</locationX>
        <locationY>200</locationY>
        <actionName>Case.X24_Hours_after_case_opened_Brazil</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myWaitEvent_myWait_myRule_31_event_0_postWaitExecutionAssignment</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>X48_Hours_after_case_opened_Brazil</stringValue>
            </value>
        </processMetadataValues>
        <name>myWaitEvent_myWait_myRule_31_event_1_SA1</name>
        <label>48 Hours after case opened</label>
        <locationX>3100</locationX>
        <locationY>200</locationY>
        <actionName>Case.X48_Hours_after_case_opened_Brazil</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myWaitEvent_myWait_myRule_31_event_1_postWaitExecutionAssignment</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myWaitAssignment_myWait_myRule_29</name>
        <label>myWaitAssignment_myWait_myRule_29</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>cancelWaits</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>myWait_myRule_29</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>myWaitAssignment_myWait_myRule_31</name>
        <label>myWaitAssignment_myWait_myRule_31</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>cancelWaits</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>myWait_myRule_31</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myPreWaitDecision_myWait_myRule_29</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>myWaitEvent_myWait_myRule_29_event_0_postWaitExecutionAssignment</name>
        <label>myWaitEvent_myWait_myRule_29_event_0_postWaitExecutionAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myWaitEvent_myWait_myRule_29_event_0_postActionExecutionVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myWait_myRule_29</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>myWaitEvent_myWait_myRule_29_event_1_postWaitExecutionAssignment</name>
        <label>myWaitEvent_myWait_myRule_29_event_1_postWaitExecutionAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myWaitEvent_myWait_myRule_29_event_1_postActionExecutionVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myWait_myRule_29</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>myWaitEvent_myWait_myRule_31_event_0_postWaitExecutionAssignment</name>
        <label>myWaitEvent_myWait_myRule_31_event_0_postWaitExecutionAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myWaitEvent_myWait_myRule_31_event_0_postActionExecutionVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myWait_myRule_31</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>myWaitEvent_myWait_myRule_31_event_1_postWaitExecutionAssignment</name>
        <label>myWaitEvent_myWait_myRule_31_event_1_postWaitExecutionAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myWaitEvent_myWait_myRule_31_event_1_postActionExecutionVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myWait_myRule_31</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Account Archive Closed Notification</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>Case Owner Not Queue</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision14</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>Case waiting for Response Notification</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision14</name>
        <label>myDecision14</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_15</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <label>Commissions Close Wating update</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision16</name>
        <label>myDecision16</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision18</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_17</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_17_pmetdec</targetReference>
            </connector>
            <label>Closed case notification for ICP</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision18</name>
        <label>myDecision18</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision20</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_19</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_19</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_19_pmetdec</targetReference>
            </connector>
            <label>LatAm Grace Period Entitlement Email</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_pmetdec</targetReference>
            </connector>
            <label>Account Archive Closed Notification Portuguese</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision20</name>
        <label>myDecision20</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision22</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_21</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_21</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_21_A1</targetReference>
            </connector>
            <label>New Case Email</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>11.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision22</name>
        <label>myDecision22</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision24</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_23</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_23</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_23_A1</targetReference>
            </connector>
            <label>Send email alert when ANZ Support Type equals Customer Care</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision24</name>
        <label>myDecision24</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision26</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_25</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_25</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_25_A1</targetReference>
            </connector>
            <label>Send email alert when ANZ Support Type equals ServiceFirst</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>13.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision26</name>
        <label>myDecision26</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision28</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_27</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_27</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_27_A1</targetReference>
            </connector>
            <label>Send email alert when ANZ Support Type equals Technical Care</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>14.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision28</name>
        <label>myDecision28</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision30</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_29</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_29</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_29_pmetdec</targetReference>
            </connector>
            <label>Argentina – Case opened Notifications(24 and 48)</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision30</name>
        <label>myDecision30</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_31</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_31</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_31_pmetdec</targetReference>
            </connector>
            <label>Brazil - Case opened Notifications(24 and 48)</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_pmetdec</targetReference>
            </connector>
            <label>Account Archive Closed Notification Spanish</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_pmetdec</targetReference>
            </connector>
            <label>Case Closed Email</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Case Creation Alert</label>
        </rules>
    </decisions>
    <decisions>
        <name>myPostWaitDecision_myWaitEvent_myWait_myRule_29_event_0</name>
        <label>myPostWaitDecision_myWaitEvent_myWait_myRule_29_event_0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myWaitEvent_myWait_myRule_29_event_0_postWaitExecutionAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myPostWaitRule_myWaitEvent_myWait_myRule_29_event_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_current.CreatedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myWaitEvent_myWait_myRule_29_event_0_SA1</targetReference>
            </connector>
            <label>myPostWaitRule_myWaitEvent_myWait_myRule_29_event_0</label>
        </rules>
    </decisions>
    <decisions>
        <name>myPostWaitDecision_myWaitEvent_myWait_myRule_29_event_1</name>
        <label>myPostWaitDecision_myWaitEvent_myWait_myRule_29_event_1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myWaitEvent_myWait_myRule_29_event_1_postWaitExecutionAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myPostWaitRule_myWaitEvent_myWait_myRule_29_event_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_current.CreatedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myWaitEvent_myWait_myRule_29_event_1_SA1</targetReference>
            </connector>
            <label>myPostWaitRule_myWaitEvent_myWait_myRule_29_event_1</label>
        </rules>
    </decisions>
    <decisions>
        <name>myPostWaitDecision_myWaitEvent_myWait_myRule_31_event_0</name>
        <label>myPostWaitDecision_myWaitEvent_myWait_myRule_31_event_0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myWaitEvent_myWait_myRule_31_event_0_postWaitExecutionAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myPostWaitRule_myWaitEvent_myWait_myRule_31_event_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_current.CreatedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myWaitEvent_myWait_myRule_31_event_0_SA1</targetReference>
            </connector>
            <label>myPostWaitRule_myWaitEvent_myWait_myRule_31_event_0</label>
        </rules>
    </decisions>
    <decisions>
        <name>myPostWaitDecision_myWaitEvent_myWait_myRule_31_event_1</name>
        <label>myPostWaitDecision_myWaitEvent_myWait_myRule_31_event_1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myWaitEvent_myWait_myRule_31_event_1_postWaitExecutionAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myPostWaitRule_myWaitEvent_myWait_myRule_31_event_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_current.CreatedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myWaitEvent_myWait_myRule_31_event_1_SA1</targetReference>
            </connector>
            <label>myPostWaitRule_myWaitEvent_myWait_myRule_31_event_1</label>
        </rules>
    </decisions>
    <decisions>
        <name>myPreWaitDecision_myWait_myRule_29</name>
        <label>myPreWaitDecision_myWait_myRule_29</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myWaitAssignment_myWait_myRule_29</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myPreWaitRule_myWait_myRule_29</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_29</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>myPreWaitRule_myWait_myRule_29</label>
        </rules>
    </decisions>
    <decisions>
        <name>myPreWaitDecision_myWait_myRule_31</name>
        <label>myPreWaitDecision_myWait_myRule_31</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myWaitAssignment_myWait_myRule_31</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myPreWaitRule_myWait_myRule_31</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_31</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myPreWaitDecision_myWait_myRule_29</targetReference>
            </connector>
            <label>myPreWaitRule_myWait_myRule_31</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_17_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1700</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_17_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_17_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_17_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_17_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_17_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision18</targetReference>
            </connector>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_19_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1900</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_19_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_19_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_19_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_19_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_19_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision20</targetReference>
            </connector>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision2</targetReference>
            </connector>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_29_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>2900</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myWait_myRule_29</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_29_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myWait_myRule_29</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_29_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_29_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_31_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>3100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myWait_myRule_31</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_31_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myWait_myRule_31</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_31_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_31_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>300</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_3_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_3_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_3_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision4</targetReference>
            </connector>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_5_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>500</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_5_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_5_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_5_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision6</targetReference>
            </connector>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_7_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>700</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_7_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_7_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_7_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision8</targetReference>
            </connector>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>Process Builder to send Case related Email Notifications</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c = false,

          [Case].RecordType.DeveloperName == &apos;Archive_Request&apos;, 
          [Case].IsClosed == TRUE,
          OR(
                 [Case].CreatedBy.Language__c  == &apos;English&apos;,
                 ISBLANK([Case].CreatedBy.Language__c)
           )
)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c} = false,

          {!myVariable_current.RecordType.DeveloperName} == &apos;Archive_Request&apos;, 
          {!myVariable_current.IsClosed} == TRUE,
          OR(
                 {!myVariable_current.CreatedBy.Language__c}  == &apos;English&apos;,
                 ISBLANK({!myVariable_current.CreatedBy.Language__c})
           )
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c = false,

         NOT(ISBLANK([Case].Old_Owner__c )), 
         ISCHANGED([Case].Escalation_Level_Number__c ),
         ISCHANGED([Case].OwnerId ),
         [Case].Escalation_Level_Number__c &gt;= 0,
         [Case].Escalation_Level_Number__c &lt;= 3,
        OR(
               [Case].RecordType.DeveloperName = &apos;ANZ&apos;, 
               [Case].RecordType.DeveloperName = &apos;Site_Originated&apos;
              ),
         NOT(ISPICKVAL([Case].Status, &apos;Closed&apos;) )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c} = false,

         NOT(ISBLANK({!myVariable_current.Old_Owner__c} )), 
         ISCHANGED({!myVariable_current.Escalation_Level_Number__c} ),
         ISCHANGED({!myVariable_current.OwnerId} ),
         {!myVariable_current.Escalation_Level_Number__c} &gt;= 0,
         {!myVariable_current.Escalation_Level_Number__c} &lt;= 3,
        OR(
               {!myVariable_current.RecordType.DeveloperName} = &apos;ANZ&apos;, 
               {!myVariable_current.RecordType.DeveloperName} = &apos;Site_Originated&apos;
              ),
         NOT(ISPICKVAL({!myVariable_current.Status}, &apos;Closed&apos;) )
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND($Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c = false,
         ISCHANGED([Case].Status ),
         ISPICKVAL([Case].Status ,&apos;Waiting for Response&apos; ),
         [Case].ESC_GSI_Salesperson_Email__c != NULL,
         [Case].RecordType.DeveloperName &lt;&gt; &apos;Site_Originated&apos; ,
         [Case].RecordType.DeveloperName &lt;&gt; &apos;Elite_CPQ_Requests&apos;,
         [Case].RecordType.DeveloperName &lt;&gt; &apos;Elite_Closed_CPQ_Requests&apos;
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>AND({!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c} = false,
         ISCHANGED({!myVariable_current.Status} ),
         ISPICKVAL({!myVariable_current.Status} ,&apos;Waiting for Response&apos; ),
         {!myVariable_current.ESC_GSI_Salesperson_Email__c} != NULL,
         {!myVariable_current.RecordType.DeveloperName} &lt;&gt; &apos;Site_Originated&apos; ,
         {!myVariable_current.RecordType.DeveloperName} &lt;&gt; &apos;Elite_CPQ_Requests&apos;,
         {!myVariable_current.RecordType.DeveloperName} &lt;&gt; &apos;Elite_Closed_CPQ_Requests&apos;
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND($Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c = false,
         OR([Case].RecordType.DeveloperName = &apos;Findlaw_Inquiry&apos;,  
                [Case].RecordType.DeveloperName = &apos;SCS_Inquiry&apos;
                ),
NOT(ISPICKVAL([Case].CaseType__c, &apos;KS Inquiry&apos;)) , 
OR(
          ISPICKVAL([Case].Status,&apos;Waiting for Response&apos;),
          ISPICKVAL([Case].Status,&apos;Closed&apos;))
 )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_15</name>
        <dataType>Boolean</dataType>
        <expression>AND({!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c} = false,
         OR({!myVariable_current.RecordType.DeveloperName} = &apos;Findlaw_Inquiry&apos;,  
                {!myVariable_current.RecordType.DeveloperName} = &apos;SCS_Inquiry&apos;
                ),
NOT(ISPICKVAL({!myVariable_current.CaseType__c}, &apos;KS Inquiry&apos;)) , 
OR(
          ISPICKVAL({!myVariable_current.Status},&apos;Waiting for Response&apos;),
          ISPICKVAL({!myVariable_current.Status},&apos;Closed&apos;))
 )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND($Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c = false,
         OR([Case].RecordType.DeveloperName = &apos;Findlaw_Inquiry&apos;,  
                [Case].RecordType.DeveloperName = &apos;SCS_Inquiry&apos;
                ),
[Case].ESC_GSI_Salesperson_Email__c != NULL,
          ISPICKVAL([Case].Status,&apos;Closed&apos;)
 )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_17</name>
        <dataType>Boolean</dataType>
        <expression>AND({!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c} = false,
         OR({!myVariable_current.RecordType.DeveloperName} = &apos;Findlaw_Inquiry&apos;,  
                {!myVariable_current.RecordType.DeveloperName} = &apos;SCS_Inquiry&apos;
                ),
{!myVariable_current.ESC_GSI_Salesperson_Email__c} != NULL,
          ISPICKVAL({!myVariable_current.Status},&apos;Closed&apos;)
 )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND($Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c = false,
         OR([Case].RecordType.DeveloperName = &apos;Findlaw_Inquiry&apos;,  
                [Case].RecordType.DeveloperName = &apos;SCS_Inquiry&apos;
                ),
[Case].ESC_GSI_Salesperson_Email__c != NULL,
          ISPICKVAL([Case].Status,&apos;Closed&apos;)
 )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_17_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND({!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c} = false,
         OR({!myVariable_old.RecordType.DeveloperName} = &apos;Findlaw_Inquiry&apos;,  
                {!myVariable_old.RecordType.DeveloperName} = &apos;SCS_Inquiry&apos;
                ),
{!myVariable_old.ESC_GSI_Salesperson_Email__c} != NULL,
          ISPICKVAL({!myVariable_old.Status},&apos;Closed&apos;)
 )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND( 
$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c = false,
          ISPICKVAL( [Case].Status ,&apos;Closed&apos;), 
          ISPICKVAL( [Case].Approval_Status__c ,&apos;Approved&apos;), 
          ISPICKVAL([Case].Reason__c ,&apos;Grace Period Extension&apos;), 
          NOT(ISBLANK([Case].Entitlement_Email__c )) ,
          [Case].RecordType.DeveloperName  &lt;&gt; &apos;Site_Originated&apos; ,  
          [Case].RecordType.DeveloperName  &lt;&gt; &apos;Elite_CPQ_Requests&apos; ,  
          [Case].RecordType.DeveloperName &lt;&gt; &apos;Elite_Closed_CPQ_Requests&apos; 
)

</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_19</name>
        <dataType>Boolean</dataType>
        <expression>AND( 
{!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c} = false,
          ISPICKVAL( {!myVariable_current.Status} ,&apos;Closed&apos;), 
          ISPICKVAL( {!myVariable_current.Approval_Status__c} ,&apos;Approved&apos;), 
          ISPICKVAL({!myVariable_current.Reason__c} ,&apos;Grace Period Extension&apos;), 
          NOT(ISBLANK({!myVariable_current.Entitlement_Email__c} )) ,
          {!myVariable_current.RecordType.DeveloperName}  &lt;&gt; &apos;Site_Originated&apos; ,  
          {!myVariable_current.RecordType.DeveloperName}  &lt;&gt; &apos;Elite_CPQ_Requests&apos; ,  
          {!myVariable_current.RecordType.DeveloperName} &lt;&gt; &apos;Elite_Closed_CPQ_Requests&apos; 
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND( 
$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c = false,
          ISPICKVAL( [Case].Status ,&apos;Closed&apos;), 
          ISPICKVAL( [Case].Approval_Status__c ,&apos;Approved&apos;), 
          ISPICKVAL([Case].Reason__c ,&apos;Grace Period Extension&apos;), 
          NOT(ISBLANK([Case].Entitlement_Email__c )) ,
          [Case].RecordType.DeveloperName  &lt;&gt; &apos;Site_Originated&apos; ,  
          [Case].RecordType.DeveloperName  &lt;&gt; &apos;Elite_CPQ_Requests&apos; ,  
          [Case].RecordType.DeveloperName &lt;&gt; &apos;Elite_Closed_CPQ_Requests&apos; 
)

</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_19_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND( 
{!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c} = false,
          ISPICKVAL( {!myVariable_old.Status} ,&apos;Closed&apos;), 
          ISPICKVAL( {!myVariable_old.Approval_Status__c} ,&apos;Approved&apos;), 
          ISPICKVAL({!myVariable_old.Reason__c} ,&apos;Grace Period Extension&apos;), 
          NOT(ISBLANK({!myVariable_old.Entitlement_Email__c} )) ,
          {!myVariable_old.RecordType.DeveloperName}  &lt;&gt; &apos;Site_Originated&apos; ,  
          {!myVariable_old.RecordType.DeveloperName}  &lt;&gt; &apos;Elite_CPQ_Requests&apos; ,  
          {!myVariable_old.RecordType.DeveloperName} &lt;&gt; &apos;Elite_Closed_CPQ_Requests&apos; 
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c = false,

          [Case].RecordType.DeveloperName == &apos;Archive_Request&apos;, 
          [Case].IsClosed == TRUE,
          OR(
                 [Case].CreatedBy.Language__c  == &apos;English&apos;,
                 ISBLANK([Case].CreatedBy.Language__c)
           )
)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c} = false,

          {!myVariable_old.RecordType.DeveloperName} == &apos;Archive_Request&apos;, 
          {!myVariable_old.IsClosed} == TRUE,
          OR(
                 {!myVariable_old.CreatedBy.Language__c}  == &apos;English&apos;,
                 ISBLANK({!myVariable_old.CreatedBy.Language__c})
           )
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c = false,
          ISNEW(),
          ISPICKVAL( [Case].Status, &apos;New&apos;),
          [Case].RecordType.DeveloperName = &apos;Site_Originated&apos;
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_21</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c} = false,
          ISNEW(),
          ISPICKVAL( {!myVariable_current.Status}, &apos;New&apos;),
          {!myVariable_current.RecordType.DeveloperName} = &apos;Site_Originated&apos;
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c = false,

          ISNEW() ,
          ISPICKVAL([Case].ANZ_Support_Type__c,&apos;Customer Care&apos;) 
) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_23</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c} = false,

          ISNEW() ,
          ISPICKVAL({!myVariable_current.ANZ_Support_Type__c},&apos;Customer Care&apos;) 
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c = false,
          ISNEW(),
          ISPICKVAL([Case].ANZ_Support_Type__c,&apos;ServiceFirst&apos;)
) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_25</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c} = false,
          ISNEW(),
          ISPICKVAL({!myVariable_current.ANZ_Support_Type__c},&apos;ServiceFirst&apos;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c = false,
          ISNEW(),
          ISPICKVAL([Case].ANZ_Support_Type__c,&apos;Technical Care&apos;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_27</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c} = false,
          ISNEW(),
          ISPICKVAL({!myVariable_current.ANZ_Support_Type__c},&apos;Technical Care&apos;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND($Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c = false,
          ISNEW(),
          ISPICKVAL([Case].Sales_Org__c,&apos;LLEY&apos;),
         OR(
                ISPICKVAL([Case].Status,&apos;Escalated&apos;),
                ISPICKVAL([Case].Status,&apos;Active&apos;)
               ),
          [Case].RecordType.DeveloperName &lt;&gt; &apos;Site_Originated&apos; ,
          [Case].RecordType.DeveloperName &lt;&gt; &apos;Elite_CPQ_Requests&apos; ,
          [Case].RecordType.DeveloperName &lt;&gt; &apos;Elite_Closed_CPQ_Requests&apos;
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_29</name>
        <dataType>Boolean</dataType>
        <expression>AND({!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c} = false,
          ISNEW(),
          ISPICKVAL({!myVariable_current.Sales_Org__c},&apos;LLEY&apos;),
         OR(
                ISPICKVAL({!myVariable_current.Status},&apos;Escalated&apos;),
                ISPICKVAL({!myVariable_current.Status},&apos;Active&apos;)
               ),
          {!myVariable_current.RecordType.DeveloperName} &lt;&gt; &apos;Site_Originated&apos; ,
          {!myVariable_current.RecordType.DeveloperName} &lt;&gt; &apos;Elite_CPQ_Requests&apos; ,
          {!myVariable_current.RecordType.DeveloperName} &lt;&gt; &apos;Elite_Closed_CPQ_Requests&apos;
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND($Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c = false,
          ISNEW(),
          ISPICKVAL([Case].Sales_Org__c,&apos;LLEY&apos;),
         OR(
                ISPICKVAL([Case].Status,&apos;Escalated&apos;),
                ISPICKVAL([Case].Status,&apos;Active&apos;)
               ),
          [Case].RecordType.DeveloperName &lt;&gt; &apos;Site_Originated&apos; ,
          [Case].RecordType.DeveloperName &lt;&gt; &apos;Elite_CPQ_Requests&apos; ,
          [Case].RecordType.DeveloperName &lt;&gt; &apos;Elite_Closed_CPQ_Requests&apos;
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_29_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND({!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c} = false,
          ISNEW(),
          ISPICKVAL({!myVariable_old.Sales_Org__c},&apos;LLEY&apos;),
         OR(
                ISPICKVAL({!myVariable_old.Status},&apos;Escalated&apos;),
                ISPICKVAL({!myVariable_old.Status},&apos;Active&apos;)
               ),
          {!myVariable_old.RecordType.DeveloperName} &lt;&gt; &apos;Site_Originated&apos; ,
          {!myVariable_old.RecordType.DeveloperName} &lt;&gt; &apos;Elite_CPQ_Requests&apos; ,
          {!myVariable_old.RecordType.DeveloperName} &lt;&gt; &apos;Elite_Closed_CPQ_Requests&apos;
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c = false,

          [Case].RecordType.DeveloperName == &apos;Archive_Request&apos; , 
          [Case].IsClosed == TRUE , 
         OR([Case].CreatedBy.Language__c == &apos;Portugués (Brasileño)&apos;,
                [Case].CreatedBy.Language__c == &apos;Portuguese (Brazilian)&apos;,
                [Case].CreatedBy.Language__c == &apos;Portuguese (Brazil)&apos;,
                [Case].CreatedBy.Language__c == &apos;Português (Brasil)&apos;,
                [Case].CreatedBy.Language__c == &apos;Portugués (Brasil)&apos;
           )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c} = false,

          {!myVariable_current.RecordType.DeveloperName} == &apos;Archive_Request&apos; , 
          {!myVariable_current.IsClosed} == TRUE , 
         OR({!myVariable_current.CreatedBy.Language__c} == &apos;Portugués (Brasileño)&apos;,
                {!myVariable_current.CreatedBy.Language__c} == &apos;Portuguese (Brazilian)&apos;,
                {!myVariable_current.CreatedBy.Language__c} == &apos;Portuguese (Brazil)&apos;,
                {!myVariable_current.CreatedBy.Language__c} == &apos;Português (Brasil)&apos;,
                {!myVariable_current.CreatedBy.Language__c} == &apos;Portugués (Brasil)&apos;
           )
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND($Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c = false,
          ISNEW(),
          ISPICKVAL([Case].Sales_Org__c,&apos;RV01&apos;),
          OR(
                 ISPICKVAL([Case].Status,&apos;Escalated&apos;),
                 ISPICKVAL([Case].Status,&apos;Active&apos;)
          ),
          [Case].RecordType.DeveloperName &lt;&gt; &apos;Site_Originated&apos; ,
          [Case].RecordType.DeveloperName &lt;&gt; &apos;Elite_CPQ_Requests&apos; ,
          [Case].RecordType.DeveloperName &lt;&gt; &apos;Elite_Closed_CPQ_Requests&apos;
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_31</name>
        <dataType>Boolean</dataType>
        <expression>AND({!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c} = false,
          ISNEW(),
          ISPICKVAL({!myVariable_current.Sales_Org__c},&apos;RV01&apos;),
          OR(
                 ISPICKVAL({!myVariable_current.Status},&apos;Escalated&apos;),
                 ISPICKVAL({!myVariable_current.Status},&apos;Active&apos;)
          ),
          {!myVariable_current.RecordType.DeveloperName} &lt;&gt; &apos;Site_Originated&apos; ,
          {!myVariable_current.RecordType.DeveloperName} &lt;&gt; &apos;Elite_CPQ_Requests&apos; ,
          {!myVariable_current.RecordType.DeveloperName} &lt;&gt; &apos;Elite_Closed_CPQ_Requests&apos;
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND($Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c = false,
          ISNEW(),
          ISPICKVAL([Case].Sales_Org__c,&apos;RV01&apos;),
          OR(
                 ISPICKVAL([Case].Status,&apos;Escalated&apos;),
                 ISPICKVAL([Case].Status,&apos;Active&apos;)
          ),
          [Case].RecordType.DeveloperName &lt;&gt; &apos;Site_Originated&apos; ,
          [Case].RecordType.DeveloperName &lt;&gt; &apos;Elite_CPQ_Requests&apos; ,
          [Case].RecordType.DeveloperName &lt;&gt; &apos;Elite_Closed_CPQ_Requests&apos;
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_31_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND({!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c} = false,
          ISNEW(),
          ISPICKVAL({!myVariable_old.Sales_Org__c},&apos;RV01&apos;),
          OR(
                 ISPICKVAL({!myVariable_old.Status},&apos;Escalated&apos;),
                 ISPICKVAL({!myVariable_old.Status},&apos;Active&apos;)
          ),
          {!myVariable_old.RecordType.DeveloperName} &lt;&gt; &apos;Site_Originated&apos; ,
          {!myVariable_old.RecordType.DeveloperName} &lt;&gt; &apos;Elite_CPQ_Requests&apos; ,
          {!myVariable_old.RecordType.DeveloperName} &lt;&gt; &apos;Elite_Closed_CPQ_Requests&apos;
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c = false,

          [Case].RecordType.DeveloperName == &apos;Archive_Request&apos; , 
          [Case].IsClosed == TRUE , 
         OR([Case].CreatedBy.Language__c == &apos;Portugués (Brasileño)&apos;,
                [Case].CreatedBy.Language__c == &apos;Portuguese (Brazilian)&apos;,
                [Case].CreatedBy.Language__c == &apos;Portuguese (Brazil)&apos;,
                [Case].CreatedBy.Language__c == &apos;Português (Brasil)&apos;,
                [Case].CreatedBy.Language__c == &apos;Portugués (Brasil)&apos;
           )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c} = false,

          {!myVariable_old.RecordType.DeveloperName} == &apos;Archive_Request&apos; , 
          {!myVariable_old.IsClosed} == TRUE , 
         OR({!myVariable_old.CreatedBy.Language__c} == &apos;Portugués (Brasileño)&apos;,
                {!myVariable_old.CreatedBy.Language__c} == &apos;Portuguese (Brazilian)&apos;,
                {!myVariable_old.CreatedBy.Language__c} == &apos;Portuguese (Brazil)&apos;,
                {!myVariable_old.CreatedBy.Language__c} == &apos;Português (Brasil)&apos;,
                {!myVariable_old.CreatedBy.Language__c} == &apos;Portugués (Brasil)&apos;
           )
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c = false,

          [Case].RecordType.DeveloperName == &apos;Archive_Request&apos; ,
          [Case].IsClosed == TRUE,
          [Case].CreatedBy.Language__c  == &apos;Spanish&apos;
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c} = false,

          {!myVariable_current.RecordType.DeveloperName} == &apos;Archive_Request&apos; ,
          {!myVariable_current.IsClosed} == TRUE,
          {!myVariable_current.CreatedBy.Language__c}  == &apos;Spanish&apos;
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c = false,

          [Case].RecordType.DeveloperName == &apos;Archive_Request&apos; ,
          [Case].IsClosed == TRUE,
          [Case].CreatedBy.Language__c  == &apos;Spanish&apos;
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c} = false,

          {!myVariable_old.RecordType.DeveloperName} == &apos;Archive_Request&apos; ,
          {!myVariable_old.IsClosed} == TRUE,
          {!myVariable_old.CreatedBy.Language__c}  == &apos;Spanish&apos;
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c = false,

         ISPICKVAL([Case].Status, &apos;Closed&apos;) ,
         [Case].RecordType.DeveloperName = &apos;Site_Originated&apos; )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c} = false,

         ISPICKVAL({!myVariable_current.Status}, &apos;Closed&apos;) ,
         {!myVariable_current.RecordType.DeveloperName} = &apos;Site_Originated&apos; )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c = false,

         ISPICKVAL([Case].Status, &apos;Closed&apos;) ,
         [Case].RecordType.DeveloperName = &apos;Site_Originated&apos; )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c} = false,

         ISPICKVAL({!myVariable_old.Status}, &apos;Closed&apos;) ,
         {!myVariable_old.RecordType.DeveloperName} = &apos;Site_Originated&apos; )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
 $Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c = false,
         OR([Case].RecordType.DeveloperName = &apos;Findlaw_Inquiry&apos;,  
                [Case].RecordType.DeveloperName = &apos;SCS_Inquiry&apos;
                ),
			[Case].Salesperson__c.ESC_Full_Name__c &lt;&gt;  &apos;Automated Process&apos;,
				OR(
					AND(ISNEW() ,ISPICKVAL([Case].Status , &apos;Open&apos;) ),
					AND(ISPICKVAL([Case].Status , &apos;Open&apos;),ISCHANGED([Case].Status),ISPICKVAL(PRIORVALUE([Case].Status), &apos;New&apos;)

 )
					)
 )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>AND(
 {!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c} = false,
         OR({!myVariable_current.RecordType.DeveloperName} = &apos;Findlaw_Inquiry&apos;,  
                {!myVariable_current.RecordType.DeveloperName} = &apos;SCS_Inquiry&apos;
                ),
			{!myVariable_current.Salesperson__r.ESC_Full_Name__c} &lt;&gt;  &apos;Automated Process&apos;,
				OR(
					AND(ISNEW() ,ISPICKVAL({!myVariable_current.Status} , &apos;Open&apos;) ),
					AND(ISPICKVAL({!myVariable_current.Status} , &apos;Open&apos;),ISCHANGED({!myVariable_current.Status}),ISPICKVAL(PRIORVALUE({!myVariable_current.Status}), &apos;New&apos;)

 )
					)
 )</expression>
    </formulas>
    <interviewLabel>ESC_CaseEmailNotifications-14_InterviewLabel</interviewLabel>
    <label>ESC_CaseEmailNotifications</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_15_A1</name>
        <label>Set  SalesPerson to Owner</label>
        <locationX>1500</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision16</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Owner ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Group;User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>myVariable_current.Salesperson__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>myPreWaitDecision_myWait_myRule_31</startElementReference>
    <status>Active</status>
    <variables>
        <name>cancelWaits</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myWaitEvent_myWait_myRule_29_event_0_postActionExecutionVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>myWaitEvent_myWait_myRule_29_event_1_postActionExecutionVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>myWaitEvent_myWait_myRule_31_event_0_postActionExecutionVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>myWaitEvent_myWait_myRule_31_event_1_postActionExecutionVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <waits>
        <name>myWait_myRule_29</name>
        <label>myWait_myRule_29</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>defaultLabel</defaultConnectorLabel>
        <waitEvents>
            <processMetadataValues>
                <name>inputParameterType</name>
                <value>
                    <stringValue>referenced</stringValue>
                </value>
            </processMetadataValues>
            <name>myWaitEvent_myWait_myRule_29_event_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myWaitEvent_myWait_myRule_29_event_0_postActionExecutionVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myPostWaitDecision_myWaitEvent_myWait_myRule_29_event_0</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>myVariable_current.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>24.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>CreatedDate</stringValue>
                </value>
            </inputParameters>
            <label>myWaitEvent_myWait_myRule_29_event_0</label>
        </waitEvents>
        <waitEvents>
            <processMetadataValues>
                <name>inputParameterType</name>
                <value>
                    <stringValue>referenced</stringValue>
                </value>
            </processMetadataValues>
            <name>myWaitEvent_myWait_myRule_29_event_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myWaitEvent_myWait_myRule_29_event_1_postActionExecutionVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myPostWaitDecision_myWaitEvent_myWait_myRule_29_event_1</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>myVariable_current.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>48.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>CreatedDate</stringValue>
                </value>
            </inputParameters>
            <label>myWaitEvent_myWait_myRule_29_event_1</label>
        </waitEvents>
    </waits>
    <waits>
        <name>myWait_myRule_31</name>
        <label>myWait_myRule_31</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>defaultLabel</defaultConnectorLabel>
        <waitEvents>
            <processMetadataValues>
                <name>inputParameterType</name>
                <value>
                    <stringValue>referenced</stringValue>
                </value>
            </processMetadataValues>
            <name>myWaitEvent_myWait_myRule_31_event_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myWaitEvent_myWait_myRule_31_event_0_postActionExecutionVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myPostWaitDecision_myWaitEvent_myWait_myRule_31_event_0</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>myVariable_current.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>24.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>CreatedDate</stringValue>
                </value>
            </inputParameters>
            <label>myWaitEvent_myWait_myRule_31_event_0</label>
        </waitEvents>
        <waitEvents>
            <processMetadataValues>
                <name>inputParameterType</name>
                <value>
                    <stringValue>referenced</stringValue>
                </value>
            </processMetadataValues>
            <name>myWaitEvent_myWait_myRule_31_event_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myWaitEvent_myWait_myRule_31_event_1_postActionExecutionVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myPostWaitDecision_myWaitEvent_myWait_myRule_31_event_1</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>myVariable_current.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>48.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>CreatedDate</stringValue>
                </value>
            </inputParameters>
            <label>myWaitEvent_myWait_myRule_31_event_1</label>
        </waitEvents>
    </waits>
</Flow>
