flows/ESC_CaseCreationFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>AcritasAss</name>
        <label>AcritasAss</label>
        <locationX>50</locationX>
        <locationY>1022</locationY>
        <assignmentItems>
            <assignToReference>Brand</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Acritas</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ParentDec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AuditAss</name>
        <label>AuditAss</label>
        <locationX>314</locationX>
        <locationY>1022</locationY>
        <assignmentItems>
            <assignToReference>Brand</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Audit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ParentDec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CaselinesAss</name>
        <label>CaselinesAss</label>
        <locationX>2690</locationX>
        <locationY>1022</locationY>
        <assignmentItems>
            <assignToReference>Brand</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Caselines</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ParentDec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CheckpointAss</name>
        <label>CheckpointAss</label>
        <locationX>578</locationX>
        <locationY>1022</locationY>
        <assignmentItems>
            <assignToReference>Brand</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Checkpoint</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ParentDec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContentAss</name>
        <label>ContentAss</label>
        <locationX>842</locationX>
        <locationY>1022</locationY>
        <assignmentItems>
            <assignToReference>Brand</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Content</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ParentDec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EliteAss</name>
        <label>EliteAss</label>
        <locationX>1106</locationX>
        <locationY>1022</locationY>
        <assignmentItems>
            <assignToReference>Brand</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Elite</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ParentDec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>er1</name>
        <label>er</label>
        <locationX>2030</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>rectypes</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enhancement Request</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BrandDecisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>fb1</name>
        <label>fb</label>
        <locationX>2294</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>rectypes</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Feedback</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BrandDecisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HighQAss</name>
        <label>HighQAss</label>
        <locationX>1370</locationX>
        <locationY>1022</locationY>
        <assignmentItems>
            <assignToReference>Brand</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>HighQ</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ParentDec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>inc11</name>
        <label>inc</label>
        <locationX>710</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>rectypes</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Incident</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BrandDecisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>lcas</name>
        <label>lc</label>
        <locationX>1238</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>rectypes</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Legal Content</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BrandDecisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LearningAss</name>
        <label>LearningAss</label>
        <locationX>1634</locationX>
        <locationY>1022</locationY>
        <assignmentItems>
            <assignToReference>Brand</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Learning</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ParentDec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LegalAss</name>
        <label>LegalAss</label>
        <locationX>1898</locationX>
        <locationY>1022</locationY>
        <assignmentItems>
            <assignToReference>Brand</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Legal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ParentDec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OnesourceAss</name>
        <label>OnesourceAss</label>
        <locationX>2162</locationX>
        <locationY>1022</locationY>
        <assignmentItems>
            <assignToReference>Brand</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ONESOURCE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ParentDec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OnvioAss</name>
        <label>OnvioAss</label>
        <locationX>2954</locationX>
        <locationY>1022</locationY>
        <assignmentItems>
            <assignToReference>Brand</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Onvio</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ParentDec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>rfa1</name>
        <label>rfa</label>
        <locationX>974</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>rectypes</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Request For Action</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BrandDecisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>rfs</name>
        <label>rfs</label>
        <locationX>1766</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>rectypes</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Request for Service</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BrandDecisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RiskAss</name>
        <label>RiskAss</label>
        <locationX>2426</locationX>
        <locationY>1022</locationY>
        <assignmentItems>
            <assignToReference>Brand</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Risk</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ParentDec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ts1</name>
        <label>ts</label>
        <locationX>1502</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>rectypes</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tech Support</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BrandDecisions</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Acritas</name>
        <choiceText>Acritas</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Audit</name>
        <choiceText>Audit</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>CaseLines</name>
        <choiceText>CaseLines</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Checkpoint</name>
        <choiceText>Checkpoint</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Content</name>
        <choiceText>Content</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Elite</name>
        <choiceText>Elite</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>EnhancementRequest</name>
        <choiceText>Enhancement Request</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Feedback</name>
        <choiceText>Feedback</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>HighQ</name>
        <choiceText>HighQ</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Incident</name>
        <choiceText>Incident</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Learning</name>
        <choiceText>Learning</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Legal</name>
        <choiceText>Legal</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>LegalContent</name>
        <choiceText>Legal Content</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ONESOURCE</name>
        <choiceText>ONESOURCE</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Onvio</name>
        <choiceText>Onvio</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>RequestforAction</name>
        <choiceText>Request for Action</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>RequestforService</name>
        <choiceText>Request for Service</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Risk</name>
        <choiceText>Risk</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>TechSupport</name>
        <choiceText>Tech Support</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>BrandDecisions</name>
        <label>BrandDecisions</label>
        <locationX>1634</locationX>
        <locationY>902</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AcritasDec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Acritas</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AcritasAss</targetReference>
            </connector>
            <label>AcritasDec</label>
        </rules>
        <rules>
            <name>AuditDec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Audit</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AuditAss</targetReference>
            </connector>
            <label>AuditDec</label>
        </rules>
        <rules>
            <name>CheckpointDec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Checkpoint</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckpointAss</targetReference>
            </connector>
            <label>CheckpointDec</label>
        </rules>
        <rules>
            <name>ContentDec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Content</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContentAss</targetReference>
            </connector>
            <label>ContentDec</label>
        </rules>
        <rules>
            <name>EliteDec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Elite</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EliteAss</targetReference>
            </connector>
            <label>EliteDec</label>
        </rules>
        <rules>
            <name>HighQDec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HighQ</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HighQAss</targetReference>
            </connector>
            <label>HighQDec</label>
        </rules>
        <rules>
            <name>LearningDec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Learning</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LearningAss</targetReference>
            </connector>
            <label>LearningDec</label>
        </rules>
        <rules>
            <name>LegalDec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Legal</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LegalAss</targetReference>
            </connector>
            <label>LegalDec</label>
        </rules>
        <rules>
            <name>OnesourceDec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ONESOURCE</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OnesourceAss</targetReference>
            </connector>
            <label>OnesourceDec</label>
        </rules>
        <rules>
            <name>RiskDec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Risk</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RiskAss</targetReference>
            </connector>
            <label>RiskDec</label>
        </rules>
        <rules>
            <name>CaselinesDec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseLines</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaselinesAss</targetReference>
            </connector>
            <label>CaselinesDec</label>
        </rules>
        <rules>
            <name>OnvioDec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Onvio</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OnvioAss</targetReference>
            </connector>
            <label>OnvioDec</label>
        </rules>
    </decisions>
    <decisions>
        <name>inc</name>
        <label>inc</label>
        <locationX>1634</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>inc1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Incident</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>inc11</targetReference>
            </connector>
            <label>inc</label>
        </rules>
        <rules>
            <name>rfa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestforAction</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rfa1</targetReference>
            </connector>
            <label>rfa</label>
        </rules>
        <rules>
            <name>lc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LegalContent</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lcas</targetReference>
            </connector>
            <label>lc</label>
        </rules>
        <rules>
            <name>ts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TechSupport</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ts1</targetReference>
            </connector>
            <label>ts</label>
        </rules>
        <rules>
            <name>rfs1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestforService</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rfs</targetReference>
            </connector>
            <label>rfs</label>
        </rules>
        <rules>
            <name>er</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EnhancementRequest</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>er1</targetReference>
            </connector>
            <label>er</label>
        </rules>
        <rules>
            <name>fb</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Feedback</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>fb1</targetReference>
            </connector>
            <label>fb</label>
        </rules>
    </decisions>
    <decisions>
        <name>ParentDec</name>
        <label>ParentDec</label>
        <locationX>1634</locationX>
        <locationY>1238</locationY>
        <defaultConnector>
            <targetReference>GetSSDContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContactDec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getcontact</targetReference>
            </connector>
            <label>ContactDec</label>
        </rules>
    </decisions>
    <description>Final Version Copy-Acc+Recordtype+onvio+uniqid</description>
    <interviewLabel>ESC_CaseCreationFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ESC_CaseCreationFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCase</name>
        <label>CreateCase</label>
        <locationX>1502</locationX>
        <locationY>1718</locationY>
        <assignRecordIdToReference>CaseId</assignRecordIdToReference>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Getcontact.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <elementReference>Getbusinesshours.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESC_Case_Type__c</field>
            <value>
                <elementReference>rectypes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESC_Product_Segment_Brand__c</field>
            <value>
                <elementReference>Brand</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESC_Unique_Identifier__c</field>
            <value>
                <elementReference>Brand</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getrectypeid.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Org__c</field>
            <value>
                <stringValue>GLI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Work In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>SSDCaseCreation</name>
        <label>SSDCaseCreation</label>
        <locationX>1766</locationX>
        <locationY>1718</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetSSDContact.LCRM_Contact__r.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <elementReference>Getbusinesshours.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetSSDContact.LCRM_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Source_System__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESC_Case_Type__c</field>
            <value>
                <elementReference>rectypes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESC_Product_Segment_Brand__c</field>
            <value>
                <elementReference>Brand</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESC_Unique_Identifier__c</field>
            <value>
                <elementReference>Brand</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getrectypeidssdcase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Org__c</field>
            <value>
                <stringValue>GLI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Work In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Getbusinesshours</name>
        <label>Getbusinesshours</label>
        <locationX>1634</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>inc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TimeZoneSidKey</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetUser.TimeZoneSidKey</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BusinessHours</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TimeZoneSidKey</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getcontact</name>
        <label>Getcontact</label>
        <locationX>1502</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getrectype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getrectype</name>
        <label>getrectype</label>
        <locationX>1502</locationX>
        <locationY>1478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getrectypeid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rectypes</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ESC_RecordTypeList__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ESC_API_Name__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getrectypeid</name>
        <label>getrectypeid</label>
        <locationX>1502</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getrectype.ESC_API_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getrectypeidssdcase</name>
        <label>getrectypeidssdcase</label>
        <locationX>1766</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SSDCaseCreation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getrectypessdcase.ESC_API_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getrectypessdcase</name>
        <label>getrectypessdcase</label>
        <locationX>1766</locationX>
        <locationY>1478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getrectypeidssdcase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rectypes</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ESC_RecordTypeList__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ESC_API_Name__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSSDContact</name>
        <label>GetSSDContact</label>
        <locationX>1766</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getrectypessdcase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LCRM_Contact_SSD__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LCRM_Contact__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUser</name>
        <label>GetUser</label>
        <locationX>1634</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Getbusinesshours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TimeZoneSidKey</queriedFields>
        <queriedFields>Sub_Bu__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Case_Creation</name>
        <label>Case Creation</label>
        <locationX>1634</locationX>
        <locationY>206</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetUser</targetReference>
        </connector>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Record_Type</name>
            <choiceReferences>Incident</choiceReferences>
            <choiceReferences>LegalContent</choiceReferences>
            <choiceReferences>TechSupport</choiceReferences>
            <choiceReferences>RequestforAction</choiceReferences>
            <choiceReferences>RequestforService</choiceReferences>
            <choiceReferences>Feedback</choiceReferences>
            <choiceReferences>EnhancementRequest</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Incident</defaultSelectedChoiceReference>
            <fieldText>Record Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Product_Segment_Brand</name>
            <choiceReferences>Acritas</choiceReferences>
            <choiceReferences>Audit</choiceReferences>
            <choiceReferences>Checkpoint</choiceReferences>
            <choiceReferences>Content</choiceReferences>
            <choiceReferences>Elite</choiceReferences>
            <choiceReferences>HighQ</choiceReferences>
            <choiceReferences>Learning</choiceReferences>
            <choiceReferences>Legal</choiceReferences>
            <choiceReferences>ONESOURCE</choiceReferences>
            <choiceReferences>Risk</choiceReferences>
            <choiceReferences>CaseLines</choiceReferences>
            <choiceReferences>Onvio</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product Segment / Brand</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1508</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Case_Creation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Brand</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ConId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recid</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rectypes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
