flows/GLI_Email2Case_Updates.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>process</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>GLI_Email to Case Contact Association</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_10_A2</name>
        <label>Emailcontact Association</label>
        <locationX>1000</locationX>
        <locationY>300</locationY>
        <actionName>GLI_Email_to_Case_Contact_Association</actionName>
        <actionType>flow</actionType>
        <connector>
            <targetReference>myRule_10_A3</targetReference>
        </connector>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>SObject</name>
            <value>
                <elementReference>myVariable_current.Parent</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>GLI_getCaseTimeToAcceptCalc</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_10_A3</name>
        <label>Call Milsetone calculationnfor GLI</label>
        <locationX>1000</locationX>
        <locationY>400</locationY>
        <actionName>GLI_TimeToAcceptCalculator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>myRule_10_A4</targetReference>
        </connector>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>idcases</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>idcases</name>
            <value>
                <elementReference>myVariable_current.ParentId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>process</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>GLI_Email to Case Contact Association</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>GLI Contact Association</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <actionName>GLI_Email_to_Case_Contact_Association</actionName>
        <actionType>flow</actionType>
        <connector>
            <targetReference>myRule_1_A3</targetReference>
        </connector>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>SObject</name>
            <value>
                <elementReference>myVariable_current.Parent</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>GLI_getCaseTimeToAcceptCalc</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A3</name>
        <label>MileStoneCalcualtion</label>
        <locationX>100</locationX>
        <locationY>400</locationY>
        <actionName>GLI_TimeToAcceptCalculator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>myRule_1_A4</targetReference>
        </connector>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>idcases</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>idcases</name>
            <value>
                <elementReference>myVariable_current.ParentId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>GLI_CaseInactiveOwner</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_24_A1</name>
        <label>UpdateCaseOwnertoQueue</label>
        <locationX>2400</locationX>
        <locationY>200</locationY>
        <actionName>GLI_CaseInactiveOwner</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>myDecision25</targetReference>
        </connector>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>idcases</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>idcases</name>
            <value>
                <elementReference>myVariable_current.ParentId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>process</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>GLI_Email to Case Contact Association</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_26_A1</name>
        <label>GLI Contact Association</label>
        <locationX>2600</locationX>
        <locationY>200</locationY>
        <actionName>GLI_Email_to_Case_Contact_Association</actionName>
        <actionType>flow</actionType>
        <connector>
            <targetReference>myRule_26_A2</targetReference>
        </connector>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>SObject</name>
            <value>
                <elementReference>myVariable_current.Parent</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>GLI_getCaseTimeToAcceptCalc</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_26_A2</name>
        <label>MileStoneCalcualtion</label>
        <locationX>2600</locationX>
        <locationY>300</locationY>
        <actionName>GLI_TimeToAcceptCalculator</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>idcases</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>idcases</name>
            <value>
                <elementReference>myVariable_current.ParentId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>(1 OR 9 OR 10) AND 11 AND 12 AND 13 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND 8</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Formula</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formula_2_myRule_1_9658733850</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.ParentId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.Is_GLI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.ESC_Origin_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.Is_ESC_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.ToAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Formula</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formula_3_myRule_1_0567477217</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Formula</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formula_4_myRule_1_7809375771</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>Group;User</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Formula</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.Owner:Queue.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formula_5_myRule_1_2327843310</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.LCRM_Sub_BU__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Populate Sales Org, IS GLI and Sub-BU</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision18</name>
        <label>myDecision18</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision23</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_19</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 12 AND((9 AND 6) OR (10 AND 7) OR (11 AND 8))</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.ParentId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.Is_ESC_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.Is_GLI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.ESC_Next_Response_Time_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Formula</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formula_20_myRule_19_8915067897</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Formula</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.CcAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formula_21_myRule_19_1595488634</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Formula</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.BccAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formula_22_myRule_19_5487767874</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.ToAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.BccAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.BccAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.LCRM_Sub_BU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UKI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_19_A1</targetReference>
            </connector>
            <label>GLI Email Outbound Check</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision23</name>
        <label>myDecision23</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision25</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_24</name>
            <conditionLogic>9 AND (10 AND 7) AND 1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 8</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.ParentId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.Is_GLI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.Is_ESC_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>GlobalConstant</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.ESC_LastQueueOwner__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.LCRM_Sub_BU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UKI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>Group;User</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_24_A1</targetReference>
            </connector>
            <label>Verify the case owner inactive</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision25</name>
        <label>myDecision25</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_26</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>Case</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.ParentId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.Is_ESC_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.ESC_Case_Acceptance_Entry_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.LCRM_Sub_BU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UKI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_26_A1</targetReference>
            </connector>
            <label>GLI case accptance milestone entry</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision9</name>
        <label>myDecision9</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision18</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_10</name>
            <conditionLogic>(11 AND (1 OR 9 OR 10)) AND 12 AND 13 AND 14 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND 8</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Formula</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.CcAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formula_11_myRule_10_6472035526</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.ParentId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.ESC_Origin_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.Is_GLI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.Is_ESC_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.CcAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Formula</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.CcAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formula_12_myRule_10_2570339100</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Formula</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.CcAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formula_13_myRule_10_3186492004</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.CcAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>Group;User</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Formula</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.Owner:Queue.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formula_14_myRule_10_9011243813</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.LCRM_Sub_BU__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_10_A1</targetReference>
            </connector>
            <label>Populate the GLI Sub BU for CC Address</label>
        </rules>
    </decisions>
    <description>Process builder to update the cases created using Email2Case for GLI Service Entitlement association Fix</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if (((CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email1__c,LEFT([EmailMessage].CcAddress,FIND(&apos;@&apos;,[EmailMessage].CcAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email2__c,LEFT([EmailMessage].CcAddress,FIND(&apos;@&apos;,[EmailMessage].CcAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email3__c,LEFT([EmailMessage].CcAddress,FIND(&apos;@&apos;,[EmailMessage].CcAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email4__c,LEFT([EmailMessage].CcAddress,FIND(&apos;@&apos;,[EmailMessage].CcAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email5__c,LEFT([EmailMessage].CcAddress,FIND(&apos;@&apos;,[EmailMessage].CcAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email6__c,LEFT([EmailMessage].CcAddress,FIND(&apos;@&apos;,[EmailMessage].CcAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email7__c,LEFT([EmailMessage].CcAddress,FIND(&apos;@&apos;,[EmailMessage].CcAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email8__c,LEFT([EmailMessage].CcAddress,FIND(&apos;@&apos;,[EmailMessage].CcAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email9__c,LEFT([EmailMessage].CcAddress,FIND(&apos;@&apos;,[EmailMessage].CcAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email10__c,LEFT([EmailMessage].CcAddress,FIND(&apos;@&apos;,[EmailMessage].CcAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email11__c,LEFT([EmailMessage].CcAddress,FIND(&apos;@&apos;,[EmailMessage].CcAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email12__c,LEFT([EmailMessage].CcAddress,FIND(&apos;@&apos;,[EmailMessage].CcAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email13__c,LEFT([EmailMessage].CcAddress,FIND(&apos;@&apos;,[EmailMessage].CcAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email14__c,LEFT([EmailMessage].CcAddress,FIND(&apos;@&apos;,[EmailMessage].CcAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email15__c,LEFT([EmailMessage].CcAddress,FIND(&apos;@&apos;,[EmailMessage].CcAddress)-1)))),[EmailMessage].CcAddress,&apos;&apos;) 
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_11_myRule_10_6472035526</name>
        <dataType>String</dataType>
        <expression>if (((CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email1__c},LEFT({!myVariable_current.CcAddress},FIND(&apos;@&apos;,{!myVariable_current.CcAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email2__c},LEFT({!myVariable_current.CcAddress},FIND(&apos;@&apos;,{!myVariable_current.CcAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email3__c},LEFT({!myVariable_current.CcAddress},FIND(&apos;@&apos;,{!myVariable_current.CcAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email4__c},LEFT({!myVariable_current.CcAddress},FIND(&apos;@&apos;,{!myVariable_current.CcAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email5__c},LEFT({!myVariable_current.CcAddress},FIND(&apos;@&apos;,{!myVariable_current.CcAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email6__c},LEFT({!myVariable_current.CcAddress},FIND(&apos;@&apos;,{!myVariable_current.CcAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email7__c},LEFT({!myVariable_current.CcAddress},FIND(&apos;@&apos;,{!myVariable_current.CcAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email8__c},LEFT({!myVariable_current.CcAddress},FIND(&apos;@&apos;,{!myVariable_current.CcAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email9__c},LEFT({!myVariable_current.CcAddress},FIND(&apos;@&apos;,{!myVariable_current.CcAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email10__c},LEFT({!myVariable_current.CcAddress},FIND(&apos;@&apos;,{!myVariable_current.CcAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email11__c},LEFT({!myVariable_current.CcAddress},FIND(&apos;@&apos;,{!myVariable_current.CcAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email12__c},LEFT({!myVariable_current.CcAddress},FIND(&apos;@&apos;,{!myVariable_current.CcAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email13__c},LEFT({!myVariable_current.CcAddress},FIND(&apos;@&apos;,{!myVariable_current.CcAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email14__c},LEFT({!myVariable_current.CcAddress},FIND(&apos;@&apos;,{!myVariable_current.CcAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email15__c},LEFT({!myVariable_current.CcAddress},FIND(&apos;@&apos;,{!myVariable_current.CcAddress})-1)))),{!myVariable_current.CcAddress},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if (((CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email16__c,LEFT([EmailMessage].CcAddress,FIND(&apos;@&apos;,[EmailMessage].CcAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email17__c,LEFT([EmailMessage].CcAddress,FIND(&apos;@&apos;,[EmailMessage].CcAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email18__c,LEFT([EmailMessage].CcAddress,FIND(&apos;@&apos;,[EmailMessage].CcAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email19__c,LEFT([EmailMessage].CcAddress,FIND(&apos;@&apos;,[EmailMessage].CcAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email20__c,LEFT([EmailMessage].CcAddress,FIND(&apos;@&apos;,[EmailMessage].CcAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email21__c,LEFT([EmailMessage].CcAddress,FIND(&apos;@&apos;,[EmailMessage].CcAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email22__c,LEFT([EmailMessage].CcAddress,FIND(&apos;@&apos;,[EmailMessage].CcAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email23__c,LEFT([EmailMessage].CcAddress,FIND(&apos;@&apos;,[EmailMessage].CcAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email24__c,LEFT([EmailMessage].CcAddress,FIND(&apos;@&apos;,[EmailMessage].CcAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email25__c,LEFT([EmailMessage].CcAddress,FIND(&apos;@&apos;,[EmailMessage].CcAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email26__c,LEFT([EmailMessage].CcAddress,FIND(&apos;@&apos;,[EmailMessage].CcAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email27__c,LEFT([EmailMessage].CcAddress,FIND(&apos;@&apos;,[EmailMessage].CcAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email28__c,LEFT([EmailMessage].CcAddress,FIND(&apos;@&apos;,[EmailMessage].CcAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email29__c,LEFT([EmailMessage].CcAddress,FIND(&apos;@&apos;,[EmailMessage].CcAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email30__c,LEFT([EmailMessage].CcAddress,FIND(&apos;@&apos;,[EmailMessage].CcAddress)-1)))),[EmailMessage].CcAddress,&apos;&apos;) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_12_myRule_10_2570339100</name>
        <dataType>String</dataType>
        <expression>if (((CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email16__c},LEFT({!myVariable_current.CcAddress},FIND(&apos;@&apos;,{!myVariable_current.CcAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email17__c},LEFT({!myVariable_current.CcAddress},FIND(&apos;@&apos;,{!myVariable_current.CcAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email18__c},LEFT({!myVariable_current.CcAddress},FIND(&apos;@&apos;,{!myVariable_current.CcAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email19__c},LEFT({!myVariable_current.CcAddress},FIND(&apos;@&apos;,{!myVariable_current.CcAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email20__c},LEFT({!myVariable_current.CcAddress},FIND(&apos;@&apos;,{!myVariable_current.CcAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email21__c},LEFT({!myVariable_current.CcAddress},FIND(&apos;@&apos;,{!myVariable_current.CcAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email22__c},LEFT({!myVariable_current.CcAddress},FIND(&apos;@&apos;,{!myVariable_current.CcAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email23__c},LEFT({!myVariable_current.CcAddress},FIND(&apos;@&apos;,{!myVariable_current.CcAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email24__c},LEFT({!myVariable_current.CcAddress},FIND(&apos;@&apos;,{!myVariable_current.CcAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email25__c},LEFT({!myVariable_current.CcAddress},FIND(&apos;@&apos;,{!myVariable_current.CcAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email26__c},LEFT({!myVariable_current.CcAddress},FIND(&apos;@&apos;,{!myVariable_current.CcAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email27__c},LEFT({!myVariable_current.CcAddress},FIND(&apos;@&apos;,{!myVariable_current.CcAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email28__c},LEFT({!myVariable_current.CcAddress},FIND(&apos;@&apos;,{!myVariable_current.CcAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email29__c},LEFT({!myVariable_current.CcAddress},FIND(&apos;@&apos;,{!myVariable_current.CcAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email30__c},LEFT({!myVariable_current.CcAddress},FIND(&apos;@&apos;,{!myVariable_current.CcAddress})-1)))),{!myVariable_current.CcAddress},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if(([EmailMessage].CcAddress = $Setup.GLI_Email2Case_ToEmails__c.To_Email31__c)
|| ([EmailMessage].CcAddress = $Setup.GLI_Email2Case_ToEmails__c.To_Email32__c) 
|| ([EmailMessage].CcAddress = $Setup.GLI_Email2Case_ToEmails__c.To_Email33__c) 
|| ([EmailMessage].CcAddress = $Setup.GLI_Email2Case_ToEmails__c.To_Email34__c), [EmailMessage].CcAddress ,&apos; &apos;) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_13_myRule_10_3186492004</name>
        <dataType>String</dataType>
        <expression>if(({!myVariable_current.CcAddress} = {!$Setup.GLI_Email2Case_ToEmails__c.To_Email31__c})
|| ({!myVariable_current.CcAddress} = {!$Setup.GLI_Email2Case_ToEmails__c.To_Email32__c}) 
|| ({!myVariable_current.CcAddress} = {!$Setup.GLI_Email2Case_ToEmails__c.To_Email33__c}) 
|| ({!myVariable_current.CcAddress} = {!$Setup.GLI_Email2Case_ToEmails__c.To_Email34__c}), {!myVariable_current.CcAddress} ,&apos; &apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if(([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId1__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId2__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId3__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId4__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId5__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId6__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId7__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId8__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId9__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId10__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId11__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId12__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId13__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId14__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId15__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId16__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId17__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId18__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId19__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId20__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId21__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId22__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId23__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId24__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId25__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId26__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId27__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId28__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId29__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId30__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId31__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId32__c ),
[EmailMessage].Parent.Owner:Queue.DeveloperName,&apos;&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_14_myRule_10_9011243813</name>
        <dataType>String</dataType>
        <expression>if(({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId1__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId2__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId3__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId4__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId5__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId6__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId7__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId8__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId9__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId10__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId11__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId12__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId13__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId14__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId15__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId16__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId17__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId18__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId19__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId20__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId21__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId22__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId23__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId24__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId25__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId26__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId27__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId28__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId29__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId30__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId31__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId32__c} ),
{!myVariable_current.Parent.Owner:Queue.DeveloperName},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if($Setup.GLI_Business_Hours__c.BusinessHoursId__c != null &amp;&amp; $Setup.GLI_Business_Hours__c.BusinessHoursId__c != &apos;&apos; ,$Setup.GLI_Business_Hours__c.BusinessHoursId__c,[EmailMessage].Parent.BusinessHours.Id )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_15_myRule_10_A1_9624013999</name>
        <dataType>String</dataType>
        <expression>if({!$Setup.GLI_Business_Hours__c.BusinessHoursId__c} != null &amp;&amp; {!$Setup.GLI_Business_Hours__c.BusinessHoursId__c} != &apos;&apos; ,{!$Setup.GLI_Business_Hours__c.BusinessHoursId__c},{!myVariable_current.Parent.BusinessHours.Id} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>left([EmailMessage].CcAddress ,255)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_16_myRule_10_A1_9881508057</name>
        <dataType>String</dataType>
        <expression>left({!myVariable_current.CcAddress} ,255)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(CONTAINS([EmailMessage].HtmlBody ,&apos;ref:_00D&apos;) || CONTAINS([EmailMessage].Subject,&apos;ref:_00D&apos;),TEXT([EmailMessage].Parent.Status),&apos;New&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_17_myRule_10_A1_3749994137</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!myVariable_current.HtmlBody} ,&apos;ref:_00D&apos;) || CONTAINS({!myVariable_current.Subject},&apos;ref:_00D&apos;),TEXT({!myVariable_current.Parent.Status}),&apos;New&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if ([EmailMessage].ToAddress!=null &amp;&amp; [EmailMessage].ToAddress!=&apos;&apos; &amp;&amp;  [EmailMessage].Parent.ContactId != null &amp;&amp; [EmailMessage].Parent.ContactId != &apos;&apos;&amp;&amp;[EmailMessage].Parent.Contact.Email  != null &amp;&amp; [EmailMessage].Parent.Contact.Email  != &apos;&apos; ,[EmailMessage].Parent.Contact.Email,&apos;&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_20_myRule_19_8915067897</name>
        <dataType>String</dataType>
        <expression>if ({!myVariable_current.ToAddress}!=null &amp;&amp; {!myVariable_current.ToAddress}!=&apos;&apos; &amp;&amp;  {!myVariable_current.Parent.ContactId} != null &amp;&amp; {!myVariable_current.Parent.ContactId} != &apos;&apos;&amp;&amp;{!myVariable_current.Parent.Contact.Email}  != null &amp;&amp; {!myVariable_current.Parent.Contact.Email}  != &apos;&apos; ,{!myVariable_current.Parent.Contact.Email},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if ([EmailMessage].CcAddress!=null &amp;&amp; [EmailMessage].CcAddress!=&apos;&apos; &amp;&amp;  [EmailMessage].Parent.ContactId != null &amp;&amp; [EmailMessage].Parent.ContactId != &apos;&apos;&amp;&amp;[EmailMessage].Parent.Contact.Email  != null &amp;&amp; [EmailMessage].Parent.Contact.Email  != &apos;&apos; ,[EmailMessage].Parent.Contact.Email,&apos;&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_21_myRule_19_1595488634</name>
        <dataType>String</dataType>
        <expression>if ({!myVariable_current.CcAddress}!=null &amp;&amp; {!myVariable_current.CcAddress}!=&apos;&apos; &amp;&amp;  {!myVariable_current.Parent.ContactId} != null &amp;&amp; {!myVariable_current.Parent.ContactId} != &apos;&apos;&amp;&amp;{!myVariable_current.Parent.Contact.Email}  != null &amp;&amp; {!myVariable_current.Parent.Contact.Email}  != &apos;&apos; ,{!myVariable_current.Parent.Contact.Email},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if ([EmailMessage].BccAddress!=null &amp;&amp; [EmailMessage].BccAddress!=&apos;&apos; &amp;&amp;  [EmailMessage].Parent.ContactId != null &amp;&amp; [EmailMessage].Parent.ContactId != &apos;&apos;&amp;&amp;[EmailMessage].Parent.Contact.Email  != null &amp;&amp; [EmailMessage].Parent.Contact.Email  != &apos;&apos; ,[EmailMessage].Parent.Contact.Email,&apos;&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_22_myRule_19_5487767874</name>
        <dataType>String</dataType>
        <expression>if ({!myVariable_current.BccAddress}!=null &amp;&amp; {!myVariable_current.BccAddress}!=&apos;&apos; &amp;&amp;  {!myVariable_current.Parent.ContactId} != null &amp;&amp; {!myVariable_current.Parent.ContactId} != &apos;&apos;&amp;&amp;{!myVariable_current.Parent.Contact.Email}  != null &amp;&amp; {!myVariable_current.Parent.Contact.Email}  != &apos;&apos; ,{!myVariable_current.Parent.Contact.Email},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if (((CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email1__c,LEFT([EmailMessage].ToAddress,FIND(&apos;@&apos;,[EmailMessage].ToAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email2__c,LEFT([EmailMessage].ToAddress,FIND(&apos;@&apos;,[EmailMessage].ToAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email3__c,LEFT([EmailMessage].ToAddress,FIND(&apos;@&apos;,[EmailMessage].ToAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email4__c,LEFT([EmailMessage].ToAddress,FIND(&apos;@&apos;,[EmailMessage].ToAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email5__c,LEFT([EmailMessage].ToAddress,FIND(&apos;@&apos;,[EmailMessage].ToAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email6__c,LEFT([EmailMessage].ToAddress,FIND(&apos;@&apos;,[EmailMessage].ToAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email7__c,LEFT([EmailMessage].ToAddress,FIND(&apos;@&apos;,[EmailMessage].ToAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email8__c,LEFT([EmailMessage].ToAddress,FIND(&apos;@&apos;,[EmailMessage].ToAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email9__c,LEFT([EmailMessage].ToAddress,FIND(&apos;@&apos;,[EmailMessage].ToAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email10__c,LEFT([EmailMessage].ToAddress,FIND(&apos;@&apos;,[EmailMessage].ToAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email11__c,LEFT([EmailMessage].ToAddress,FIND(&apos;@&apos;,[EmailMessage].ToAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email12__c,LEFT([EmailMessage].ToAddress,FIND(&apos;@&apos;,[EmailMessage].ToAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email13__c,LEFT([EmailMessage].ToAddress,FIND(&apos;@&apos;,[EmailMessage].ToAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email14__c,LEFT([EmailMessage].ToAddress,FIND(&apos;@&apos;,[EmailMessage].ToAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email15__c,LEFT([EmailMessage].ToAddress,FIND(&apos;@&apos;,[EmailMessage].ToAddress)-1)))
),[EmailMessage].ToAddress,&apos;&apos;) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_9658733850</name>
        <dataType>String</dataType>
        <expression>if (((CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email1__c},LEFT({!myVariable_current.ToAddress},FIND(&apos;@&apos;,{!myVariable_current.ToAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email2__c},LEFT({!myVariable_current.ToAddress},FIND(&apos;@&apos;,{!myVariable_current.ToAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email3__c},LEFT({!myVariable_current.ToAddress},FIND(&apos;@&apos;,{!myVariable_current.ToAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email4__c},LEFT({!myVariable_current.ToAddress},FIND(&apos;@&apos;,{!myVariable_current.ToAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email5__c},LEFT({!myVariable_current.ToAddress},FIND(&apos;@&apos;,{!myVariable_current.ToAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email6__c},LEFT({!myVariable_current.ToAddress},FIND(&apos;@&apos;,{!myVariable_current.ToAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email7__c},LEFT({!myVariable_current.ToAddress},FIND(&apos;@&apos;,{!myVariable_current.ToAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email8__c},LEFT({!myVariable_current.ToAddress},FIND(&apos;@&apos;,{!myVariable_current.ToAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email9__c},LEFT({!myVariable_current.ToAddress},FIND(&apos;@&apos;,{!myVariable_current.ToAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email10__c},LEFT({!myVariable_current.ToAddress},FIND(&apos;@&apos;,{!myVariable_current.ToAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email11__c},LEFT({!myVariable_current.ToAddress},FIND(&apos;@&apos;,{!myVariable_current.ToAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email12__c},LEFT({!myVariable_current.ToAddress},FIND(&apos;@&apos;,{!myVariable_current.ToAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email13__c},LEFT({!myVariable_current.ToAddress},FIND(&apos;@&apos;,{!myVariable_current.ToAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email14__c},LEFT({!myVariable_current.ToAddress},FIND(&apos;@&apos;,{!myVariable_current.ToAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email15__c},LEFT({!myVariable_current.ToAddress},FIND(&apos;@&apos;,{!myVariable_current.ToAddress})-1)))
),{!myVariable_current.ToAddress},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if (((CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email16__c,LEFT([EmailMessage].ToAddress,FIND(&apos;@&apos;,[EmailMessage].ToAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email17__c,LEFT([EmailMessage].ToAddress,FIND(&apos;@&apos;,[EmailMessage].ToAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email18__c,LEFT([EmailMessage].ToAddress,FIND(&apos;@&apos;,[EmailMessage].ToAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email19__c,LEFT([EmailMessage].ToAddress,FIND(&apos;@&apos;,[EmailMessage].ToAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email20__c,LEFT([EmailMessage].ToAddress,FIND(&apos;@&apos;,[EmailMessage].ToAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email21__c,LEFT([EmailMessage].ToAddress,FIND(&apos;@&apos;,[EmailMessage].ToAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email22__c,LEFT([EmailMessage].ToAddress,FIND(&apos;@&apos;,[EmailMessage].ToAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email23__c,LEFT([EmailMessage].ToAddress,FIND(&apos;@&apos;,[EmailMessage].ToAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email24__c,LEFT([EmailMessage].ToAddress,FIND(&apos;@&apos;,[EmailMessage].ToAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email25__c,LEFT([EmailMessage].ToAddress,FIND(&apos;@&apos;,[EmailMessage].ToAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email26__c,LEFT([EmailMessage].ToAddress,FIND(&apos;@&apos;,[EmailMessage].ToAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email27__c,LEFT([EmailMessage].ToAddress,FIND(&apos;@&apos;,[EmailMessage].ToAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email28__c,LEFT([EmailMessage].ToAddress,FIND(&apos;@&apos;,[EmailMessage].ToAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email29__c,LEFT([EmailMessage].ToAddress,FIND(&apos;@&apos;,[EmailMessage].ToAddress)-1)))||
(CONTAINS($Setup.GLI_Email2Case_ToEmails__c.To_Email30__c,LEFT([EmailMessage].ToAddress,FIND(&apos;@&apos;,[EmailMessage].ToAddress)-1)))
),[EmailMessage].ToAddress,&apos;&apos;) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_0567477217</name>
        <dataType>String</dataType>
        <expression>if (((CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email16__c},LEFT({!myVariable_current.ToAddress},FIND(&apos;@&apos;,{!myVariable_current.ToAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email17__c},LEFT({!myVariable_current.ToAddress},FIND(&apos;@&apos;,{!myVariable_current.ToAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email18__c},LEFT({!myVariable_current.ToAddress},FIND(&apos;@&apos;,{!myVariable_current.ToAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email19__c},LEFT({!myVariable_current.ToAddress},FIND(&apos;@&apos;,{!myVariable_current.ToAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email20__c},LEFT({!myVariable_current.ToAddress},FIND(&apos;@&apos;,{!myVariable_current.ToAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email21__c},LEFT({!myVariable_current.ToAddress},FIND(&apos;@&apos;,{!myVariable_current.ToAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email22__c},LEFT({!myVariable_current.ToAddress},FIND(&apos;@&apos;,{!myVariable_current.ToAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email23__c},LEFT({!myVariable_current.ToAddress},FIND(&apos;@&apos;,{!myVariable_current.ToAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email24__c},LEFT({!myVariable_current.ToAddress},FIND(&apos;@&apos;,{!myVariable_current.ToAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email25__c},LEFT({!myVariable_current.ToAddress},FIND(&apos;@&apos;,{!myVariable_current.ToAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email26__c},LEFT({!myVariable_current.ToAddress},FIND(&apos;@&apos;,{!myVariable_current.ToAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email27__c},LEFT({!myVariable_current.ToAddress},FIND(&apos;@&apos;,{!myVariable_current.ToAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email28__c},LEFT({!myVariable_current.ToAddress},FIND(&apos;@&apos;,{!myVariable_current.ToAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email29__c},LEFT({!myVariable_current.ToAddress},FIND(&apos;@&apos;,{!myVariable_current.ToAddress})-1)))||
(CONTAINS({!$Setup.GLI_Email2Case_ToEmails__c.To_Email30__c},LEFT({!myVariable_current.ToAddress},FIND(&apos;@&apos;,{!myVariable_current.ToAddress})-1)))
),{!myVariable_current.ToAddress},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if(([EmailMessage].ToAddress = $Setup.GLI_Email2Case_ToEmails__c.To_Email31__c)
|| ([EmailMessage].ToAddress = $Setup.GLI_Email2Case_ToEmails__c.To_Email32__c) 
||  ([EmailMessage].ToAddress = $Setup.GLI_Email2Case_ToEmails__c.To_Email33__c) 
|| ([EmailMessage].ToAddress = $Setup.GLI_Email2Case_ToEmails__c.To_Email34__c), [EmailMessage].ToAddress,&apos; &apos;) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_7809375771</name>
        <dataType>String</dataType>
        <expression>if(({!myVariable_current.ToAddress} = {!$Setup.GLI_Email2Case_ToEmails__c.To_Email31__c})
|| ({!myVariable_current.ToAddress} = {!$Setup.GLI_Email2Case_ToEmails__c.To_Email32__c}) 
||  ({!myVariable_current.ToAddress} = {!$Setup.GLI_Email2Case_ToEmails__c.To_Email33__c}) 
|| ({!myVariable_current.ToAddress} = {!$Setup.GLI_Email2Case_ToEmails__c.To_Email34__c}), {!myVariable_current.ToAddress},&apos; &apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if(([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId1__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId2__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId3__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId4__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId5__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId6__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId7__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId8__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId9__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId10__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId11__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId12__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId13__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId14__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId15__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId16__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId17__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId18__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId19__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId20__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId21__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId22__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId23__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId24__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId25__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId26__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId27__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId28__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId29__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId30__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId31__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.UKI_Queues__c.QueueId32__c ),
[EmailMessage].Parent.Owner:Queue.DeveloperName,&apos;&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_1_2327843310</name>
        <dataType>String</dataType>
        <expression>if(({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId1__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId2__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId3__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId4__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId5__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId6__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId7__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId8__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId9__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId10__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId11__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId12__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId13__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId14__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId15__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId16__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId17__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId18__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId19__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId20__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId21__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId22__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId23__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId24__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId25__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId26__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId27__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId28__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId29__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId30__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId31__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.UKI_Queues__c.QueueId32__c} ),
{!myVariable_current.Parent.Owner:Queue.DeveloperName},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if($Setup.GLI_Business_Hours__c.BusinessHoursId__c != null &amp;&amp; $Setup.GLI_Business_Hours__c.BusinessHoursId__c != &apos;&apos; ,$Setup.GLI_Business_Hours__c.BusinessHoursId__c,[EmailMessage].Parent.BusinessHours.Id )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_1_A1_0448962927</name>
        <dataType>String</dataType>
        <expression>if({!$Setup.GLI_Business_Hours__c.BusinessHoursId__c} != null &amp;&amp; {!$Setup.GLI_Business_Hours__c.BusinessHoursId__c} != &apos;&apos; ,{!$Setup.GLI_Business_Hours__c.BusinessHoursId__c},{!myVariable_current.Parent.BusinessHours.Id} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>Left([EmailMessage].ToAddress,255)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_1_A1_2761729764</name>
        <dataType>String</dataType>
        <expression>Left({!myVariable_current.ToAddress},255)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(CONTAINS([EmailMessage].HtmlBody ,&apos;ref:_00D&apos;) || CONTAINS([EmailMessage].Subject,&apos;ref:_00D&apos;),TEXT([EmailMessage].Parent.Status),&apos;New&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_8_myRule_1_A1_4758984819</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!myVariable_current.HtmlBody} ,&apos;ref:_00D&apos;) || CONTAINS({!myVariable_current.Subject},&apos;ref:_00D&apos;),TEXT({!myVariable_current.Parent.Status}),&apos;New&apos;)</expression>
    </formulas>
    <interviewLabel>GLI_Email2Case_Updates-64_InterviewLabel</interviewLabel>
    <label>GLI Email2Case Updates</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>EmailMessage</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[EmailMessage].Case ID</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_10_A1</name>
        <label>Update Sales Org</label>
        <locationX>1000</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_10_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Business Hours ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>BusinessHours</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BusinessHoursId</field>
            <value>
                <elementReference>formula_15_myRule_10_A1_9624013999</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Origin Name</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ESC_Origin_Name__c</field>
            <value>
                <elementReference>formula_16_myRule_10_A1_9881508057</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Is GLI</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Is_GLI__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Sales Org</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Sales_Org__c</field>
            <value>
                <stringValue>GLI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <elementReference>formula_17_myRule_10_A1_3749994137</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[EmailMessage].Case ID</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_10_A4</name>
        <label>Update GLI business hours</label>
        <locationX>1000</locationX>
        <locationY>500</locationY>
        <connector>
            <targetReference>myDecision18</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Sub-BU</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>LCRM_Sub_BU__c</field>
            <value>
                <stringValue>UKI</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[EmailMessage].Case ID</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_19_A1</name>
        <label>Update NExt Response time flag for GLI case</label>
        <locationX>1900</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision23</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Next Response Time Flag</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>ESC_Next_Response_Time_Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[EmailMessage].Case ID</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Sales Org,Is GLI and SUB-BU</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Business Hours ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>BusinessHours</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BusinessHoursId</field>
            <value>
                <elementReference>formula_6_myRule_1_A1_0448962927</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Origin Name</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ESC_Origin_Name__c</field>
            <value>
                <elementReference>formula_7_myRule_1_A1_2761729764</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Is GLI</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Is_GLI__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Sales Org</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Sales_Org__c</field>
            <value>
                <stringValue>GLI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <elementReference>formula_8_myRule_1_A1_4758984819</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[EmailMessage].Case ID</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A4</name>
        <label>Update GLI  business hours</label>
        <locationX>100</locationX>
        <locationY>500</locationY>
        <connector>
            <targetReference>myDecision9</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Sub-BU</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>LCRM_Sub_BU__c</field>
            <value>
                <stringValue>UKI</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
</Flow>
