flows/LCRM_Account_Receivable_Hold_Bad_Debt_Alert.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>CountAccountSSD</name>
        <label>CountAccountSSD</label>
        <locationX>367</locationX>
        <locationY>352</locationY>
        <assignmentItems>
            <assignToReference>CountSSD</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>NewListofSSDRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckSSDCount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Final_stop</name>
        <label>Final stop</label>
        <locationX>216</locationX>
        <locationY>464</locationY>
        <assignmentItems>
            <assignToReference>DummyValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>NewSSDlist</name>
        <label>NewSSDlist</label>
        <locationX>602</locationX>
        <locationY>201</locationY>
        <assignmentItems>
            <assignToReference>NewListofSSDRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varloopSSDrecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_SSD_Records_based_on_certain_criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stop</name>
        <label>Stop</label>
        <locationX>726</locationX>
        <locationY>372</locationY>
        <assignmentItems>
            <assignToReference>DummyValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>LCRM_WestThirdPartyCollections</name>
        <dataType>String</dataType>
        <value>
            <stringValue>West Third Party Collections</stringValue>
        </value>
    </constants>
    <constants>
        <name>PoorRiskClosedThirdParty</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Poor Risk-Closed Third Party</stringValue>
        </value>
    </constants>
    <constants>
        <name>TTABankruptcyCustomers</name>
        <dataType>String</dataType>
        <value>
            <stringValue>TTA Bankruptcy Customers</stringValue>
        </value>
    </constants>
    <constants>
        <name>TTAHighRiskCustomers</name>
        <dataType>String</dataType>
        <value>
            <stringValue>TTA High Risk Customers</stringValue>
        </value>
    </constants>
    <constants>
        <name>TTAPoorRiskCustomers</name>
        <dataType>String</dataType>
        <value>
            <stringValue>TTA Poor Risk Customers</stringValue>
        </value>
    </constants>
    <constants>
        <name>TTAThirdPartyCollections</name>
        <dataType>String</dataType>
        <value>
            <stringValue>TTA Third Party Collections</stringValue>
        </value>
    </constants>
    <constants>
        <name>WestBankruptcyCustomers</name>
        <dataType>String</dataType>
        <value>
            <stringValue>West Bankruptcy Customers</stringValue>
        </value>
    </constants>
    <constants>
        <name>WestHighRiskCustomers</name>
        <dataType>String</dataType>
        <value>
            <stringValue>West High Risk Customers</stringValue>
        </value>
    </constants>
    <constants>
        <name>WestPoorRiskCustomers</name>
        <dataType>String</dataType>
        <value>
            <stringValue>West Poor Risk Customers</stringValue>
        </value>
    </constants>
    <constants>
        <name>WestPrisoners</name>
        <dataType>String</dataType>
        <value>
            <stringValue>West Prisoners</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Credit_Hold_Bad_Debt_is_false</name>
        <label>Check Credit_Hold_Bad_Debt is false</label>
        <locationX>729</locationX>
        <locationY>202</locationY>
        <defaultConnector>
            <targetReference>Stop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Credit_Hold_Bad_Debt_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccountRecord.Credit_Hold_Bad_Debt__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_records</targetReference>
            </connector>
            <label>is Credit_Hold_Bad_Debt false</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSSDCount</name>
        <label>CheckSSDCount</label>
        <locationX>558</locationX>
        <locationY>327</locationY>
        <defaultConnector>
            <targetReference>Credit_Hold_Bad_Debt_is_true</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckSSDvalue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountSSD</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Credit_Hold_Bad_Debt_is_false</targetReference>
            </connector>
            <label>CheckSSDvalue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Credit_Hold_Bad_Debt_is_true</name>
        <label>Credit_Hold_Bad_Debt is true</label>
        <locationX>419</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Final_stop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Credit_Hold_Bad_Debt_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccountRecord.Credit_Hold_Bad_Debt__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Hold_Bad_Debt_is_false</targetReference>
            </connector>
            <label>is Credit_Hold_Bad_Debt true</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check all criteria</description>
        <name>IS_Credit_Risk_Category_matched_with_business_rules</name>
        <label>IS Credit Risk Category matched with business rules</label>
        <locationX>679</locationX>
        <locationY>53</locationY>
        <defaultConnector>
            <targetReference>Filter_SSD_Records_based_on_certain_criteria</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IS_Credit_Risk_Category_matched</name>
            <conditionLogic>1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10</conditionLogic>
            <conditions>
                <leftValueReference>varloopSSDrecords.LCRM_Credit_Risk_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LCRM_WestThirdPartyCollections</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varloopSSDrecords.LCRM_Credit_Risk_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PoorRiskClosedThirdParty</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varloopSSDrecords.LCRM_Credit_Risk_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WestPoorRiskCustomers</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varloopSSDrecords.LCRM_Credit_Risk_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WestPrisoners</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varloopSSDrecords.LCRM_Credit_Risk_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WestBankruptcyCustomers</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varloopSSDrecords.LCRM_Credit_Risk_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WestHighRiskCustomers</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varloopSSDrecords.LCRM_Credit_Risk_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TTAThirdPartyCollections</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varloopSSDrecords.LCRM_Credit_Risk_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TTAPoorRiskCustomers</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varloopSSDrecords.LCRM_Credit_Risk_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TTABankruptcyCustomers</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varloopSSDrecords.LCRM_Credit_Risk_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TTAHighRiskCustomers</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewSSDlist</targetReference>
            </connector>
            <label>IS Credit Risk Category matched</label>
        </rules>
    </decisions>
    <interviewLabel>Account Receivable Hold/Bad Debt Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Receivable Hold/Bad Debt Alert</label>
    <loops>
        <description>we are going to filter the SSD record based on Credit Risk Category field must be West Third Party Collections, Poor Risk-Closed Third Party, West Poor Risk Closed Customers, West Prisoners, West Bankruptcy Customers, West High Risk Customers, TTA Third Party Collections, TTA Poor Risk Customers, TTA Prisoners, TTA Bankruptcy Customers, TTA High Risk Customers</description>
        <name>Filter_SSD_Records_based_on_certain_criteria</name>
        <label>Filter SSD Records based on certain criteria</label>
        <locationX>373</locationX>
        <locationY>55</locationY>
        <assignNextValueToReference>varloopSSDrecords</assignNextValueToReference>
        <collectionReference>RetrieveSSDRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IS_Credit_Risk_Category_matched_with_business_rules</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CountAccountSSD</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_the_Account_Info</name>
        <label>Get the Account Info</label>
        <locationX>146</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_the_SSD_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSSDAccountIds</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>varAccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Credit_Hold_Bad_Debt__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Retrieve SSD records with respective GLI account</description>
        <name>Get_the_SSD_records</name>
        <label>Get the SSD records</label>
        <locationX>250</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_SSD_Records_based_on_certain_criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSSDAccountIds</elementReference>
            </value>
        </filters>
        <object>Source_System_Detail__c</object>
        <outputReference>RetrieveSSDRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account_Name__c</queriedFields>
        <queriedFields>LCRM_Credit_Risk_Category__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>set false to Credit Hold / Bad Debt</description>
        <name>Credit_Hold_Bad_Debt_is_false</name>
        <label>Credit Hold / Bad Debt is false</label>
        <locationX>585</locationX>
        <locationY>485</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSSDAccountIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Credit_Hold_Bad_Debt__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_records</name>
        <label>Update Account records</label>
        <locationX>881</locationX>
        <locationY>337</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSSDAccountIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Credit_Hold_Bad_Debt__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>Get_the_Account_Info</startElementReference>
    <status>Active</status>
    <variables>
        <description>check new list of SSD record once all criteria&apos;s matched</description>
        <name>CountSSD</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>creditRecordName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>West Third Party Collection</stringValue>
        </value>
    </variables>
    <variables>
        <name>DummyValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewListofSSDRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Source_System_Detail__c</objectType>
    </variables>
    <variables>
        <description>This collection is used to retrieve SSD records with respective  GLI Account</description>
        <name>RetrieveSSDRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Source_System_Detail__c</objectType>
    </variables>
    <variables>
        <name>varAccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varloopSSDrecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Source_System_Detail__c</objectType>
    </variables>
    <variables>
        <description>This will be set from the Process builder. will hold the SSD record Account Id.</description>
        <name>varSSDAccountIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>West Third Party Collections</description>
        <name>WestThirdPartyCollections</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
