flows/LCRM_Update_Related_To_Field_On_Task.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Stop</name>
        <label>Stop</label>
        <locationX>480</locationX>
        <locationY>257</locationY>
        <assignmentItems>
            <assignToReference>DummyValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Opportunity_Contact_For_Null_Value</name>
        <label>Check Opportunity Contact For Null Value</label>
        <locationX>446</locationX>
        <locationY>71</locationY>
        <defaultConnector>
            <targetReference>Stop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Opportunity_Contact_Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpportunityRecord.Key_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpportunityRecord.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varTaskRecord.WhatId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_To_Field_On_Task</targetReference>
            </connector>
            <label>If Opportunity Contact Is Not Null</label>
        </rules>
    </decisions>
    <interviewLabel>LCRM Update Related To Field On Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LCRM Update Related To Field On Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Contact_Info</name>
        <label>Get Opportunity Contact Info</label>
        <locationX>201</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Opportunity_Contact_For_Null_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTaskRecord.WhatId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>varOpportunityRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Key_Contact__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_To_Field_On_Task</name>
        <label>Update Related To Field On Task</label>
        <locationX>767</locationX>
        <locationY>100</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTaskRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varOpportunityRecord.Key_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <startElementReference>Get_Opportunity_Contact_Info</startElementReference>
    <status>Active</status>
    <variables>
        <name>DummyValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varTaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
