flows/LCRM_Update_Account_Collection_Status.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>AddAmberAccountToCollectionAmber</name>
        <label>AddAmberAccountToCollectionAmber</label>
        <locationX>1199</locationX>
        <locationY>209</locationY>
        <assignmentItems>
            <assignToReference>AmberAccountCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_SSD_Records.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AmberCollectionSize</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckSSDCollectionStatusGreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddGreenAccountToCollectionGreen</name>
        <label>AddGreenAccountToCollectionGreen</label>
        <locationX>719</locationX>
        <locationY>463</locationY>
        <assignmentItems>
            <assignToReference>GreenAccountCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_SSD_Records.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GreenCollectionSize</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_SSD_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddRedAccountToCollectionRed</name>
        <label>AddRedAccountToCollectionRed</label>
        <locationX>1183</locationX>
        <locationY>33</locationY>
        <assignmentItems>
            <assignToReference>RedAccountCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_SSD_Records.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RedCollectionSize</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckSSDCollectionStatusAmber</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckCollectionSize</name>
        <label>CheckCollectionSize</label>
        <locationX>260</locationX>
        <locationY>196</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RedCount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RedCollectionSize</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRedAccount</targetReference>
            </connector>
            <label>RedCount</label>
        </rules>
        <rules>
            <name>Amber_Count</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RedCollectionSize</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AmberCollectionSize</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAmberAccount</targetReference>
            </connector>
            <label>Amber Count</label>
        </rules>
        <rules>
            <name>Green_Count</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GreenCollectionSize</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RedCollectionSize</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AmberCollectionSize</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateGreenAccount</targetReference>
            </connector>
            <label>Green Count</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSSDCollectionStatusAmber</name>
        <label>CheckSSDCollectionStatusAmber</label>
        <locationX>886</locationX>
        <locationY>141</locationY>
        <defaultConnector>
            <targetReference>CheckSSDCollectionStatusGreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Amber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_SSD_Records.Collection_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_SSD_Records.Collection_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddAmberAccountToCollectionAmber</targetReference>
            </connector>
            <label>Amber</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSSDCollectionStatusGreen</name>
        <label>CheckSSDCollectionStatusGreen</label>
        <locationX>892</locationX>
        <locationY>359</locationY>
        <defaultConnector>
            <targetReference>Loop_through_SSD_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Green</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_SSD_Records.Collection_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_SSD_Records.Collection_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Green</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddGreenAccountToCollectionGreen</targetReference>
            </connector>
            <label>Green</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSSDCollectionStatusRed</name>
        <label>CheckSSDCollectionStatusRed</label>
        <locationX>770</locationX>
        <locationY>26</locationY>
        <defaultConnector>
            <targetReference>CheckSSDCollectionStatusAmber</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Red</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_SSD_Records.Collection_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_SSD_Records.Collection_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Red</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddRedAccountToCollectionRed</targetReference>
            </connector>
            <label>Red</label>
        </rules>
    </decisions>
    <interviewLabel>Update Account Collection Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LCRM Update Account Collection Status</label>
    <loops>
        <description>Loop to check collection status of SSD record</description>
        <name>Loop_through_SSD_Records</name>
        <label>Loop through SSD Records</label>
        <locationX>552</locationX>
        <locationY>49</locationY>
        <collectionReference>Get_SSD_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckSSDCollectionStatusRed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckCollectionSize</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get all associated SSD records</description>
        <name>Get_SSD_Records</name>
        <label>Get SSD Records</label>
        <locationX>432</locationX>
        <locationY>17</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_SSD_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Collection_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Source_System_Detail__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Collection_Status__c</queriedFields>
        <sortField>Account__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAmberAccount</name>
        <label>UpdateAmberAccount</label>
        <locationX>352</locationX>
        <locationY>465</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Collection_Status__c</field>
            <value>
                <stringValue>Amber</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateGreenAccount</name>
        <label>UpdateGreenAccount</label>
        <locationX>499</locationX>
        <locationY>463</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Collection_Status__c</field>
            <value>
                <stringValue>Green</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRedAccount</name>
        <label>UpdateRedAccount</label>
        <locationX>191</locationX>
        <locationY>467</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Collection_Status__c</field>
            <value>
                <stringValue>Red</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>26</locationX>
        <locationY>39</locationY>
        <connector>
            <targetReference>Get_SSD_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountRedCollectionList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AmberAccountCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AmberCollectionSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>GreenAccountCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GreenCollectionSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>InputAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>RedAccountCollection</description>
        <name>RedAccountCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RedCollectionSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
