flows/LCRM_Update_Opportunity_Owner_manager_Email.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>DummyCallInvoke</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>DummyInvoke</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>LTS_GenericDummyClass</actionName>
        <actionType>apex</actionType>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Determine Applicability</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>LCRM opportunity.owner.manager is not blank</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>LCRM opportunity.owner.manager is blank</label>
        </rules>
    </decisions>
    <description>Update managers email on Opportunity record for UKI.</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(NOT($Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c),
OR(

AND(
	[Opportunity].Is_GLI__c,
	[Opportunity].LCRM_Sub_BU__c = &quot;UKI&quot;,
	isNEW(),
	AND(AND(NOT(ISNULL([Opportunity].Owner.ManagerId )),NOT((ISBLANK([Opportunity].Owner.ManagerId )))),	
	NOT(ISBLANK([Opportunity].Owner.Manager.Email)))
),
AND(
	[Opportunity].Is_GLI__c,
	[Opportunity].LCRM_Sub_BU__c = &quot;UKI&quot;,
	ISCHANGED([Opportunity].OwnerId),
	AND(AND(NOT(ISNULL([Opportunity].Owner.ManagerId )),NOT((ISBLANK([Opportunity].Owner.ManagerId )))),	
	NOT(ISBLANK([Opportunity].Owner.Manager.Email)))
)

))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT({!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c}),
OR(

AND(
	{!myVariable_current.Is_GLI__c},
	{!myVariable_current.LCRM_Sub_BU__c} = &quot;UKI&quot;,
	isNEW(),
	AND(AND(NOT(ISNULL({!myVariable_current.Owner.ManagerId} )),NOT((ISBLANK({!myVariable_current.Owner.ManagerId} )))),	
	NOT(ISBLANK({!myVariable_current.Owner.Manager.Email})))
),
AND(
	{!myVariable_current.Is_GLI__c},
	{!myVariable_current.LCRM_Sub_BU__c} = &quot;UKI&quot;,
	ISCHANGED({!myVariable_current.OwnerId}),
	AND(AND(NOT(ISNULL({!myVariable_current.Owner.ManagerId} )),NOT((ISBLANK({!myVariable_current.Owner.ManagerId} )))),	
	NOT(ISBLANK({!myVariable_current.Owner.Manager.Email})))
)

))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(NOT($Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c),
OR(

	AND(
		[Opportunity].Is_GLI__c,
		[Opportunity].LCRM_Sub_BU__c = &quot;UKI&quot;,
		isNEW(),
		OR((ISNULL([Opportunity].Owner.ManagerId )),((ISBLANK([Opportunity].Owner.ManagerId ))))	
		
	),
	AND(
		[Opportunity].Is_GLI__c,
		[Opportunity].LCRM_Sub_BU__c = &quot;UKI&quot;,
		ISCHANGED([Opportunity].OwnerId),
		OR((ISNULL([Opportunity].Owner.ManagerId )),((ISBLANK([Opportunity].Owner.ManagerId))))
	)

) )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT({!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c}),
OR(

	AND(
		{!myVariable_current.Is_GLI__c},
		{!myVariable_current.LCRM_Sub_BU__c} = &quot;UKI&quot;,
		isNEW(),
		OR((ISNULL({!myVariable_current.Owner.ManagerId} )),((ISBLANK({!myVariable_current.Owner.ManagerId} ))))	
		
	),
	AND(
		{!myVariable_current.Is_GLI__c},
		{!myVariable_current.LCRM_Sub_BU__c} = &quot;UKI&quot;,
		ISCHANGED({!myVariable_current.OwnerId}),
		OR((ISNULL({!myVariable_current.Owner.ManagerId} )),((ISBLANK({!myVariable_current.Owner.ManagerId}))))
	)

) )</expression>
    </formulas>
    <interviewLabel>LCRM_Update_Opportunity_Owner_manager_Email-4_InterviewLabel</interviewLabel>
    <label>Update Opportunity Owner manager Email</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Update Owner&apos;s Manager Email</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Owner&apos;s Manager Email</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>LCRM_Owners_Manager_Email__c</field>
            <value>
                <elementReference>myVariable_current.Owner.Manager.Email</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Update LCRM_Owners_Manager_Email__c with blank value</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Owner&apos;s Manager Email</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>LCRM_Owners_Manager_Email__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
