flows/OmniTrialAlert.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_Obj_Record_in_the_List</name>
        <label>Add Obj Record in the List</label>
        <locationX>1062</locationX>
        <locationY>260</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfFeedItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objFeedItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Of_Trials_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Draft_status_Trial_Record</name>
        <label>Store Draft status Trial Record</label>
        <locationX>825</locationX>
        <locationY>109</locationY>
        <assignmentItems>
            <assignToReference>objFeedItem.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Of_Trials_Record.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objFeedItem.Body</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>draftBody</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Obj_Record_in_the_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Rep_Initiated_Record</name>
        <label>Store Rep Initiated Record</label>
        <locationX>666</locationX>
        <locationY>263</locationY>
        <assignmentItems>
            <assignToReference>objFeedItem.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Of_Trials_Record.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objFeedItem.Body</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>repInitiatedTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Obj_Record_in_the_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Collection_Is_not_NULL</name>
        <label>Check Collection Is not NULL</label>
        <locationX>364</locationX>
        <locationY>356</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionOfTrials</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Of_Trials_Record</targetReference>
            </connector>
            <label>Not NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Trial_Status</name>
        <label>Check Trial Status</label>
        <locationX>630</locationX>
        <locationY>76</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Status_is_Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Of_Trials_Record.Trial_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Trial_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Of_Trials_Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Draft_status_Trial_Record</targetReference>
            </connector>
            <label>If Status is Draft</label>
        </rules>
        <rules>
            <name>If_Status_is_Rep_Initiated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Of_Trials_Record.Trial_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rep Initiated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Trial_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rep Initiated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Of_Trials_Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Rep_Initiated_Record</targetReference>
            </connector>
            <label>If Status is Rep Initiated</label>
        </rules>
    </decisions>
    <interviewLabel>OmniTrialAlert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OmniTrialAlert</label>
    <loops>
        <name>Loop_Of_Trials_Record</name>
        <label>Loop Of Trials Record</label>
        <locationX>494</locationX>
        <locationY>351</locationY>
        <collectionReference>CollectionOfTrials</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Trial_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Feed_Alert</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Feed_Alert</name>
        <label>Feed Alert</label>
        <locationX>522</locationX>
        <locationY>514</locationY>
        <inputReference>CollectionOfFeedItem</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Trials</name>
        <label>Get Trials</label>
        <locationX>168</locationX>
        <locationY>353</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Collection_Is_not_NULL</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Trial_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rep Initiated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Trial_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Ent_Trial__c</object>
        <outputReference>CollectionOfTrials</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Trial_Status__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>41</locationX>
        <locationY>73</locationY>
        <connector>
            <targetReference>Get_Trials</targetReference>
        </connector>
        <object>Ent_Trial__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>draftBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Trial  {!Loop_Of_Trials_Record.Name}  submission failed.</text>
    </textTemplates>
    <textTemplates>
        <name>repInitiatedTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Trial {!Loop_Of_Trials_Record.Name} was submitted successfully.</text>
    </textTemplates>
    <variables>
        <name>CollectionOfFeedItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FeedItem</objectType>
    </variables>
    <variables>
        <name>CollectionOfTrials</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Ent_Trial__c</objectType>
    </variables>
    <variables>
        <name>objDraftTrials</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ent_Trial__c</objectType>
    </variables>
    <variables>
        <name>objFeedItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FeedItem</objectType>
    </variables>
    <variables>
        <name>objRepInitiatedFeedItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FeedItem</objectType>
    </variables>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
