flows/Omni_Trial_Update_End_Reason_Status.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_Updated_Value_in_Trial_Collection</name>
        <label>Add Updated Value in Trial Collection</label>
        <locationX>886</locationX>
        <locationY>321</locationY>
        <assignmentItems>
            <assignToReference>UpdatedTrialCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objTrialRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Trial_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Trial_Record_Assignment</name>
        <label>Trial Record Assignment</label>
        <locationX>708</locationX>
        <locationY>216</locationY>
        <assignmentItems>
            <assignToReference>objTrialRecord.End_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product Purchased</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objTrialRecord.Trial_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ended</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objTrialRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trial_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Updated_Value_in_Trial_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Trial_Check</name>
        <label>Trial Check</label>
        <locationX>366</locationX>
        <locationY>338</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionOfTrial</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trial_Loop</targetReference>
            </connector>
            <label>If Not Null</label>
        </rules>
    </decisions>
    <description>DPS-21492</description>
    <interviewLabel>Omni_Trial_Update_End_Reason_Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Omni_Trial_Update_End_Reason_Status</label>
    <loops>
        <name>Trial_Loop</name>
        <label>Trial Loop</label>
        <locationX>549</locationX>
        <locationY>332</locationY>
        <collectionReference>CollectionOfTrial</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Trial_Record_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Trial_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Trial_Record</name>
        <label>Get Trial Record</label>
        <locationX>211</locationX>
        <locationY>340</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Trial_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Convert_to_Sale__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Ent_Trial__c</object>
        <outputReference>CollectionOfTrial</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Convert_to_Sale__c</queriedFields>
        <queriedFields>End_Reason__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Update Trial Status &amp; End Reason</description>
        <name>Update_Trial_Record</name>
        <label>Update Trial Record</label>
        <locationX>551</locationX>
        <locationY>514</locationY>
        <inputReference>UpdatedTrialCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>49</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Trial_Record</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order Complete</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionOfTrial</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Ent_Trial__c</objectType>
    </variables>
    <variables>
        <name>objTrialRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ent_Trial__c</objectType>
    </variables>
    <variables>
        <name>UpdatedTrialCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Ent_Trial__c</objectType>
    </variables>
</Flow>
