flows/TR_PS_Enterprise_PTA_Alert_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PTA_Alert</name>
        <label>PTA Alert</label>
        <locationX>406</locationX>
        <locationY>476</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>PTAAlertContent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>resourceID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>PTA_Assignment</name>
        <label>PTA Assignment</label>
        <locationX>846</locationX>
        <locationY>223</locationY>
        <assignmentItems>
            <assignToReference>projectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objProjectTaskAssignment.pse__Project_Task__r.pse__Project__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>projectTaskName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objProjectTaskAssignment.pse__Project_Task__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignmentName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objProjectTaskAssignment.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignmentStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objProjectTaskAssignment.pse__Project_Task_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignmentEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objProjectTaskAssignment.pse__Project_Task_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>travelRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objProjectTaskAssignment.TR_PS_Task_Travel_Required__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objProjectTaskAssignment.pse__Project_Task__r.pse__Project__r.pse__Account__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resourceID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objProjectTaskAssignment.pse__Resource__r.pse__Salesforce_User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PTA_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>PTA_Found</name>
        <label>PTA Found</label>
        <locationX>387</locationX>
        <locationY>54</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProjectTaskAssignmentCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PTA_Loop</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <formulas>
        <name>varOrgDomain</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))</expression>
    </formulas>
    <interviewLabel>TR PS Enterprise PTA Alert Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TR PS Enterprise PTA Alert Flow</label>
    <loops>
        <name>PTA_Loop</name>
        <label>PTA Loop</label>
        <locationX>402</locationX>
        <locationY>221</locationY>
        <assignNextValueToReference>objProjectTaskAssignment</assignNextValueToReference>
        <collectionReference>ProjectTaskAssignmentCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PTA_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>PTA_Alert</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Error_Log</name>
        <label>Error Log</label>
        <locationX>888</locationX>
        <locationY>76</locationY>
        <inputAssignments>
            <field>TR_Retention__Error_Message__c</field>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR_Retention__Error_Point__c</field>
            <value>
                <stringValue>PTA Alert Error</stringValue>
            </value>
        </inputAssignments>
        <object>TR_Retention__Error_Log__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Project_Task_Assignment</name>
        <label>Get Project Task Assignment</label>
        <locationX>219</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PTA_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ptaId</elementReference>
            </value>
        </filters>
        <object>pse__Project_Task_Assignment__c</object>
        <outputReference>ProjectTaskAssignmentCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>pse__Resource__c</queriedFields>
        <queriedFields>pse__Project__c</queriedFields>
        <queriedFields>pse__Project_Task__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>pse__Project_Task_Start_Date__c</queriedFields>
        <queriedFields>pse__Project_Task_End_Date__c</queriedFields>
        <queriedFields>TR_PS_Task_Travel_Required__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Project_Task_Assignment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>errorMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>PTAAlertContent</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>@[{!resourceID}] You have been assigned on the &apos;{!projectName}&apos;  project on the  &apos;{!projectTaskName}&apos;   task.

Project Task Assignment Name:{!assignmentName}
Project Task Assignment :  {!varOrgDomain}/{!ptaId}
Project Task Assignment Start Date:{!assignmentStartDate}
Project Task Assignment End Date:{!assignmentEndDate}
Task Travel Required?:{!travelRequired}
Client Name:{!clientName}
Project Name:{!projectName}</text>
    </textTemplates>
    <variables>
        <name>assignmentEndDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assignmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assignmentName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assignmentStartDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>clientName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objProjectTaskAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Project_Task_Assignment__c</objectType>
    </variables>
    <variables>
        <name>projectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectTaskAssignmentCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Project_Task_Assignment__c</objectType>
    </variables>
    <variables>
        <name>projectTaskName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ptaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resourceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>travelRequired</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
