flows/TR_PS_Milestone_Amount_update_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>314</locationX>
        <locationY>1622</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>The System Fails to create Project,Budget and Milestone as Percent to Bill is exceeding from Budget Amount</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varUserEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Error on Creating Project From Template</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_ObjMilestone_Record_in_Collection</name>
        <label>Add ObjMilestone Record in Collection</label>
        <locationX>138</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>CollectionOfUpdatedMilestone</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objMilestoneRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Milestone_Loop_to_Update_the_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_SUM_of_Percent_To_Bill</name>
        <label>Check SUM of Percent To Bill</label>
        <locationX>402</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>varPercentToBill</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Milestone_Loop.Percent_To_Bill__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSumOfPercenToBill</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPercentToBill</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPercentToBill</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSumOfPercenToBill</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Milestone_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>List_of_Updated_Milestone</name>
        <label>List of Updated Milestone</label>
        <locationX>138</locationX>
        <locationY>1262</locationY>
        <assignmentItems>
            <assignToReference>objMilestoneRecord.pse__Milestone_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>milestoneAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objMilestoneRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Milestone_Loop_to_Update_the_Amount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_ObjMilestone_Record_in_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Budget_Header_Size</name>
        <label>Check Budget Header Size</label>
        <locationX>595</locationX>
        <locationY>1291</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionBudgetHeader</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Budget_Header</targetReference>
            </connector>
            <label>If Not Null</label>
        </rules>
        <rules>
            <name>If_Budget_Header_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionBudgetHeader</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project_Task</targetReference>
            </connector>
            <label>If Budget Header Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Milestone_Collection_Size</name>
        <label>Check Milestone Collection Size</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Milestone_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionOfMilestone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Milestone_Loop</targetReference>
            </connector>
            <label>Milestone Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Percent_to_Bill_Amount</name>
        <label>Check Percent to Bill Amount</label>
        <locationX>314</locationX>
        <locationY>1022</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Smaller_than_100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSumOfPercenToBill</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Milestone_Loop_to_Update_the_Amount</targetReference>
            </connector>
            <label>If Smaller than 100%</label>
        </rules>
        <rules>
            <name>If_Greater_than_100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSumOfPercenToBill</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Milestones</targetReference>
            </connector>
            <label>If Greater than 100%</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Project_Task_Size</name>
        <label>Check Project Task Size</label>
        <locationX>917</locationX>
        <locationY>1556</locationY>
        <defaultConnector>
            <targetReference>Delete_Project</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PT_Is_not_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionProjectTask</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Project_Task</targetReference>
            </connector>
            <label>PT Is not NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Return_Budget_Size</name>
        <label>Check Return Budget Size</label>
        <locationX>842</locationX>
        <locationY>326</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Budget_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objBudgetRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Milestone_Record_from_Project</targetReference>
            </connector>
            <label>Budget Not Null</label>
        </rules>
    </decisions>
    <description>DPS-20529</description>
    <formulas>
        <name>milestoneAmount</name>
        <dataType>Currency</dataType>
        <expression>{!objBudgetRecord.pse__Amount__c} * {!Milestone_Loop_to_Update_the_Amount.Percent_To_Bill__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>TR PS Milestone Amount update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TR PS Milestone Amount update Flow</label>
    <loops>
        <name>Milestone_Loop</name>
        <label>Milestone Loop</label>
        <locationX>314</locationX>
        <locationY>686</locationY>
        <collectionReference>CollectionOfMilestone</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_SUM_of_Percent_To_Bill</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Percent_to_Bill_Amount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Milestone_Loop_to_Update_the_Amount</name>
        <label>Milestone Loop to Update the Amount</label>
        <locationX>50</locationX>
        <locationY>1142</locationY>
        <collectionReference>CollectionOfMilestone</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>List_of_Updated_Milestone</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Milestone_Amount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Budget</name>
        <label>Delete Budget</label>
        <locationX>314</locationX>
        <locationY>1262</locationY>
        <connector>
            <targetReference>Get_Budget_Header</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objBudgetRecord.Id</elementReference>
            </value>
        </filters>
        <object>pse__Budget__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Budget_Header</name>
        <label>Delete Budget Header</label>
        <locationX>312</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Get_Project_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjId</elementReference>
            </value>
        </filters>
        <object>pse__Budget_Header__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Milestones</name>
        <label>Delete Milestones</label>
        <locationX>314</locationX>
        <locationY>1142</locationY>
        <connector>
            <targetReference>Delete_Budget</targetReference>
        </connector>
        <inputReference>CollectionOfMilestone</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Project</name>
        <label>Delete Project</label>
        <locationX>498</locationX>
        <locationY>1633</locationY>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjId</elementReference>
            </value>
        </filters>
        <object>pse__Proj__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Project_Task</name>
        <label>Delete Project Task</label>
        <locationX>547</locationX>
        <locationY>1473</locationY>
        <connector>
            <targetReference>Delete_Project</targetReference>
        </connector>
        <inputReference>CollectionProjectTask</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Budget_Header</name>
        <label>Get Budget Header</label>
        <locationX>477</locationX>
        <locationY>1160</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Budget_Header_Size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjId</elementReference>
            </value>
        </filters>
        <object>pse__Budget_Header__c</object>
        <outputReference>CollectionBudgetHeader</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Budget_Record_From_Project</name>
        <label>Get Budget Record From Project</label>
        <locationX>842</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Return_Budget_Size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjId</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__Amount__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>pse__Budget__c</object>
        <outputReference>objBudgetRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>pse__Amount__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Milestone_Record_from_Project</name>
        <label>Get Milestone Record from Project</label>
        <locationX>578</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Milestone_Collection_Size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Percent_To_Bill__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>pse__Milestone__c</object>
        <outputReference>CollectionOfMilestone</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>pse__Milestone_Amount__c</queriedFields>
        <queriedFields>Percent_To_Bill__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Task</name>
        <label>Get Project Task</label>
        <locationX>928</locationX>
        <locationY>1387</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Project_Task_Size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjId</elementReference>
            </value>
        </filters>
        <object>pse__Project_Task__c</object>
        <outputReference>CollectionProjectTask</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Milestone_Amount</name>
        <label>Update Milestone Amount</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <inputReference>CollectionOfUpdatedMilestone</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Budget_Record_From_Project</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Budget</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Budget__c</objectType>
    </variables>
    <variables>
        <name>CollectionBudgetHeader</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Budget_Header__c</objectType>
    </variables>
    <variables>
        <name>CollectionOfBudget</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Budget__c</objectType>
    </variables>
    <variables>
        <name>CollectionOfMilestone</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Milestone__c</objectType>
    </variables>
    <variables>
        <name>CollectionOfUpdatedMilestone</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Milestone__c</objectType>
    </variables>
    <variables>
        <name>CollectionProjectTask</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>objBudgetRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Budget__c</objectType>
    </variables>
    <variables>
        <name>objMilestoneRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Milestone__c</objectType>
    </variables>
    <variables>
        <name>varPercentToBill</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varProjId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSumOfPercenToBill</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varUserEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Email</elementReference>
        </value>
    </variables>
</Flow>
