flows/TR_PS_Enterprise_Project_Task_Count.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Max_Num</name>
        <label>Max Num</label>
        <locationX>624</locationX>
        <locationY>102</locationY>
        <assignmentItems>
            <assignToReference>varNumRec</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>projectTaskCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Project_Task_Loop</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>constIncrement</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <interviewLabel>TR PS Enterprise Project Task Count {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TR PS Enterprise Project Task Count</label>
    <loops>
        <name>Project_Task_Loop</name>
        <label>Project Task Loop</label>
        <locationX>346</locationX>
        <locationY>104</locationY>
        <assignNextValueToReference>objProjectTask</assignNextValueToReference>
        <collectionReference>projectTaskCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Max_Num</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Project_Task_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Project_Task_Record</name>
        <label>Get Project Task Record</label>
        <locationX>144</locationX>
        <locationY>162</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Project_Task_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </filters>
        <object>pse__Project_Task__c</object>
        <outputReference>projectTaskCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TR_PS_Enterprise_Project_Task_Number__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project_Record</name>
        <label>Update Project Record</label>
        <locationX>522</locationX>
        <locationY>337</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TR_PS_Enterprise_Project_Task_Count__c</field>
            <value>
                <elementReference>varNumRec</elementReference>
            </value>
        </inputAssignments>
        <object>pse__Proj__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project_Task_Record</name>
        <label>Update Project Task Record</label>
        <locationX>341</locationX>
        <locationY>336</locationY>
        <connector>
            <targetReference>Update_Project_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>projectTaskId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TR_PS_Enterprise_Project_Task_Number__c</field>
            <value>
                <elementReference>varNumRec</elementReference>
            </value>
        </inputAssignments>
        <object>pse__Project_Task__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Project_Task_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>objProjectTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>projectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>projectTaskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>projectTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMaxProjectTaskNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varNumRec</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
