flows/TR_PS_Enterprise_Assignment_Alert_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chatter_Post</name>
        <label>Chatter Post to Resource</label>
        <locationX>302</locationX>
        <locationY>559</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Null_Check_of_Project_Manager</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Log</targetReference>
        </faultConnector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>ResourceId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>AssignmentNotificationTemplateForResource</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Chatter_Post_to_Project_Manager</name>
        <label>Chatter Post to Project Manager</label>
        <locationX>923</locationX>
        <locationY>512</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>ProjectManagerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>AssignmentProjectMangerAlertTemplate</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Record_ID</name>
        <label>Assign Record ID</label>
        <locationX>916</locationX>
        <locationY>236</locationY>
        <assignmentItems>
            <assignToReference>ResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objAssignment.pse__Resource__r.pse__Salesforce_User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectManagerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objAssignment.pse__Project__r.pse__Project_Manager__r.pse__Salesforce_User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>startDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objAssignment.pse__Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>endDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objAssignment.pse__End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objAssignment.pse__Project__r.pse__Account__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignmentName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objAssignment.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>projectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objAssignment.pse__Project__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssignmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objAssignment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>travelRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objAssignment.TR_PS_Enterprise_Travel_Required__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assignment_Found</name>
        <label>Assignment Found</label>
        <locationX>509</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assignmentCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_loop</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check both resource an PM is not null</description>
        <name>Null_Check_of_Project_Manager</name>
        <label>Null Check of Project Manager</label>
        <locationX>503</locationX>
        <locationY>568</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Project_manager_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProjectManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ResourceId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chatter_Post_to_Project_Manager</targetReference>
            </connector>
            <label>Project manager is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_of_Resource</name>
        <label>Null Check of Resource</label>
        <locationX>491</locationX>
        <locationY>388</locationY>
        <defaultConnector>
            <targetReference>Null_Check_of_Project_Manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Resource_is_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResourceId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chatter_Post</targetReference>
            </connector>
            <label>Resource is not Null</label>
        </rules>
    </decisions>
    <formulas>
        <name>varOrgDomain</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))</expression>
    </formulas>
    <interviewLabel>TR PS Enterprise Assignment Alert Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TR PS Enterprise Assignment Alert Flow</label>
    <loops>
        <name>Assignment_loop</name>
        <label>Assignment loop</label>
        <locationX>519</locationX>
        <locationY>236</locationY>
        <assignNextValueToReference>objAssignment</assignNextValueToReference>
        <collectionReference>assignmentCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Record_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Null_Check_of_Resource</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Error_Log</name>
        <label>Error Log</label>
        <locationX>1055</locationX>
        <locationY>84</locationY>
        <inputAssignments>
            <field>TR_Retention__Error_Message__c</field>
            <value>
                <elementReference>ErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR_Retention__Error_Point__c</field>
            <value>
                <stringValue>Assignment Alert Error</stringValue>
            </value>
        </inputAssignments>
        <object>TR_Retention__Error_Log__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Assignment_Details</name>
        <label>Get Assignment Details</label>
        <locationX>251</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assignmentId</elementReference>
            </value>
        </filters>
        <object>pse__Assignment__c</object>
        <outputReference>assignmentCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>pse__Project__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>pse__Start_Date__c</queriedFields>
        <queriedFields>pse__End_Date__c</queriedFields>
        <queriedFields>pse__Resource__c</queriedFields>
        <queriedFields>TR_PS_Enterprise_Travel_Required__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Assignment_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AssignmentNotificationTemplateForResource</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>You have been  assigned on the Project &quot; {!projectName} &quot; .  Please find the details of the Assignment below,

Assignment Name          :  {!assignmentName}
Assignment Link          :  {!varOrgDomain}/{!varAssignmentId}
Assignment Start Date    :  {!startDate}  
Assignment End Date      :  {!endDate}
Travel Required:  {!travelRequired}
Client Name              :  {!accountName}
Project Name             :  {!projectName}</text>
    </textTemplates>
    <textTemplates>
        <name>AssignmentProjectMangerAlertTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>@[{!ResourceId}]  has been assigned on the Project &quot; {!projectName} &quot; . Please find the details of the Assignment below,

Assignment Name		:  {!assignmentName}
Assignment Link         :  {!varOrgDomain}/{!varAssignmentId}
Assignment Start Date	:  {!startDate}  
Assignment End Date	:  {!endDate}
Travel Required?  : {!travelRequired}
Client Name		:  {!accountName}
Project Name		:  {!projectName}</text>
    </textTemplates>
    <textTemplates>
        <name>ErrorMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>accountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assignmentCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Assignment__c</objectType>
    </variables>
    <variables>
        <name>assignmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>assignmentName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>endDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Assignment__c</objectType>
    </variables>
    <variables>
        <name>ProjectManagerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>projectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>startDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>travelRequired</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAssignmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
