flows/Update_Lead_Stage_to_Tele_accepted_and_Recycle.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Update Lead Stage to Tele Accepted</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Update Lead stage to Recycle</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Update Lead stage to Tele Qualified</label>
        </rules>
    </decisions>
    <description>Update Lead Stage to Tele accepted and Recycle</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND($Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c = false, ISCHANGED([Lead].Status), OR([Lead].Lead_Owner_Profile_Name__c  = &quot;TR Legal US Sales User&quot;, [Lead].Lead_Owner_Profile_Name__c = &quot;TR Legal FindLaw User&quot;, [Lead].Lead_Owner_Profile_Name__c = &quot;TR Legal FindLaw Advanced Lead Mgmt&quot;, [Lead].Lead_Owner_Profile_Name__c = &quot;LMS - User&quot;, [Lead].Lead_Owner_Profile_Name__c = &quot;TR Legal US Sales User Adv Lead Mgmt&quot;), AND(ISPICKVAL(PRIORVALUE([Lead].Status ), &quot;Unworked&quot;), OR(ISPICKVAL([Lead].Status , &quot;Contacting&quot;), ISPICKVAL([Lead].Status , &quot;Escalated&quot;) )   ))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND({!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c} = false, ISCHANGED({!myVariable_current.Status}), OR({!myVariable_current.Lead_Owner_Profile_Name__c}  = &quot;TR Legal US Sales User&quot;, {!myVariable_current.Lead_Owner_Profile_Name__c} = &quot;TR Legal FindLaw User&quot;, {!myVariable_current.Lead_Owner_Profile_Name__c} = &quot;TR Legal FindLaw Advanced Lead Mgmt&quot;, {!myVariable_current.Lead_Owner_Profile_Name__c} = &quot;LMS - User&quot;, {!myVariable_current.Lead_Owner_Profile_Name__c} = &quot;TR Legal US Sales User Adv Lead Mgmt&quot;), AND(ISPICKVAL(PRIORVALUE({!myVariable_current.Status} ), &quot;Unworked&quot;), OR(ISPICKVAL({!myVariable_current.Status} , &quot;Contacting&quot;), ISPICKVAL({!myVariable_current.Status} , &quot;Escalated&quot;) )   ))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c = false ,ISPICKVAL([Lead].Status , &quot;Discarded&quot;), OR($Profile.Name =&quot;TR Legal US Sales User&quot;, $Profile.Name = &quot;TR Legal FindLaw User&quot;,$Profile.Name = &quot;TR Legal FindLaw Advanced Lead Mgmt&quot;, $Profile.Name =&quot;LMS - User&quot;,  $Profile.Name = &quot;TR Legal US Sales User Adv Lead Mgmt&quot;))   </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c} = false ,ISPICKVAL({!myVariable_current.Status} , &quot;Discarded&quot;), OR({!$Profile.Name} =&quot;TR Legal US Sales User&quot;, {!$Profile.Name} = &quot;TR Legal FindLaw User&quot;,{!$Profile.Name} = &quot;TR Legal FindLaw Advanced Lead Mgmt&quot;, {!$Profile.Name} =&quot;LMS - User&quot;,  {!$Profile.Name} = &quot;TR Legal US Sales User Adv Lead Mgmt&quot;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c = false ,ISCHANGED([Lead].Status), OR([Lead].Lead_Owner_Profile_Name__c  = &quot;TR Legal US Sales User&quot;, [Lead].Lead_Owner_Profile_Name__c = &quot;TR Legal FindLaw User&quot;, [Lead].Lead_Owner_Profile_Name__c = &quot;TR Legal FindLaw Advanced Lead Mgmt&quot;, [Lead].Lead_Owner_Profile_Name__c = &quot;LMS - User&quot;, [Lead].Lead_Owner_Profile_Name__c = &quot;TR Legal US Sales User Adv Lead Mgmt&quot;), ISPICKVAL([Lead].Status , &quot;Interested&quot;) )   </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c} = false ,ISCHANGED({!myVariable_current.Status}), OR({!myVariable_current.Lead_Owner_Profile_Name__c}  = &quot;TR Legal US Sales User&quot;, {!myVariable_current.Lead_Owner_Profile_Name__c} = &quot;TR Legal FindLaw User&quot;, {!myVariable_current.Lead_Owner_Profile_Name__c} = &quot;TR Legal FindLaw Advanced Lead Mgmt&quot;, {!myVariable_current.Lead_Owner_Profile_Name__c} = &quot;LMS - User&quot;, {!myVariable_current.Lead_Owner_Profile_Name__c} = &quot;TR Legal US Sales User Adv Lead Mgmt&quot;), ISPICKVAL({!myVariable_current.Status} , &quot;Interested&quot;) )</expression>
    </formulas>
    <interviewLabel>Update_Lead_Stage_to_Tele_accepted_and_Recycle-3_InterviewLabel</interviewLabel>
    <label>Update Lead Stage to Tele accepted and Recycle</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Lead</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Lead]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Lead stage to Tele Accepted</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Lead Stage</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Lead_Stage__c</field>
            <value>
                <stringValue>Tele Accepted</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Lead]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Update Lead stage to Recycle</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Lead Stage</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Lead_Stage__c</field>
            <value>
                <stringValue>Recycle</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Lead]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Update Lead stage to Tele Qualified</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Lead Stage</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Lead_Stage__c</field>
            <value>
                <stringValue>Tele Qualified</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
