flows/Update_Lead_Stage_Field.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Update Lead Stage to Prospect</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Update Lead Stage to Lead</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Update Lead Stage to Qualified Lead</label>
        </rules>
    </decisions>
    <description>Update Lead Stage based on Lead Score</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c = false,ISPICKVAL([Lead].Status , &quot;Unworked&quot;),ISPICKVAL([Lead].Sales_Org__c, &quot;WEST&quot;) , OR([Lead].Lead_Scoring_Combined__c  =&quot;A4&quot;, [Lead].Lead_Scoring_Combined__c  =&quot;B4&quot;, [Lead].Lead_Scoring_Combined__c  =&quot;C4&quot;, [Lead].Lead_Scoring_Combined__c  = &quot;D3&quot;, [Lead].Lead_Scoring_Combined__c  =&quot;D4&quot;)  )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c} = false,ISPICKVAL({!myVariable_current.Status} , &quot;Unworked&quot;),ISPICKVAL({!myVariable_current.Sales_Org__c}, &quot;WEST&quot;) , OR({!myVariable_current.Lead_Scoring_Combined__c}  =&quot;A4&quot;, {!myVariable_current.Lead_Scoring_Combined__c}  =&quot;B4&quot;, {!myVariable_current.Lead_Scoring_Combined__c}  =&quot;C4&quot;, {!myVariable_current.Lead_Scoring_Combined__c}  = &quot;D3&quot;, {!myVariable_current.Lead_Scoring_Combined__c}  =&quot;D4&quot;)  )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c = false,ISPICKVAL([Lead].Status, &quot;Unworked&quot; ),ISPICKVAL([Lead].Sales_Org__c, &quot;WEST&quot;),  OR([Lead].Lead_Scoring_Combined__c  =&quot;A3&quot;, [Lead].Lead_Scoring_Combined__c = &quot;B3&quot;, [Lead].Lead_Scoring_Combined__c =&quot;C2&quot;,  [Lead].Lead_Scoring_Combined__c =&quot;C3&quot;,  [Lead].Lead_Scoring_Combined__c =&quot;D1&quot;, [Lead].Lead_Scoring_Combined__c =&quot;D2&quot; ))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c} = false,ISPICKVAL({!myVariable_current.Status}, &quot;Unworked&quot; ),ISPICKVAL({!myVariable_current.Sales_Org__c}, &quot;WEST&quot;),  OR({!myVariable_current.Lead_Scoring_Combined__c}  =&quot;A3&quot;, {!myVariable_current.Lead_Scoring_Combined__c} = &quot;B3&quot;, {!myVariable_current.Lead_Scoring_Combined__c} =&quot;C2&quot;,  {!myVariable_current.Lead_Scoring_Combined__c} =&quot;C3&quot;,  {!myVariable_current.Lead_Scoring_Combined__c} =&quot;D1&quot;, {!myVariable_current.Lead_Scoring_Combined__c} =&quot;D2&quot; ))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND($Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c = false,ISPICKVAL([Lead].Status, &quot;Unworked&quot; ),ISPICKVAL([Lead].Sales_Org__c, &quot;WEST&quot;),  OR([Lead].Lead_Scoring_Combined__c  =&quot;A1&quot;, [Lead].Lead_Scoring_Combined__c = &quot;A2&quot;, [Lead].Lead_Scoring_Combined__c =&quot;B1&quot;,  [Lead].Lead_Scoring_Combined__c =&quot;B2&quot;,  [Lead].Lead_Scoring_Combined__c =&quot;C1&quot; ))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND({!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c} = false,ISPICKVAL({!myVariable_current.Status}, &quot;Unworked&quot; ),ISPICKVAL({!myVariable_current.Sales_Org__c}, &quot;WEST&quot;),  OR({!myVariable_current.Lead_Scoring_Combined__c}  =&quot;A1&quot;, {!myVariable_current.Lead_Scoring_Combined__c} = &quot;A2&quot;, {!myVariable_current.Lead_Scoring_Combined__c} =&quot;B1&quot;,  {!myVariable_current.Lead_Scoring_Combined__c} =&quot;B2&quot;,  {!myVariable_current.Lead_Scoring_Combined__c} =&quot;C1&quot; ))</expression>
    </formulas>
    <interviewLabel>Update_Lead_Stage_Field-2_InterviewLabel</interviewLabel>
    <label>Update Lead Stage Field</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Lead</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Lead]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Lead Stage to Prospect</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Lead Stage</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Lead_Stage__c</field>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Lead]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Update Lead Stage to Lead</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Lead Stage</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Lead_Stage__c</field>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Lead]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Update Lead Stage to Qualified Lead</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Lead Stage</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Lead_Stage__c</field>
            <value>
                <stringValue>Qualified Lead</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
