flows/Update_Lead_status_to_Contacting_Value.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Update Lead status to Contacting</label>
        </rules>
    </decisions>
    <description>Rule to update the Lead Status to Contacting based on Roles</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(OR( PRIORVALUE([Lead].Lead_Owner_Queue_Name__c   )= &quot;BDR Lead Queue&quot;,  PRIORVALUE([Lead].Lead_Owner_Queue_Name__c )=&quot;BDR Prospect Queue&quot;, PRIORVALUE([Lead].Lead_Owner_Queue_Name__c)=&quot;SDR Qualified Lead Queue&quot;,PRIORVALUE([Lead].Lead_Owner_Queue_Name__c)=&quot;Practical Law Leads&quot;, PRIORVALUE([Lead].Lead_Owner_Queue_Name__c)= &quot;SDR Tele Small Law&quot;),ISCHANGED([Lead].OwnerId), NOT(BEGINS([Lead].OwnerId, &quot;00G&quot;)), OR( [Lead].Owner:User.UserRole.Name =&quot;Sales Dev - CC Bus Dev Rep&quot;,   [Lead].Owner:User.UserRole.Name =&quot;Sales Dev - CI Bus Dev Rep&quot;,[Lead].Owner:User.UserRole.Name =&quot;Sales Dev - SLF Bus Dev Rep&quot;, [Lead].Owner:User.UserRole.Name=&quot;Sales Dev - LMLF Bus Dev Rep&quot;, [Lead].Owner:User.UserRole.Name=&quot;Sales Dev - Elite Bus Dev Rep&quot;, [Lead].Owner:User.UserRole.Name= &quot;Sales Dev - Govt Bus Dev Rep&quot;,[Lead].Owner:User.UserRole.Name= &quot;Sales Dev - Synergy Bus Dev Rep&quot;, [Lead].Owner:User.UserRole.Name= &quot;Sales Dev - XC Rep&quot;) , [Lead].Owner:User.UserRole.Name = $UserRole.Name, [Lead].Lead_Owner_User_Id__c    = $User.Id )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(OR( PRIORVALUE({!myVariable_current.Lead_Owner_Queue_Name__c}   )= &quot;BDR Lead Queue&quot;,  PRIORVALUE({!myVariable_current.Lead_Owner_Queue_Name__c} )=&quot;BDR Prospect Queue&quot;, PRIORVALUE({!myVariable_current.Lead_Owner_Queue_Name__c})=&quot;SDR Qualified Lead Queue&quot;,PRIORVALUE({!myVariable_current.Lead_Owner_Queue_Name__c})=&quot;Practical Law Leads&quot;, PRIORVALUE({!myVariable_current.Lead_Owner_Queue_Name__c})= &quot;SDR Tele Small Law&quot;),ISCHANGED({!myVariable_current.OwnerId}), NOT(BEGINS({!myVariable_current.OwnerId}, &quot;00G&quot;)), OR( {!myVariable_current.Owner:User.UserRole.Name} =&quot;Sales Dev - CC Bus Dev Rep&quot;,   {!myVariable_current.Owner:User.UserRole.Name} =&quot;Sales Dev - CI Bus Dev Rep&quot;,{!myVariable_current.Owner:User.UserRole.Name} =&quot;Sales Dev - SLF Bus Dev Rep&quot;, {!myVariable_current.Owner:User.UserRole.Name}=&quot;Sales Dev - LMLF Bus Dev Rep&quot;, {!myVariable_current.Owner:User.UserRole.Name}=&quot;Sales Dev - Elite Bus Dev Rep&quot;, {!myVariable_current.Owner:User.UserRole.Name}= &quot;Sales Dev - Govt Bus Dev Rep&quot;,{!myVariable_current.Owner:User.UserRole.Name}= &quot;Sales Dev - Synergy Bus Dev Rep&quot;, {!myVariable_current.Owner:User.UserRole.Name}= &quot;Sales Dev - XC Rep&quot;) , {!myVariable_current.Owner:User.UserRole.Name} = $UserRole.Name, {!myVariable_current.Lead_Owner_User_Id__c}    = $User.Id )</expression>
    </formulas>
    <interviewLabel>Update_Lead_status_to_Contacting_Value-1_InterviewLabel</interviewLabel>
    <label>Update Lead status to Contacting Value</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Lead</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Lead]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Lead status to Contacting</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Contacting</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Draft</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
