flows/USL_SCM_TAM_Email2Case.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>USL_SCM_Acknowledgement</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Send SCM Acknowledgement</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <actionName>Case.USL_SCM_Acknowledgement</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_1_A3</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>USL_TAM_Acknowledgement</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A2</name>
        <label>Send TAM Acknowledgement</label>
        <locationX>700</locationX>
        <locationY>300</locationY>
        <actionName>Case.USL_TAM_Acknowledgement</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_7_A3</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>EmailOrigin=SCM?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>EmailOrigin is TAM?</label>
        </rules>
    </decisions>
    <description>This process is used to autoresponse for SCM &amp; TAM queues</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&apos;&lt;html&gt; &lt;head&gt; &lt;table cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tr&gt;&lt;td align=&quot;center&quot; colspan=&quot;3&quot;&gt;&lt;/td&gt;&lt;/tr&gt; &lt;tr&gt; &lt;td&gt; &lt;table align=&quot;center&quot; bgcolor=&quot;#949599&quot; border=&quot;0&quot; cellpadding=&quot;10&quot; cellspacing=&quot;0&quot; width=&quot;600&quot;&gt; &lt;tr&gt; &lt;td&gt;&lt;table bgcolor=&quot;#FFFFFF&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tr&gt; &lt;td&gt;&lt;table align=&quot;center&quot; cellpadding=&quot;10&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tr&gt; &lt;td align=&quot;left&quot; height=&quot;60&quot;&gt;&lt;img alt=&quot;Thomson Reuters&quot; border=&quot;0&quot; height=&quot;40&quot; src=&quot;http://online.thomsonreuters.com/assets/email_assets/tr_logo_40.gif&quot; vspace=&quot;5&quot; width=&quot;178&quot; /&gt;&lt;/td&gt; &lt;/tr&gt; &lt;/table&gt; &lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tr&gt; &lt;td bgcolor=&quot;#ea7224&quot;&gt;&lt;table border=&quot;0&quot; cellpadding=&quot;10&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tr&gt; &lt;td&gt;&lt;font color=&quot;#FFFFFF&quot; face=&quot;Arial, Helvetica, Sans-Serif&quot; size=&quot;3&quot; style=&quot;font-size:17px;font-weight:bold;&quot;&gt; THOMSON REUTERS CUSTOMER ADMINISTRATION&lt;/font&gt;&lt;/td&gt; &lt;/tr&gt; &lt;/table&gt;&lt;/td&gt; &lt;td bgcolor=&quot;#ea7224&quot; height=&quot;63&quot; width=&quot;30&quot;&gt;&amp;nbsp;&lt;/td&gt; &lt;/tr&gt; &lt;/table&gt; &lt;table align=&quot;center&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tr&gt; &lt;td&gt;&lt;table cellpadding=&quot;5&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tr&gt; &lt;td valign=&quot;top&quot;&gt; &lt;table border=&quot;0&quot; cellpadding=&quot;7&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tr&gt; &lt;td&gt;&lt;font color=&quot;#4b4b4b&quot; face=&quot;Arial, Helvetica, sans-serif&quot; size=&quot;2&quot;&gt; &lt;p&gt;Thank you for contacting Customer Service CMi Support Team. Your e-mail has been forwarded for research and resolution.&lt;/p&gt;&lt;/font&gt; &lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td&gt;&lt;font color=&quot;#4b4b4b&quot; face=&quot;Arial, Helvetica, sans-serif&quot; size=&quot;2&quot;&gt; &lt;p&gt;This is an automated response. Your reference number regarding this communication is &apos; + ([Case].CaseNumber) + &apos;, please quote this number on any correspondence relating to this matter.&lt;/p&gt;&lt;/font&gt; &lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td&gt;&lt;font color=&quot;#4b4b4b&quot; face=&quot;Arial, Helvetica, sans-serif&quot; size=&quot;2&quot;&gt;&lt;p&gt;If you need immediate assistance, please call 1-800-554-8909 or internal extension 43950. Our hours are Monday - Friday, 7AM - 7PM Central Time.&lt;/p&gt;&lt;/font&gt;&lt;/td&gt; &lt;/tr&gt;&lt;tr&gt; &lt;td&gt;&lt;font color=&quot;#4b4b4b&quot; face=&quot;Arial, Helvetica, sans-serif&quot; size=&quot;2&quot;&gt;&lt;p&gt;Respectfully,&lt;/p&gt;&lt;/font&gt;&lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td&gt;&lt;font color=&quot;#4b4b4b&quot; face=&quot;Arial, Helvetica, sans-serif&quot; size=&quot;2&quot;&gt;&lt;p&gt;Thomson Reuters CMi Support Team&lt;/p&gt;&lt;/font&gt;&lt;/td&gt; &lt;/tr&gt;&lt;/table&gt; &lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td valign=&quot;top&quot;&gt;&amp;nbsp;&lt;/td&gt; &lt;td&gt;&lt;/td&gt; &lt;td valign=&quot;top&quot;&gt;&amp;nbsp;&lt;/td&gt; &lt;/tr&gt; &lt;/table&gt;&lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td valign=&quot;bottom&quot;&gt;&lt;table align=&quot;left&quot; width=&quot;100%&quot;&gt; &lt;tr&gt; &lt;td&gt; &lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tr&gt; &lt;td bgcolor=&quot;#eaeaea&quot; height=&quot;1&quot;&gt;&lt;img height=&quot;1&quot; src=&quot;http://online.thomsonreuters.com/assets/email_assets/blank.gif&quot; width=&quot;1&quot; /&gt;&lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td&gt;&lt;table border=&quot;0&quot; cellpadding=&quot;6&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tbody&gt; &lt;tr&gt; &lt;td align=&quot;left&quot; width=&quot;50%&quot;&gt;&lt;a href=&quot;http://www.thomsonreuters.com/&quot;&gt;&lt;font color=&quot;#FF8000&quot; face=&quot;Arial, Helvetica, Sans-Serif&quot; size=&quot;1&quot;&gt;THOMSON REUTERS&lt;/font&gt;&lt;/a&gt;&lt;/td&gt; &lt;/tr&gt; &lt;/tbody&gt; &lt;/table&gt;&lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td bgcolor=&quot;#eaeaea&quot; height=&quot;1&quot;&gt;&lt;img height=&quot;1&quot; src=&quot;http://online.thomsonreuters.com/assets/email_assets/blank.gif&quot; width=&quot;1&quot; /&gt;&lt;/td&gt; &lt;/tr&gt; &lt;/table&gt;&lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;/tr&gt; &lt;/table&gt;&lt;/td&gt; &lt;/tr&gt; &lt;/table&gt;&lt;/td&gt; &lt;/tr&gt; &lt;/table&gt;&lt;/td&gt; &lt;/tr&gt; &lt;/table&gt; &lt;/td&gt; &lt;/tr&gt; &lt;/table&gt; &lt;/body&gt; &lt;/html&gt;&apos;+[Case].ESC_Email_Thread_Id__c</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_10_myRule_7_A1_9223259837</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;html&gt; &lt;head&gt; &lt;table cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tr&gt;&lt;td align=&quot;center&quot; colspan=&quot;3&quot;&gt;&lt;/td&gt;&lt;/tr&gt; &lt;tr&gt; &lt;td&gt; &lt;table align=&quot;center&quot; bgcolor=&quot;#949599&quot; border=&quot;0&quot; cellpadding=&quot;10&quot; cellspacing=&quot;0&quot; width=&quot;600&quot;&gt; &lt;tr&gt; &lt;td&gt;&lt;table bgcolor=&quot;#FFFFFF&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tr&gt; &lt;td&gt;&lt;table align=&quot;center&quot; cellpadding=&quot;10&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tr&gt; &lt;td align=&quot;left&quot; height=&quot;60&quot;&gt;&lt;img alt=&quot;Thomson Reuters&quot; border=&quot;0&quot; height=&quot;40&quot; src=&quot;http://online.thomsonreuters.com/assets/email_assets/tr_logo_40.gif&quot; vspace=&quot;5&quot; width=&quot;178&quot; /&gt;&lt;/td&gt; &lt;/tr&gt; &lt;/table&gt; &lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tr&gt; &lt;td bgcolor=&quot;#ea7224&quot;&gt;&lt;table border=&quot;0&quot; cellpadding=&quot;10&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tr&gt; &lt;td&gt;&lt;font color=&quot;#FFFFFF&quot; face=&quot;Arial, Helvetica, Sans-Serif&quot; size=&quot;3&quot; style=&quot;font-size:17px;font-weight:bold;&quot;&gt; THOMSON REUTERS CUSTOMER ADMINISTRATION&lt;/font&gt;&lt;/td&gt; &lt;/tr&gt; &lt;/table&gt;&lt;/td&gt; &lt;td bgcolor=&quot;#ea7224&quot; height=&quot;63&quot; width=&quot;30&quot;&gt;&amp;nbsp;&lt;/td&gt; &lt;/tr&gt; &lt;/table&gt; &lt;table align=&quot;center&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tr&gt; &lt;td&gt;&lt;table cellpadding=&quot;5&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tr&gt; &lt;td valign=&quot;top&quot;&gt; &lt;table border=&quot;0&quot; cellpadding=&quot;7&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tr&gt; &lt;td&gt;&lt;font color=&quot;#4b4b4b&quot; face=&quot;Arial, Helvetica, sans-serif&quot; size=&quot;2&quot;&gt; &lt;p&gt;Thank you for contacting Customer Service CMi Support Team. Your e-mail has been forwarded for research and resolution.&lt;/p&gt;&lt;/font&gt; &lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td&gt;&lt;font color=&quot;#4b4b4b&quot; face=&quot;Arial, Helvetica, sans-serif&quot; size=&quot;2&quot;&gt; &lt;p&gt;This is an automated response. Your reference number regarding this communication is &apos; + ({!myVariable_current.CaseNumber}) + &apos;, please quote this number on any correspondence relating to this matter.&lt;/p&gt;&lt;/font&gt; &lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td&gt;&lt;font color=&quot;#4b4b4b&quot; face=&quot;Arial, Helvetica, sans-serif&quot; size=&quot;2&quot;&gt;&lt;p&gt;If you need immediate assistance, please call 1-800-554-8909 or internal extension 43950. Our hours are Monday - Friday, 7AM - 7PM Central Time.&lt;/p&gt;&lt;/font&gt;&lt;/td&gt; &lt;/tr&gt;&lt;tr&gt; &lt;td&gt;&lt;font color=&quot;#4b4b4b&quot; face=&quot;Arial, Helvetica, sans-serif&quot; size=&quot;2&quot;&gt;&lt;p&gt;Respectfully,&lt;/p&gt;&lt;/font&gt;&lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td&gt;&lt;font color=&quot;#4b4b4b&quot; face=&quot;Arial, Helvetica, sans-serif&quot; size=&quot;2&quot;&gt;&lt;p&gt;Thomson Reuters CMi Support Team&lt;/p&gt;&lt;/font&gt;&lt;/td&gt; &lt;/tr&gt;&lt;/table&gt; &lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td valign=&quot;top&quot;&gt;&amp;nbsp;&lt;/td&gt; &lt;td&gt;&lt;/td&gt; &lt;td valign=&quot;top&quot;&gt;&amp;nbsp;&lt;/td&gt; &lt;/tr&gt; &lt;/table&gt;&lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td valign=&quot;bottom&quot;&gt;&lt;table align=&quot;left&quot; width=&quot;100%&quot;&gt; &lt;tr&gt; &lt;td&gt; &lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tr&gt; &lt;td bgcolor=&quot;#eaeaea&quot; height=&quot;1&quot;&gt;&lt;img height=&quot;1&quot; src=&quot;http://online.thomsonreuters.com/assets/email_assets/blank.gif&quot; width=&quot;1&quot; /&gt;&lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td&gt;&lt;table border=&quot;0&quot; cellpadding=&quot;6&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tbody&gt; &lt;tr&gt; &lt;td align=&quot;left&quot; width=&quot;50%&quot;&gt;&lt;a href=&quot;http://www.thomsonreuters.com/&quot;&gt;&lt;font color=&quot;#FF8000&quot; face=&quot;Arial, Helvetica, Sans-Serif&quot; size=&quot;1&quot;&gt;THOMSON REUTERS&lt;/font&gt;&lt;/a&gt;&lt;/td&gt; &lt;/tr&gt; &lt;/tbody&gt; &lt;/table&gt;&lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td bgcolor=&quot;#eaeaea&quot; height=&quot;1&quot;&gt;&lt;img height=&quot;1&quot; src=&quot;http://online.thomsonreuters.com/assets/email_assets/blank.gif&quot; width=&quot;1&quot; /&gt;&lt;/td&gt; &lt;/tr&gt; &lt;/table&gt;&lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;/tr&gt; &lt;/table&gt;&lt;/td&gt; &lt;/tr&gt; &lt;/table&gt;&lt;/td&gt; &lt;/tr&gt; &lt;/table&gt;&lt;/td&gt; &lt;/tr&gt; &lt;/table&gt; &lt;/td&gt; &lt;/tr&gt; &lt;/table&gt; &lt;/body&gt; &lt;/html&gt;&apos;+{!myVariable_current.ESC_Email_Thread_Id__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;Case - Auto Response - Case Num:&quot; + ([Case].CaseNumber )+&quot;-&quot;+([Case].ESC_Email_Thread_Id__c) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_11_myRule_7_A1_8759300451</name>
        <dataType>String</dataType>
        <expression>&quot;Case - Auto Response - Case Num:&quot; + ({!myVariable_current.CaseNumber} )+&quot;-&quot;+({!myVariable_current.ESC_Email_Thread_Id__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;Additional To:&quot; +[Case].ESC_Origin_Name__c+ 
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+&quot;CC:&quot;+SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+&quot;BCC:&quot;+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+&quot;Attachment:&quot;+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+&quot;Subject: Case - Auto Response - Case Num:&quot;+[Case].CaseNumber+&quot;-&quot;+[Case].ESC_Origin_Name__c+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+&quot;Body&quot;+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+&quot;THOMSON REUTERS CUSTOMER SUPPORT&quot;+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+&quot;Thank you for contacting Customer Service Sales Support Team. Your e-mail has been forwarded for research and resolution.&quot;+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+&quot;This is an automated response. Your reference number regarding this communication is &quot;+[Case].CaseNumber+&quot;, please quote this number on any correspondence relating to this matter.&quot;+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+&quot;If you need immediate assistance, please call 1-800-554-8909 or internal extension 43356. Our hours are Monday - Friday, 7AM - 7PM Central Time.&quot;+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+&quot;Respectfully,&quot;+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+&quot;Thomson Reuters Sales Support Team&quot;+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+&quot;Note: Please DO NOT change the subject line when replying to this email address.&quot;+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+&quot;THOMSON REUTERS&quot;+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+[Case].ESC_Email_Thread_Id__c</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A3_8675852825</name>
        <dataType>String</dataType>
        <expression>&quot;Additional To:&quot; +{!myVariable_current.ESC_Origin_Name__c}+ 
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+&quot;CC:&quot;+SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+&quot;BCC:&quot;+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+&quot;Attachment:&quot;+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+&quot;Subject: Case - Auto Response - Case Num:&quot;+{!myVariable_current.CaseNumber}+&quot;-&quot;+{!myVariable_current.ESC_Origin_Name__c}+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+&quot;Body&quot;+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+&quot;THOMSON REUTERS CUSTOMER SUPPORT&quot;+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+&quot;Thank you for contacting Customer Service Sales Support Team. Your e-mail has been forwarded for research and resolution.&quot;+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+&quot;This is an automated response. Your reference number regarding this communication is &quot;+{!myVariable_current.CaseNumber}+&quot;, please quote this number on any correspondence relating to this matter.&quot;+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+&quot;If you need immediate assistance, please call 1-800-554-8909 or internal extension 43356. Our hours are Monday - Friday, 7AM - 7PM Central Time.&quot;+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+&quot;Respectfully,&quot;+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+&quot;Thomson Reuters Sales Support Team&quot;+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+&quot;Note: Please DO NOT change the subject line when replying to this email address.&quot;+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+&quot;THOMSON REUTERS&quot;+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+{!myVariable_current.ESC_Email_Thread_Id__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;Email: Case - Auto Response - Case Num:&quot; + ([Case].CaseNumber )+&quot;-&quot;+([Case].ESC_Email_Thread_Id__c) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A3_0900982924</name>
        <dataType>String</dataType>
        <expression>&quot;Email: Case - Auto Response - Case Num:&quot; + ({!myVariable_current.CaseNumber} )+&quot;-&quot;+({!myVariable_current.ESC_Email_Thread_Id__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&apos;&lt;html&gt; &lt;head&gt; &lt;table cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tr&gt;&lt;td align=&quot;center&quot; colspan=&quot;3&quot;&gt;&lt;/td&gt;&lt;/tr&gt; &lt;tr&gt; &lt;td&gt; &lt;table align=&quot;center&quot; bgcolor=&quot;#949599&quot; border=&quot;0&quot; cellpadding=&quot;10&quot; cellspacing=&quot;0&quot; width=&quot;600&quot;&gt; &lt;tr&gt; &lt;td&gt;&lt;table bgcolor=&quot;#FFFFFF&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tr&gt; &lt;td&gt;&lt;table align=&quot;center&quot; cellpadding=&quot;10&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tr&gt; &lt;td align=&quot;left&quot; height=&quot;60&quot;&gt;&lt;img alt=&quot;Thomson Reuters&quot; border=&quot;0&quot; height=&quot;40&quot; src=&quot;http://online.thomsonreuters.com/assets/email_assets/tr_logo_40.gif&quot; vspace=&quot;5&quot; width=&quot;178&quot; /&gt;&lt;/td&gt; &lt;/tr&gt; &lt;/table&gt; &lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tr&gt; &lt;td bgcolor=&quot;#ea7224&quot;&gt;&lt;table border=&quot;0&quot; cellpadding=&quot;10&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tr&gt; &lt;td&gt;&lt;font color=&quot;#FFFFFF&quot; face=&quot;Arial, Helvetica, Sans-Serif&quot; size=&quot;3&quot; style=&quot;font-size:17px;font-weight:bold;&quot;&gt; THOMSON REUTERS CUSTOMER ADMINISTRATION&lt;/font&gt;&lt;/td&gt; &lt;/tr&gt; &lt;/table&gt;&lt;/td&gt; &lt;td bgcolor=&quot;#ea7224&quot; height=&quot;63&quot; width=&quot;30&quot;&gt;&amp;nbsp;&lt;/td&gt; &lt;/tr&gt; &lt;/table&gt; &lt;table align=&quot;center&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tr&gt; &lt;td&gt;&lt;table cellpadding=&quot;5&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tr&gt; &lt;td valign=&quot;top&quot;&gt; &lt;table border=&quot;0&quot; cellpadding=&quot;7&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tr&gt; &lt;td&gt;&lt;font color=&quot;#4b4b4b&quot; face=&quot;Arial, Helvetica, sans-serif&quot; size=&quot;2&quot;&gt; &lt;p&gt;Thank you for contacting Customer Service Sales Support Team. Your e-mail has been forwarded for research and resolution.&lt;/p&gt;&lt;/font&gt; &lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td&gt;&lt;font color=&quot;#4b4b4b&quot; face=&quot;Arial, Helvetica, sans-serif&quot; size=&quot;2&quot;&gt; &lt;p&gt;This is an automated response. Your reference number regarding this communication is &apos; + ([Case].CaseNumber) + &apos;, please quote this number on any correspondence relating to this matter.&lt;/p&gt;&lt;/font&gt; &lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td&gt;&lt;font color=&quot;#4b4b4b&quot; face=&quot;Arial, Helvetica, sans-serif&quot; size=&quot;2&quot;&gt;&lt;p&gt;If you need immediate assistance, please call 1-800-554-8909 or internal extension 43356. Our hours are Monday - Friday, 7AM - 7PM Central Time.&lt;/p&gt;&lt;/font&gt;&lt;/td&gt; &lt;/tr&gt;&lt;tr&gt; &lt;td&gt;&lt;font color=&quot;#4b4b4b&quot; face=&quot;Arial, Helvetica, sans-serif&quot; size=&quot;2&quot;&gt;&lt;p&gt;Respectfully,&lt;/p&gt;&lt;/font&gt;&lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td&gt;&lt;font color=&quot;#4b4b4b&quot; face=&quot;Arial, Helvetica, sans-serif&quot; size=&quot;2&quot;&gt;&lt;p&gt;Thomson Reuters Sales Support Team&lt;/p&gt;&lt;/font&gt;&lt;/td&gt; &lt;/tr&gt;&lt;/table&gt; &lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td valign=&quot;top&quot;&gt;&amp;nbsp;&lt;/td&gt; &lt;td&gt;&lt;/td&gt; &lt;td valign=&quot;top&quot;&gt;&amp;nbsp;&lt;/td&gt; &lt;/tr&gt; &lt;/table&gt;&lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td valign=&quot;bottom&quot;&gt;&lt;table align=&quot;left&quot; width=&quot;100%&quot;&gt; &lt;tr&gt; &lt;td&gt; &lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tr&gt; &lt;td bgcolor=&quot;#eaeaea&quot; height=&quot;1&quot;&gt;&lt;img height=&quot;1&quot; src=&quot;http://online.thomsonreuters.com/assets/email_assets/blank.gif&quot; width=&quot;1&quot; /&gt;&lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td&gt;&lt;table border=&quot;0&quot; cellpadding=&quot;6&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tbody&gt; &lt;tr&gt; &lt;td align=&quot;left&quot; width=&quot;50%&quot;&gt;&lt;a href=&quot;http://www.thomsonreuters.com/&quot;&gt;&lt;font color=&quot;#FF8000&quot; face=&quot;Arial, Helvetica, Sans-Serif&quot; size=&quot;1&quot;&gt;THOMSON REUTERS&lt;/font&gt;&lt;/a&gt;&lt;/td&gt; &lt;/tr&gt; &lt;/tbody&gt; &lt;/table&gt;&lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td bgcolor=&quot;#eaeaea&quot; height=&quot;1&quot;&gt;&lt;img height=&quot;1&quot; src=&quot;http://online.thomsonreuters.com/assets/email_assets/blank.gif&quot; width=&quot;1&quot; /&gt;&lt;/td&gt; &lt;/tr&gt; &lt;/table&gt;&lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;/tr&gt; &lt;/table&gt;&lt;/td&gt; &lt;/tr&gt; &lt;/table&gt;&lt;/td&gt; &lt;/tr&gt; &lt;/table&gt;&lt;/td&gt; &lt;/tr&gt; &lt;/table&gt; &lt;/td&gt; &lt;/tr&gt; &lt;/table&gt; &lt;/body&gt; &lt;/html&gt;&apos;+[Case].ESC_Email_Thread_Id__c</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A1_8819538952</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;html&gt; &lt;head&gt; &lt;table cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tr&gt;&lt;td align=&quot;center&quot; colspan=&quot;3&quot;&gt;&lt;/td&gt;&lt;/tr&gt; &lt;tr&gt; &lt;td&gt; &lt;table align=&quot;center&quot; bgcolor=&quot;#949599&quot; border=&quot;0&quot; cellpadding=&quot;10&quot; cellspacing=&quot;0&quot; width=&quot;600&quot;&gt; &lt;tr&gt; &lt;td&gt;&lt;table bgcolor=&quot;#FFFFFF&quot; border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tr&gt; &lt;td&gt;&lt;table align=&quot;center&quot; cellpadding=&quot;10&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tr&gt; &lt;td align=&quot;left&quot; height=&quot;60&quot;&gt;&lt;img alt=&quot;Thomson Reuters&quot; border=&quot;0&quot; height=&quot;40&quot; src=&quot;http://online.thomsonreuters.com/assets/email_assets/tr_logo_40.gif&quot; vspace=&quot;5&quot; width=&quot;178&quot; /&gt;&lt;/td&gt; &lt;/tr&gt; &lt;/table&gt; &lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tr&gt; &lt;td bgcolor=&quot;#ea7224&quot;&gt;&lt;table border=&quot;0&quot; cellpadding=&quot;10&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tr&gt; &lt;td&gt;&lt;font color=&quot;#FFFFFF&quot; face=&quot;Arial, Helvetica, Sans-Serif&quot; size=&quot;3&quot; style=&quot;font-size:17px;font-weight:bold;&quot;&gt; THOMSON REUTERS CUSTOMER ADMINISTRATION&lt;/font&gt;&lt;/td&gt; &lt;/tr&gt; &lt;/table&gt;&lt;/td&gt; &lt;td bgcolor=&quot;#ea7224&quot; height=&quot;63&quot; width=&quot;30&quot;&gt;&amp;nbsp;&lt;/td&gt; &lt;/tr&gt; &lt;/table&gt; &lt;table align=&quot;center&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tr&gt; &lt;td&gt;&lt;table cellpadding=&quot;5&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tr&gt; &lt;td valign=&quot;top&quot;&gt; &lt;table border=&quot;0&quot; cellpadding=&quot;7&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tr&gt; &lt;td&gt;&lt;font color=&quot;#4b4b4b&quot; face=&quot;Arial, Helvetica, sans-serif&quot; size=&quot;2&quot;&gt; &lt;p&gt;Thank you for contacting Customer Service Sales Support Team. Your e-mail has been forwarded for research and resolution.&lt;/p&gt;&lt;/font&gt; &lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td&gt;&lt;font color=&quot;#4b4b4b&quot; face=&quot;Arial, Helvetica, sans-serif&quot; size=&quot;2&quot;&gt; &lt;p&gt;This is an automated response. Your reference number regarding this communication is &apos; + ({!myVariable_current.CaseNumber}) + &apos;, please quote this number on any correspondence relating to this matter.&lt;/p&gt;&lt;/font&gt; &lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td&gt;&lt;font color=&quot;#4b4b4b&quot; face=&quot;Arial, Helvetica, sans-serif&quot; size=&quot;2&quot;&gt;&lt;p&gt;If you need immediate assistance, please call 1-800-554-8909 or internal extension 43356. Our hours are Monday - Friday, 7AM - 7PM Central Time.&lt;/p&gt;&lt;/font&gt;&lt;/td&gt; &lt;/tr&gt;&lt;tr&gt; &lt;td&gt;&lt;font color=&quot;#4b4b4b&quot; face=&quot;Arial, Helvetica, sans-serif&quot; size=&quot;2&quot;&gt;&lt;p&gt;Respectfully,&lt;/p&gt;&lt;/font&gt;&lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td&gt;&lt;font color=&quot;#4b4b4b&quot; face=&quot;Arial, Helvetica, sans-serif&quot; size=&quot;2&quot;&gt;&lt;p&gt;Thomson Reuters Sales Support Team&lt;/p&gt;&lt;/font&gt;&lt;/td&gt; &lt;/tr&gt;&lt;/table&gt; &lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td valign=&quot;top&quot;&gt;&amp;nbsp;&lt;/td&gt; &lt;td&gt;&lt;/td&gt; &lt;td valign=&quot;top&quot;&gt;&amp;nbsp;&lt;/td&gt; &lt;/tr&gt; &lt;/table&gt;&lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td valign=&quot;bottom&quot;&gt;&lt;table align=&quot;left&quot; width=&quot;100%&quot;&gt; &lt;tr&gt; &lt;td&gt; &lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tr&gt; &lt;td bgcolor=&quot;#eaeaea&quot; height=&quot;1&quot;&gt;&lt;img height=&quot;1&quot; src=&quot;http://online.thomsonreuters.com/assets/email_assets/blank.gif&quot; width=&quot;1&quot; /&gt;&lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td&gt;&lt;table border=&quot;0&quot; cellpadding=&quot;6&quot; cellspacing=&quot;0&quot; width=&quot;100%&quot;&gt; &lt;tbody&gt; &lt;tr&gt; &lt;td align=&quot;left&quot; width=&quot;50%&quot;&gt;&lt;a href=&quot;http://www.thomsonreuters.com/&quot;&gt;&lt;font color=&quot;#FF8000&quot; face=&quot;Arial, Helvetica, Sans-Serif&quot; size=&quot;1&quot;&gt;THOMSON REUTERS&lt;/font&gt;&lt;/a&gt;&lt;/td&gt; &lt;/tr&gt; &lt;/tbody&gt; &lt;/table&gt;&lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;td bgcolor=&quot;#eaeaea&quot; height=&quot;1&quot;&gt;&lt;img height=&quot;1&quot; src=&quot;http://online.thomsonreuters.com/assets/email_assets/blank.gif&quot; width=&quot;1&quot; /&gt;&lt;/td&gt; &lt;/tr&gt; &lt;/table&gt;&lt;/td&gt; &lt;/tr&gt; &lt;tr&gt; &lt;/tr&gt; &lt;/table&gt;&lt;/td&gt; &lt;/tr&gt; &lt;/table&gt;&lt;/td&gt; &lt;/tr&gt; &lt;/table&gt;&lt;/td&gt; &lt;/tr&gt; &lt;/table&gt; &lt;/td&gt; &lt;/tr&gt; &lt;/table&gt; &lt;/body&gt; &lt;/html&gt;&apos;+{!myVariable_current.ESC_Email_Thread_Id__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;Case - Auto Response - Case Num:&quot; + ([Case].CaseNumber )+&quot;-&quot;+([Case].ESC_Email_Thread_Id__c) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_1_A1_2839886789</name>
        <dataType>String</dataType>
        <expression>&quot;Case - Auto Response - Case Num:&quot; + ({!myVariable_current.CaseNumber} )+&quot;-&quot;+({!myVariable_current.ESC_Email_Thread_Id__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;Additional To:&quot; +[Case].ESC_Origin_Name__c+ 
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+&quot;CC:&quot;+SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+&quot;BCC:&quot;+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+&quot;Attachment:&quot;+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+&quot;Subject: Case - Auto Response - Case Num:&quot;+[Case].CaseNumber+&quot;-&quot;+[Case].ESC_Origin_Name__c+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+&quot;Body&quot;+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+&quot;THOMSON REUTERS CUSTOMER SUPPORT&quot;+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+&quot;Thank you for contacting Customer Service CMi Support Team. Your e-mail has been forwarded for research and resolution.&quot;+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+&quot;This is an automated response. Your reference number regarding this communication is &quot;+[Case].CaseNumber+&quot;, please quote this number on any correspondence relating to this matter.&quot;+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+&quot;If you need immediate assistance, please call 1-800-554-8909 or internal extension 43950. Our hours are Monday - Friday, 7AM - 7PM Central Time.&quot;+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+&quot;Respectfully,&quot;+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+&quot;Thomson Reuters CMi Support Team&quot;+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+&quot;Note: Please DO NOT change the subject line when replying to this email address.&quot;+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+&quot;THOMSON REUTERS&quot;+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE($Label.New_Line,&quot;-&quot;,&quot;&quot;)+[Case].ESC_Email_Thread_Id__c</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_8_myRule_7_A3_6574196100</name>
        <dataType>String</dataType>
        <expression>&quot;Additional To:&quot; +{!myVariable_current.ESC_Origin_Name__c}+ 
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+&quot;CC:&quot;+SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+&quot;BCC:&quot;+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+&quot;Attachment:&quot;+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+&quot;Subject: Case - Auto Response - Case Num:&quot;+{!myVariable_current.CaseNumber}+&quot;-&quot;+{!myVariable_current.ESC_Origin_Name__c}+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+&quot;Body&quot;+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+&quot;THOMSON REUTERS CUSTOMER SUPPORT&quot;+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+&quot;Thank you for contacting Customer Service CMi Support Team. Your e-mail has been forwarded for research and resolution.&quot;+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+&quot;This is an automated response. Your reference number regarding this communication is &quot;+{!myVariable_current.CaseNumber}+&quot;, please quote this number on any correspondence relating to this matter.&quot;+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+&quot;If you need immediate assistance, please call 1-800-554-8909 or internal extension 43950. Our hours are Monday - Friday, 7AM - 7PM Central Time.&quot;+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+&quot;Respectfully,&quot;+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+&quot;Thomson Reuters CMi Support Team&quot;+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+&quot;Note: Please DO NOT change the subject line when replying to this email address.&quot;+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+&quot;THOMSON REUTERS&quot;+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+
SUBSTITUTE({!$Label.New_Line},&quot;-&quot;,&quot;&quot;)+{!myVariable_current.ESC_Email_Thread_Id__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;Email: Case - Auto Response - Case Num:&quot; + ([Case].CaseNumber )+&quot;-&quot;+([Case].ESC_Email_Thread_Id__c) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_9_myRule_7_A3_2460127611</name>
        <dataType>String</dataType>
        <expression>&quot;Email: Case - Auto Response - Case Num:&quot; + ({!myVariable_current.CaseNumber} )+&quot;-&quot;+({!myVariable_current.ESC_Email_Thread_Id__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND ($Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c = false,
ISCHANGED([Case].ESC_Origin_Name__c ) = True,
                                [Case].ESC_Origin_Name__c = IF(CONTAINS([Case].ESC_Origin_Name__c ,$Setup.USL_Email2case_SCM_TAM__c.SCM_Email_Id__c ),[Case].ESC_Origin_Name__c,&apos;&apos;),
 [Case].LCRM_Sub_BU__c = &quot;USL&quot;,
[Case].Is_ESC_Case__c = True)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND ({!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c} = false,
ISCHANGED({!myVariable_current.ESC_Origin_Name__c} ) = True,
                                {!myVariable_current.ESC_Origin_Name__c} = IF(CONTAINS({!myVariable_current.ESC_Origin_Name__c} ,{!$Setup.USL_Email2case_SCM_TAM__c.SCM_Email_Id__c} ),{!myVariable_current.ESC_Origin_Name__c},&apos;&apos;),
 {!myVariable_current.LCRM_Sub_BU__c} = &quot;USL&quot;,
{!myVariable_current.Is_ESC_Case__c} = True)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue> AND($Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c = false,
ISCHANGED([Case].ESC_Origin_Name__c ) = True,
                                [Case].ESC_Origin_Name__c =IF(CONTAINS([Case].ESC_Origin_Name__c ,$Setup.USL_Email2case_SCM_TAM__c.TAM_Email_Id__c ),[Case].ESC_Origin_Name__c,&apos;&apos;),
 [Case].LCRM_Sub_BU__c = &quot;USL&quot;,
[Case].Is_ESC_Case__c = True)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression> AND({!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c} = false,
ISCHANGED({!myVariable_current.ESC_Origin_Name__c} ) = True,
                                {!myVariable_current.ESC_Origin_Name__c} =IF(CONTAINS({!myVariable_current.ESC_Origin_Name__c} ,{!$Setup.USL_Email2case_SCM_TAM__c.TAM_Email_Id__c} ),{!myVariable_current.ESC_Origin_Name__c},&apos;&apos;),
 {!myVariable_current.LCRM_Sub_BU__c} = &quot;USL&quot;,
{!myVariable_current.Is_ESC_Case__c} = True)</expression>
    </formulas>
    <interviewLabel>USL_SCM_TAM_Email2Case-12_InterviewLabel</interviewLabel>
    <label>USL_SCM_TAM_Email2Case</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordCreates>
        <name>myRule_1_A1</name>
        <label>Email message</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>From Address</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>FromAddress</field>
            <value>
                <stringValue>thomsonreuterscustomersupport@thomsonreuters.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>From Name</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>FromName</field>
            <value>
                <stringValue>Thomson Reuters Customer Support</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>HTML Body</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>HtmlBody</field>
            <value>
                <elementReference>formula_4_myRule_1_A1_8819538952</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Is Incoming</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Incoming</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Case ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ParentId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <elementReference>formula_5_myRule_1_A1_2839886789</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Thread ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ThreadIdentifier</field>
            <value>
                <elementReference>myVariable_current.ESC_Email_Thread_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>To Address</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ToAddress</field>
            <value>
                <elementReference>myVariable_current.ESC_Origin_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_1_A3</name>
        <label>Create a Task</label>
        <locationX>100</locationX>
        <locationY>400</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Due Date Only</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ActivityDate</field>
            <value>
                <elementReference>myVariable_current.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Currency ISO Code</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Description</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Description</field>
            <value>
                <elementReference>formula_2_myRule_1_A3_8675852825</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Owner Name</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideLabel</name>
                <value>
                    <stringValue>Accreditation Support</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <stringValue>005a0000006tz5TAAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Priority</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <elementReference>formula_3_myRule_1_A3_0900982924</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To Account/Opportunity</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>APTS_Additional_Subscription_Actions__c;APTS_Group__c;APTS_Quote_Agreement_Locations__c;APTS_Subscriber_Locations__c;Account;Apttus_Approval__ApprovalProcessInstance__c;Apttus_Approval__ApprovalRuleAssignee__c;Apttus_Approval__ApprovalRuleDimension__c;Apttus_Approval__ApprovalRuleEntry__c;Apttus_Approval__ApprovalRule__c;Apttus_Approval__Approval_Matrix__c;Apttus_Approval__Approval_Process__c;Apttus_Approval__Approval_Request_History__c;Apttus_Approval__Approval_Request__c;Apttus_Approval__Backup_Approver__c;Apttus_Approval__FormulaField__c;Apttus_Approval__Global_Discount_Policy__c;Apttus_Approval__Term_Exception_Approval_Condition__c;Apttus_Approval__Term_Exception_Approval__c;Apttus_Config2__AccountBillingSummary__c;Apttus_Config2__AccountLocation__c;Apttus_Config2__AdHocGroup__c;Apttus_Config2__AdjustmentLineItem__c;Apttus_Config2__AgreementPriceRule__c;Apttus_Config2__AgreementPriceTier__c;Apttus_Config2__AssetAttributeValueHistory__c;Apttus_Config2__AssetAttributeValue__c;Apttus_Config2__AssetTransactionHistory__c;Apttus_Config2__AssetUsagePriceTierHistory__c;Apttus_Config2__AssetUsagePriceTier__c;Apttus_Config2__AttributeValueMatrix__c;Apttus_Config2__BatchJobParameter__c;Apttus_Config2__BatchJob__c;Apttus_Config2__BillingPlanItem__c;Apttus_Config2__BillingPlanTemplateItem__c;Apttus_Config2__BillingPlanTemplate__c;Apttus_Config2__BillingPlan__c;Apttus_Config2__BillingPreference__c;Apttus_Config2__ChargeGroupMember__c;Apttus_Config2__ChargeGroup__c;Apttus_Config2__ChargeType__c;Apttus_Config2__ClassificationHierarchy__c;Apttus_Config2__ClassificationName__c;Apttus_Config2__CostItem__c;Apttus_Config2__ExternalOrderAdjustmentItem__c;Apttus_Config2__ExternalOrderSummaryItem__c;Apttus_Config2__ExternalOrderSummary__c;Apttus_Config2__FeatureSet__c;Apttus_Config2__Feature__c;Apttus_Config2__FieldExpression__c;Apttus_Config2__Footnote__c;Apttus_Config2__FormulaField__c;Apttus_Config2__FrequencyConversionRate__c;Apttus_Config2__GLAccountMapEntry__c;Apttus_Config2__GLAccountMapRule__c;Apttus_Config2__GuidedQuestion__c;Apttus_Config2__GuidedSearchRuleEntry__c;Apttus_Config2__GuidedSearchRuleFilter__c;Apttus_Config2__GuidedSearchRule__c;Apttus_Config2__HelpDoc__c;Apttus_Config2__IncentiveAdjustmentItem__c;Apttus_Config2__IncentiveBenefitData__c;Apttus_Config2__IncentiveGroup__c;Apttus_Config2__IncentiveLimitData__c;Apttus_Config2__IncentiveLimit__c;Apttus_Config2__IncentiveLoyaltyEnrollment__c;Apttus_Config2__Incentive__c;Apttus_Config2__LineItem__c;Apttus_Config2__LoyaltyPointAccrualAdjustmentItem__c;Apttus_Config2__LoyaltyPointAccrualSummary__c;Apttus_Config2__Milestone2__c;Apttus_Config2__MilestoneAdjustmentItem__c;Apttus_Config2__MilestoneTemplate__c;Apttus_Config2__OrderAdjustmentLineItem__c;Apttus_Config2__OrderFulfillment__c;Apttus_Config2__OrderIncentiveBenefitData__c;Apttus_Config2__OrderIncentiveLimitData__c;Apttus_Config2__OrderLineItem__c;Apttus_Config2__OrderLoyaltyPointAccrualItem__c;Apttus_Config2__OrderPocketAdjustmentLineItem__c;Apttus_Config2__OrderProductAttributeValue__c;Apttus_Config2__OrderRollupData__c;Apttus_Config2__OrderTaxBreakup__c;Apttus_Config2__OrderUsagePriceTier__c;Apttus_Config2__Order__c;Apttus_Config2__PaymentTerm__c;Apttus_Config2__PriceBreakup__c;Apttus_Config2__PriceDimension__c;Apttus_Config2__PriceEscalator__c;Apttus_Config2__PriceListCategory__c;Apttus_Config2__PriceListItem__c;Apttus_Config2__PriceList__c;Apttus_Config2__PriceMatrixEntry__c;Apttus_Config2__PriceMatrix__c;Apttus_Config2__PriceRuleEntry__c;Apttus_Config2__PriceRule__c;Apttus_Config2__PriceRuleset__c;Apttus_Config2__ProductAttributeGroupMember__c;Apttus_Config2__ProductAttributeGroup__c;Apttus_Config2__ProductAttributeValue__c;Apttus_Config2__ProductAttribute__c;Apttus_Config2__ProductClassification__c;Apttus_Config2__ProductConfiguration__c;Apttus_Config2__ProductConstraintEntry__c;Apttus_Config2__ProductConstraintView__c;Apttus_Config2__ProductConstraint__c;Apttus_Config2__ProductDefaultRuleFilter__c;Apttus_Config2__ProductDefaultRule__c;Apttus_Config2__ProductDefaultValue__c;Apttus_Config2__ProductFeature__c;Apttus_Config2__ProductFootnote__c;Apttus_Config2__ProductGroupMember__c;Apttus_Config2__ProductGroup__c;Apttus_Config2__ProductHierarchyView__c;Apttus_Config2__ProductInformation__c;Apttus_Config2__ProductOptionComponent__c;Apttus_Config2__ProductOptionGroup__c;Apttus_Config2__ProductOptionPrice__c;Apttus_Config2__RelatedAccountLocation__c;Apttus_Config2__RelatedAssetLineItem__c;Apttus_Config2__RelatedIncentive__c;Apttus_Config2__RelatedPriceListItem__c;Apttus_Config2__RevRecPolicy__c;Apttus_Config2__RevenueSplitPolicy__c;Apttus_Config2__SavedSearch__c;Apttus_Config2__ServiceLocation__c;Apttus_Config2__SummaryGroup__c;Apttus_Config2__TaxBreakup__c;Apttus_Config2__TaxCertificate__c;Apttus_Config2__TaxCode__c;Apttus_Config2__TempIncentiveBenefitData__c;Apttus_Config2__TempIncentiveLimitData__c;Apttus_Config2__TempRollupData__c;Apttus_Config2__UsagePriceTier__c;Apttus_DealMgr__DealGuidanceDimensionSetMember__c;Apttus_DealMgr__DealGuidanceDimensionSet__c;Apttus_DealMgr__DealGuidanceDimension__c;Apttus_DealMgr__DealGuidanceRuleEntry__c;Apttus_DealMgr__DealGuidanceRule__c;Apttus_DealMgr__DealPercentileRange__c;Apttus_DealMgr__DealSummaryGroup__c;Apttus_DealMgr__DealTerm__c;Apttus_DealMgr__Deal__c;Apttus_DealOpti__ComparableDeal__c;Apttus_DealOpti__PriceWaterfallComponent__c;Apttus_Proposal__Proposal_Document_Output_Format__c;Apttus_Proposal__Proposal_Line_Item__c;Apttus_Proposal__Proposal_Request__c;Apttus_Proposal__Proposal__c;Apttus_QPConfig__ProposalAdjustmentLineItem__c;Apttus_QPConfig__ProposalFootnote__c;Apttus_QPConfig__ProposalIncentiveBenefitData__c;Apttus_QPConfig__ProposalIncentiveLimitData__c;Apttus_QPConfig__ProposalLocation__c;Apttus_QPConfig__ProposalProductAttributeValue__c;Apttus_QPConfig__ProposalRollupData__c;Apttus_QPConfig__ProposalSummaryGroup__c;Apttus_QPConfig__ProposalSummary__c;Apttus_QPConfig__ProposalUsagePriceTier__c;Apttus__APTS_Admin__c;Apttus__APTS_Agreement__c;Apttus__APTS_Template__c;Apttus__AgreementActionCondition__c;Apttus__AgreementLineItem__c;Apttus__AgreementLock__c;Apttus__Agreement_Clause__c;Apttus__Agreement_Document__c;Apttus__Agreement_Protection__c;Apttus__Agreement_Rule__c;Apttus__Agreement_Term_Exception__c;Apttus__CycleTimeField__c;Apttus__CycleTimeGroup__c;Apttus__DocAssemblyComponent__c;Apttus__DocAssemblyRule__c;Apttus__DocAssemblyRuleset__c;Apttus__Document_Output_Format__c;Apttus__FormulaField__c;Apttus__MergeEventDetail__c;Apttus__MergeEvent__c;Apttus__QueryTemplate__c;Apttus__RetentionPolicy__c;Apttus__SearchFilter__c;Apttus__TemplateClauseReference__c;Apttus__TemplateDatasourceFilter__c;Apttus__TemplateDynamicSection__c;Apttus__Term_Exception__c;Apttus__WizardInputControl__c;Apttus__WizardStep__c;Apttus__Wizard__c;Asset;AssetRelationship;Asset_Audit__c;Billing_Account_Split__c;Campaign;Case;ChannelProgram;ChannelProgramLevel;Competitive_Info__c;Contact_Attribute__c;Contract;ContractLineItem;Contract_Lifecycle__c;Contract_Line_Item__c;Customer_Master_Contacts__c;Digital_Exception_Log__c;Digital_Surveys__c;ESC_Case_Product__c;ESC_Survey__c;Entitlement;EntitlementProduct__c;Entitlement__c;LiveAgentSession;LiveChatTranscript;Online_Contacts__c;Opportunity;OpportunityProductDetail__c;Order__c;PartnerFundAllocation;PartnerFundClaim;PartnerFundRequest;PartnerMarketingBudget;Prodman_Quote__c;Product2;Product_Account_Detail__c;Product_Trial__c;Quote;Removed_Account__c;Removed_Contact__c;SFDC_Acct_Plan__c;SFDC_Strategy__c;ServiceContract;Solution;Survey__c;TRWayLeadMgmt__SLA_Violation__c;TRWay_Retention__Health_Assessment_Survey__c;Training_Event_Contact__c;Training_Event__c;geopointe__GP_Device__c;iahelp__HelpReadingList__c;iahelp__HelpResource__c;icrt__Guide_Attributes_Translation__c;icrt__Guide_Definition__c;qbdialer__UserStatusLog__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_7_A1</name>
        <label>Email Message</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_7_A2</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>From Address</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>FromAddress</field>
            <value>
                <stringValue>thomsonreuterscustomersupport@thomsonreuters.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>From Name</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>FromName</field>
            <value>
                <stringValue>Thomson Reuters Customer Support</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>HTML Body</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>HtmlBody</field>
            <value>
                <elementReference>formula_10_myRule_7_A1_9223259837</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Is Incoming</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Incoming</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Case ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ParentId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <elementReference>formula_11_myRule_7_A1_8759300451</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Thread ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ThreadIdentifier</field>
            <value>
                <elementReference>myVariable_current.ESC_Email_Thread_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>To Address</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ToAddress</field>
            <value>
                <elementReference>myVariable_current.ESC_Origin_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_7_A3</name>
        <label>Createtask</label>
        <locationX>700</locationX>
        <locationY>400</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Due Date Only</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ActivityDate</field>
            <value>
                <elementReference>myVariable_current.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Currency ISO Code</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Description</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Description</field>
            <value>
                <elementReference>formula_8_myRule_7_A3_6574196100</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Activity Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>LCRM_Activity_Type__c</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Owner Name</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideLabel</name>
                <value>
                    <stringValue>Accreditation Support</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <stringValue>005a0000006tz5TAAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Priority</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <elementReference>formula_9_myRule_7_A3_2460127611</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To Account/Opportunity</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>APTS_Additional_Subscription_Actions__c;APTS_Group__c;APTS_Quote_Agreement_Locations__c;APTS_Subscriber_Locations__c;Account;Apttus_Approval__ApprovalProcessInstance__c;Apttus_Approval__ApprovalRuleAssignee__c;Apttus_Approval__ApprovalRuleDimension__c;Apttus_Approval__ApprovalRuleEntry__c;Apttus_Approval__ApprovalRule__c;Apttus_Approval__Approval_Matrix__c;Apttus_Approval__Approval_Process__c;Apttus_Approval__Approval_Request_History__c;Apttus_Approval__Approval_Request__c;Apttus_Approval__Backup_Approver__c;Apttus_Approval__FormulaField__c;Apttus_Approval__Global_Discount_Policy__c;Apttus_Approval__Term_Exception_Approval_Condition__c;Apttus_Approval__Term_Exception_Approval__c;Apttus_Config2__AccountBillingSummary__c;Apttus_Config2__AccountLocation__c;Apttus_Config2__AdHocGroup__c;Apttus_Config2__AdjustmentLineItem__c;Apttus_Config2__AgreementPriceRule__c;Apttus_Config2__AgreementPriceTier__c;Apttus_Config2__AssetAttributeValueHistory__c;Apttus_Config2__AssetAttributeValue__c;Apttus_Config2__AssetTransactionHistory__c;Apttus_Config2__AssetUsagePriceTierHistory__c;Apttus_Config2__AssetUsagePriceTier__c;Apttus_Config2__AttributeValueMatrix__c;Apttus_Config2__BatchJobParameter__c;Apttus_Config2__BatchJob__c;Apttus_Config2__BillingPlanItem__c;Apttus_Config2__BillingPlanTemplateItem__c;Apttus_Config2__BillingPlanTemplate__c;Apttus_Config2__BillingPlan__c;Apttus_Config2__BillingPreference__c;Apttus_Config2__ChargeGroupMember__c;Apttus_Config2__ChargeGroup__c;Apttus_Config2__ChargeType__c;Apttus_Config2__ClassificationHierarchy__c;Apttus_Config2__ClassificationName__c;Apttus_Config2__CostItem__c;Apttus_Config2__ExternalOrderAdjustmentItem__c;Apttus_Config2__ExternalOrderSummaryItem__c;Apttus_Config2__ExternalOrderSummary__c;Apttus_Config2__FeatureSet__c;Apttus_Config2__Feature__c;Apttus_Config2__FieldExpression__c;Apttus_Config2__Footnote__c;Apttus_Config2__FormulaField__c;Apttus_Config2__FrequencyConversionRate__c;Apttus_Config2__GLAccountMapEntry__c;Apttus_Config2__GLAccountMapRule__c;Apttus_Config2__GuidedQuestion__c;Apttus_Config2__GuidedSearchRuleEntry__c;Apttus_Config2__GuidedSearchRuleFilter__c;Apttus_Config2__GuidedSearchRule__c;Apttus_Config2__HelpDoc__c;Apttus_Config2__IncentiveAdjustmentItem__c;Apttus_Config2__IncentiveBenefitData__c;Apttus_Config2__IncentiveGroup__c;Apttus_Config2__IncentiveLimitData__c;Apttus_Config2__IncentiveLimit__c;Apttus_Config2__IncentiveLoyaltyEnrollment__c;Apttus_Config2__Incentive__c;Apttus_Config2__LineItem__c;Apttus_Config2__LoyaltyPointAccrualAdjustmentItem__c;Apttus_Config2__LoyaltyPointAccrualSummary__c;Apttus_Config2__Milestone2__c;Apttus_Config2__MilestoneAdjustmentItem__c;Apttus_Config2__MilestoneTemplate__c;Apttus_Config2__OrderAdjustmentLineItem__c;Apttus_Config2__OrderFulfillment__c;Apttus_Config2__OrderIncentiveBenefitData__c;Apttus_Config2__OrderIncentiveLimitData__c;Apttus_Config2__OrderLineItem__c;Apttus_Config2__OrderLoyaltyPointAccrualItem__c;Apttus_Config2__OrderPocketAdjustmentLineItem__c;Apttus_Config2__OrderProductAttributeValue__c;Apttus_Config2__OrderRollupData__c;Apttus_Config2__OrderTaxBreakup__c;Apttus_Config2__OrderUsagePriceTier__c;Apttus_Config2__Order__c;Apttus_Config2__PaymentTerm__c;Apttus_Config2__PriceBreakup__c;Apttus_Config2__PriceDimension__c;Apttus_Config2__PriceEscalator__c;Apttus_Config2__PriceListCategory__c;Apttus_Config2__PriceListItem__c;Apttus_Config2__PriceList__c;Apttus_Config2__PriceMatrixEntry__c;Apttus_Config2__PriceMatrix__c;Apttus_Config2__PriceRuleEntry__c;Apttus_Config2__PriceRule__c;Apttus_Config2__PriceRuleset__c;Apttus_Config2__ProductAttributeGroupMember__c;Apttus_Config2__ProductAttributeGroup__c;Apttus_Config2__ProductAttributeValue__c;Apttus_Config2__ProductAttribute__c;Apttus_Config2__ProductClassification__c;Apttus_Config2__ProductConfiguration__c;Apttus_Config2__ProductConstraintEntry__c;Apttus_Config2__ProductConstraintView__c;Apttus_Config2__ProductConstraint__c;Apttus_Config2__ProductDefaultRuleFilter__c;Apttus_Config2__ProductDefaultRule__c;Apttus_Config2__ProductDefaultValue__c;Apttus_Config2__ProductFeature__c;Apttus_Config2__ProductFootnote__c;Apttus_Config2__ProductGroupMember__c;Apttus_Config2__ProductGroup__c;Apttus_Config2__ProductHierarchyView__c;Apttus_Config2__ProductInformation__c;Apttus_Config2__ProductOptionComponent__c;Apttus_Config2__ProductOptionGroup__c;Apttus_Config2__ProductOptionPrice__c;Apttus_Config2__RelatedAccountLocation__c;Apttus_Config2__RelatedAssetLineItem__c;Apttus_Config2__RelatedIncentive__c;Apttus_Config2__RelatedPriceListItem__c;Apttus_Config2__RevRecPolicy__c;Apttus_Config2__RevenueSplitPolicy__c;Apttus_Config2__SavedSearch__c;Apttus_Config2__ServiceLocation__c;Apttus_Config2__SummaryGroup__c;Apttus_Config2__TaxBreakup__c;Apttus_Config2__TaxCertificate__c;Apttus_Config2__TaxCode__c;Apttus_Config2__TempIncentiveBenefitData__c;Apttus_Config2__TempIncentiveLimitData__c;Apttus_Config2__TempRollupData__c;Apttus_Config2__UsagePriceTier__c;Apttus_DealMgr__DealGuidanceDimensionSetMember__c;Apttus_DealMgr__DealGuidanceDimensionSet__c;Apttus_DealMgr__DealGuidanceDimension__c;Apttus_DealMgr__DealGuidanceRuleEntry__c;Apttus_DealMgr__DealGuidanceRule__c;Apttus_DealMgr__DealPercentileRange__c;Apttus_DealMgr__DealSummaryGroup__c;Apttus_DealMgr__DealTerm__c;Apttus_DealMgr__Deal__c;Apttus_DealOpti__ComparableDeal__c;Apttus_DealOpti__PriceWaterfallComponent__c;Apttus_Proposal__Proposal_Document_Output_Format__c;Apttus_Proposal__Proposal_Line_Item__c;Apttus_Proposal__Proposal_Request__c;Apttus_Proposal__Proposal__c;Apttus_QPConfig__ProposalAdjustmentLineItem__c;Apttus_QPConfig__ProposalFootnote__c;Apttus_QPConfig__ProposalIncentiveBenefitData__c;Apttus_QPConfig__ProposalIncentiveLimitData__c;Apttus_QPConfig__ProposalLocation__c;Apttus_QPConfig__ProposalProductAttributeValue__c;Apttus_QPConfig__ProposalRollupData__c;Apttus_QPConfig__ProposalSummaryGroup__c;Apttus_QPConfig__ProposalSummary__c;Apttus_QPConfig__ProposalUsagePriceTier__c;Apttus__APTS_Admin__c;Apttus__APTS_Agreement__c;Apttus__APTS_Template__c;Apttus__AgreementActionCondition__c;Apttus__AgreementLineItem__c;Apttus__AgreementLock__c;Apttus__Agreement_Clause__c;Apttus__Agreement_Document__c;Apttus__Agreement_Protection__c;Apttus__Agreement_Rule__c;Apttus__Agreement_Term_Exception__c;Apttus__CycleTimeField__c;Apttus__CycleTimeGroup__c;Apttus__DocAssemblyComponent__c;Apttus__DocAssemblyRule__c;Apttus__DocAssemblyRuleset__c;Apttus__Document_Output_Format__c;Apttus__FormulaField__c;Apttus__MergeEventDetail__c;Apttus__MergeEvent__c;Apttus__QueryTemplate__c;Apttus__RetentionPolicy__c;Apttus__SearchFilter__c;Apttus__TemplateClauseReference__c;Apttus__TemplateDatasourceFilter__c;Apttus__TemplateDynamicSection__c;Apttus__Term_Exception__c;Apttus__WizardInputControl__c;Apttus__WizardStep__c;Apttus__Wizard__c;Asset;AssetRelationship;Asset_Audit__c;Billing_Account_Split__c;Campaign;Case;ChannelProgram;ChannelProgramLevel;Competitive_Info__c;Contact_Attribute__c;Contract;ContractLineItem;Contract_Lifecycle__c;Contract_Line_Item__c;Customer_Master_Contacts__c;Digital_Exception_Log__c;Digital_Surveys__c;ESC_Case_Product__c;ESC_Survey__c;Entitlement;EntitlementProduct__c;Entitlement__c;LiveAgentSession;LiveChatTranscript;Online_Contacts__c;Opportunity;OpportunityProductDetail__c;Order__c;PartnerFundAllocation;PartnerFundClaim;PartnerFundRequest;PartnerMarketingBudget;Prodman_Quote__c;Product2;Product_Account_Detail__c;Product_Trial__c;Quote;Removed_Account__c;Removed_Contact__c;SFDC_Acct_Plan__c;SFDC_Strategy__c;ServiceContract;Solution;Survey__c;TRWayLeadMgmt__SLA_Violation__c;TRWay_Retention__Health_Assessment_Survey__c;Training_Event_Contact__c;Training_Event__c;geopointe__GP_Device__c;iahelp__HelpReadingList__c;iahelp__HelpResource__c;icrt__Guide_Attributes_Translation__c;icrt__Guide_Definition__c;qbdialer__UserStatusLog__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
