flows/USL_Email2Case_Updates.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>process</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>USL_Email to Case Contact Association</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_12_A2</name>
        <label>CaseContactAssociation</label>
        <locationX>1200</locationX>
        <locationY>300</locationY>
        <actionName>USL_Email_to_Case_Contact_Association</actionName>
        <actionType>flow</actionType>
        <connector>
            <targetReference>myDecision15</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>SObject</name>
            <value>
                <elementReference>myVariable_current.Parent</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>ESC_CreateReferral on Form failure</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_28_A1</name>
        <label>CreateRef2Writeoff</label>
        <locationX>2800</locationX>
        <locationY>200</locationY>
        <actionName>ESC_CreateFormReferral</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>myDecision29</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>cases</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>cases</name>
            <value>
                <elementReference>myVariable_current.Parent</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>ESC_CreateReferral on Form failure</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_30_A1</name>
        <label>CreateRef2ChargeCancellation</label>
        <locationX>3000</locationX>
        <locationY>200</locationY>
        <actionName>ESC_CreateFormReferral</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>myDecision31</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>cases</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>cases</name>
            <value>
                <elementReference>myVariable_current.Parent</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>USL_CaseRouting</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_32_A1</name>
        <label>USL_CaseRouting</label>
        <locationX>3200</locationX>
        <locationY>200</locationY>
        <actionName>ESC_CaseRouting</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>newEmailMessageList</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>EmailMessage</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>newEmailMessageList</name>
            <value>
                <elementReference>myVariable_current</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>((1 OR 9 OR 10 OR(15 AND( 12 OR 13 OR 14))) AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND 8 AND 11)AND 16</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Formula</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formula_2_myRule_1_7730513232</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.ParentId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.Is_GLI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.ESC_Origin_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.Is_ESC_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.ToAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Formula</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formula_3_myRule_1_1290668075</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Formula</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.ToAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formula_4_myRule_1_3246154766</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.USL_Queue_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Formula</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.CcAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formula_5_myRule_1_0136500854</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Formula</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.CcAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formula_6_myRule_1_5840693081</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Formula</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.CcAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formula_7_myRule_1_9046482909</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.CcAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>Group;User</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Populate Sales Org, IS GLI and Sub-BU</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision11</name>
        <label>myDecision11</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision15</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.LCRM_Sub_BU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.ESC_Origin_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>Case</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.ParentId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_12_A1</targetReference>
            </connector>
            <label>USL Updates</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision15</name>
        <label>myDecision15</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision18</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_16</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Formula</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>formula_17_myRule_16_7132739371</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.LCRM_Sub_BU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_16_A1</targetReference>
            </connector>
            <label>Populate Case record type</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision18</name>
        <label>myDecision18</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision21</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_19</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Formula</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>formula_20_myRule_19_0759877507</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.LCRM_Sub_BU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_19_A1</targetReference>
            </connector>
            <label>Populate Case origin</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision21</name>
        <label>myDecision21</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision23</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_22</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>MakeCreditCardPayment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.LCRM_Sub_BU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.Is_ESC_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_22_A1</targetReference>
            </connector>
            <label>Check Credit Failure Emails</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision23</name>
        <label>myDecision23</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision25</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_24</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>MakeACHPayment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.LCRM_Sub_BU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.Is_ESC_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_24_A1</targetReference>
            </connector>
            <label>Check Debit Failure Emails</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision25</name>
        <label>myDecision25</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision27</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_26</name>
            <conditionLogic>1 AND 3 AND 4 AND ( 2 OR 5)</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.FromAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>  west.customer.service@thomson.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.Is_ESC_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.LCRM_Sub_BU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SN#</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_26_A1</targetReference>
            </connector>
            <label>ChargeCancellation Kickoff failure</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision27</name>
        <label>myDecision27</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision29</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_28</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.Is_ESC_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.FromAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>west.arpaymentcenter@thomson.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Writeoff failure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.TextBody</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Write off request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_28_A1</targetReference>
            </connector>
            <label>EnterpriseWriteoff Kickoff failure</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision29</name>
        <label>myDecision29</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision31</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_30</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND (5 OR 6)</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.Is_ESC_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.LCRM_Sub_BU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.LCRM_Sub_BU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SN#</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.FromAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>west.customer.service@thomson.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_30_A1</targetReference>
            </connector>
            <label>EnterpriseCharge Cancellation Kickoff failure</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision31</name>
        <label>myDecision31</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_32</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>Case</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.ParentId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.LCRM_Sub_BU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Reference</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Parent.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.Subject</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_32_A1</targetReference>
            </connector>
            <label>USL Case Routing</label>
        </rules>
    </decisions>
    <description>USL Email to case update</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if(([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId7__c ) 
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId8__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId9__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId10__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId11__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId12__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId4__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId13__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId14__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId15__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId16__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId17__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId18__c)
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId19__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId20__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId21__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId22__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId23__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId24__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId25__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId26__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId27__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId30__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId44__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId45__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId46__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId47__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId48__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId49__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId43__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId38__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId41__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId51__c),
&apos;USL&apos;,[EmailMessage].Parent.LCRM_Sub_BU__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_10_myRule_1_A1_0553543695</name>
        <dataType>String</dataType>
        <expression>if(({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.USL_Queues__c.QueueId7__c} ) 
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.USL_Queues__c.QueueId8__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.USL_Queues__c.QueueId9__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.USL_Queues__c.QueueId10__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.USL_Queues__c.QueueId11__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.USL_Queues__c.QueueId12__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.USL_Queues__c.QueueId4__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.USL_Queues__c.QueueId13__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.USL_Queues__c.QueueId14__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.USL_Queues__c.QueueId15__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.USL_Queues__c.QueueId16__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.USL_Queues__c.QueueId17__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.USL_Queues__c.QueueId18__c})
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.USL_Queues__c.QueueId19__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.USL_Queues__c.QueueId20__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.USL_Queues__c.QueueId21__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.USL_Queues__c.QueueId22__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.USL_Queues__c.QueueId23__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.USL_Queues__c.QueueId24__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.USL_Queues__c.QueueId25__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.USL_Queues__c.QueueId26__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.USL_Queues__c.QueueId27__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.USL_Queues__c.QueueId30__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.USL_Queues__c.QueueId44__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.USL_Queues__c.QueueId45__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.USL_Queues__c.QueueId46__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.USL_Queues__c.QueueId47__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.USL_Queues__c.QueueId48__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.USL_Queues__c.QueueId49__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.USL_Queues__c.QueueId43__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.USL_Queues__c.QueueId38__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.USL_Queues__c.QueueId41__c} )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  ={!$Setup.USL_Queues__c.QueueId51__c}),
&apos;USL&apos;,{!myVariable_current.Parent.LCRM_Sub_BU__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>Left([EmailMessage].ToAddress,255)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_13_myRule_12_A1_8513560640</name>
        <dataType>String</dataType>
        <expression>Left({!myVariable_current.ToAddress},255)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(CONTAINS([EmailMessage].HtmlBody ,&apos;ref:_00D&apos;) || CONTAINS([EmailMessage].Subject,&apos;ref:_00D&apos;),TEXT([EmailMessage].Parent.Status),&apos;New&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_14_myRule_12_A1_7040514549</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!myVariable_current.HtmlBody} ,&apos;ref:_00D&apos;) || CONTAINS({!myVariable_current.Subject},&apos;ref:_00D&apos;),TEXT({!myVariable_current.Parent.Status}),&apos;New&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if (((CONTAINS([EmailMessage].Subject,&apos;MyAccount - Change Address&apos;))
|| (CONTAINS([EmailMessage].Subject ,&apos;My Tax Exempt Certificate -&apos;))),[EmailMessage].Subject,&apos;&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_17_myRule_16_7132739371</name>
        <dataType>String</dataType>
        <expression>if (((CONTAINS({!myVariable_current.Subject},&apos;MyAccount - Change Address&apos;))
|| (CONTAINS({!myVariable_current.Subject} ,&apos;My Tax Exempt Certificate -&apos;))),{!myVariable_current.Subject},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if (((CONTAINS([EmailMessage].Subject,&apos;MyAccount - Change Address&apos;))
|| (CONTAINS([EmailMessage].Subject ,&apos;My Tax Exempt Certificate -&apos;))
|| (CONTAINS([EmailMessage].Subject ,&apos;MyAccount - Delivery Reshipment Request&apos;))),[EmailMessage].Subject,&apos;&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_20_myRule_19_0759877507</name>
        <dataType>String</dataType>
        <expression>if (((CONTAINS({!myVariable_current.Subject},&apos;MyAccount - Change Address&apos;))
|| (CONTAINS({!myVariable_current.Subject} ,&apos;My Tax Exempt Certificate -&apos;))
|| (CONTAINS({!myVariable_current.Subject} ,&apos;MyAccount - Delivery Reshipment Request&apos;))),{!myVariable_current.Subject},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if (((CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email1__c )) 
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email2__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email3__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email4__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email5__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email6__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email7__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email8__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email9__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email10__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email11__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email12__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email13__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email14__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email15__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email16__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email17__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email18__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email19__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email20__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email21__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email22__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email23__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email24__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email25__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email26__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email27__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email28__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email29__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email30__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email31__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email32__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email33__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email34__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email35__c ))),[EmailMessage].ToAddress,&apos;&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_7730513232</name>
        <dataType>String</dataType>
        <expression>if (((CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email1__c} )) 
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email2__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email3__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email4__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email5__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email6__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email7__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email8__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email9__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email10__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email11__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email12__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email13__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email14__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email15__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email16__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email17__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email18__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email19__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email20__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email21__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email22__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email23__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email24__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email25__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email26__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email27__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email28__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email29__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email30__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email31__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email32__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email33__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email34__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email35__c} ))),{!myVariable_current.ToAddress},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if (((CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email36__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email37__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email38__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email39__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email40__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email41__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email42__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email43__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email44__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email45__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email46__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email47__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email48__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email49__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email50__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email51__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email52__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email53__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email54__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email55__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email56__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email57__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email58__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email59__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email60__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email61__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email62__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email63__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email64__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email65__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email66__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email67__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email68__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email69__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email70__c ))),[EmailMessage].ToAddress,&apos;&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_1290668075</name>
        <dataType>String</dataType>
        <expression>if (((CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email36__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email37__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email38__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email39__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email40__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email41__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email42__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email43__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email44__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email45__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email46__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email47__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email48__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email49__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email50__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email51__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email52__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email53__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email54__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email55__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email56__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email57__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email58__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email59__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email60__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email61__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email62__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email63__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email64__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email65__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email66__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email67__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email68__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email69__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email70__c} ))),{!myVariable_current.ToAddress},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if (((CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email71__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email72__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email73__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email74__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email75__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email76__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email77__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email78__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email79__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email80__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email81__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email82__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email83__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email84__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email85__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email88__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email89__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email90__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email91__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email92__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email93__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email94__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email95__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email96__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email97__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email98__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email99__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email100__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email101__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email102__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email103__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email104__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email105__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email106__c ))
||(CONTAINS([EmailMessage].ToAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email86__c ))),[EmailMessage].ToAddress,&apos;&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_3246154766</name>
        <dataType>String</dataType>
        <expression>if (((CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email71__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email72__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email73__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email74__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email75__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email76__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email77__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email78__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email79__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email80__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email81__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email82__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email83__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email84__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email85__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email88__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email89__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email90__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email91__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email92__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email93__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email94__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email95__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email96__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email97__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email98__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email99__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email100__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email101__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email102__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email103__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email104__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email105__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email106__c} ))
||(CONTAINS({!myVariable_current.ToAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email86__c} ))),{!myVariable_current.ToAddress},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if (((CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email1__c )) 
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email2__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email3__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email4__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email5__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email6__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email7__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email8__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email9__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email10__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email11__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email12__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email13__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email14__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email15__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email16__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email17__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email18__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email19__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email20__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email21__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email22__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email23__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email24__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email25__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email26__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email27__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email28__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email29__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email30__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email31__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email32__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email33__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email34__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email35__c ))),[EmailMessage].ccAddress,&apos;&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_1_0136500854</name>
        <dataType>String</dataType>
        <expression>if (((CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email1__c} )) 
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email2__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email3__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email4__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email5__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email6__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email7__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email8__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email9__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email10__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email11__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email12__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email13__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email14__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email15__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email16__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email17__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email18__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email19__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email20__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email21__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email22__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email23__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email24__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email25__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email26__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email27__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email28__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email29__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email30__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email31__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email32__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email33__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email34__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email35__c} ))),{!myVariable_current.CcAddress},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if (((CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email36__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email37__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email38__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email39__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email40__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email41__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email42__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email43__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email44__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email45__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email46__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email47__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email48__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email49__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email50__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email51__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email52__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email53__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email54__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email55__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email56__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email57__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email58__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email59__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email60__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email61__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email62__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email63__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email64__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email65__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email66__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email67__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email68__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email69__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email70__c ))),[EmailMessage].ccAddress,&apos;&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_1_5840693081</name>
        <dataType>String</dataType>
        <expression>if (((CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email36__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email37__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email38__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email39__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email40__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email41__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email42__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email43__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email44__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email45__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email46__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email47__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email48__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email49__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email50__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email51__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email52__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email53__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email54__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email55__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email56__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email57__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email58__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email59__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email60__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email61__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email62__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email63__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email64__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email65__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email66__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email67__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email68__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email69__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email70__c} ))),{!myVariable_current.CcAddress},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if (((CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email71__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email72__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email73__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email74__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email75__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email76__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email77__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email78__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email79__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email80__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email81__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email82__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email83__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email84__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email85__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email88__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email89__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email90__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email91__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email92__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email93__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email94__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email95__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email96__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email97__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email98__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email99__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email100__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email101__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email102__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email103__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email104__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email105__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email106__c ))
||(CONTAINS([EmailMessage].ccAddress,$Setup.USL_Email2Case_ToEmails__c.To_Email86__c ))),[EmailMessage].ccAddress,&apos;&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_1_9046482909</name>
        <dataType>String</dataType>
        <expression>if (((CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email71__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email72__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email73__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email74__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email75__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email76__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email77__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email78__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email79__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email80__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email81__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email82__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email83__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email84__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email85__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email88__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email89__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email90__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email91__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email92__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email93__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email94__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email95__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email96__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email97__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email98__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email99__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email100__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email101__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email102__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email103__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email104__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email105__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email106__c} ))
||(CONTAINS({!myVariable_current.CcAddress},{!$Setup.USL_Email2Case_ToEmails__c.To_Email86__c} ))),{!myVariable_current.CcAddress},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if(([EmailMessage].Parent.Owner:Queue.DeveloperName=$Setup.USL_Queues__c.QueueId59__c)
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName=$Setup.USL_Queues__c.QueueId62__c),
$Setup.USL_Email2Case_ToEmails__c.Proactive_Type__c,TEXT([EmailMessage].Parent.ESC_Proactive_Type__c ))
 </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_8_myRule_1_A2_1178140458</name>
        <dataType>String</dataType>
        <expression>if(({!myVariable_current.Parent.Owner:Queue.DeveloperName}={!$Setup.USL_Queues__c.QueueId59__c})
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}={!$Setup.USL_Queues__c.QueueId62__c}),
{!$Setup.USL_Email2Case_ToEmails__c.Proactive_Type__c},TEXT({!myVariable_current.Parent.ESC_Proactive_Type__c} ))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>if(([EmailMessage].Parent.LCRM_Sub_BU__c==&apos;&apos; || [EmailMessage].Parent.LCRM_Sub_BU__c == null),
if(([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId6__c) 
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId16__c)
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId28__c ) 
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId29__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId5__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId3__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId2__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId1__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId31__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId32__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId33__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId34__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId35__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId36__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId37__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId39__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId40__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId42__c )
|| ([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId43__c )
||([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId44__c )
||([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId45__c )
||([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId46__c )
||([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId47__c )
||([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId48__c )
||([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId49__c )
||([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId50__c )
||([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId53__c )
||([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId54__c )
||([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId57__c )
||([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId56__c )
||([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId58__c )
||([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId59__c )
||([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId60__c )
||([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId61__c )
||([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId62__c )
||([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId63__c )
||([EmailMessage].Parent.Owner:Queue.DeveloperName  =$Setup.USL_Queues__c.QueueId52__c ),&apos;USL&apos;,
[EmailMessage].Parent.LCRM_Sub_BU__c),[EmailMessage].Parent.LCRM_Sub_BU__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_9_myRule_1_A2_6020407888</name>
        <dataType>String</dataType>
        <expression>if(({!myVariable_current.Parent.LCRM_Sub_BU__c}==&apos;&apos; || {!myVariable_current.Parent.LCRM_Sub_BU__c} == null),
if(({!myVariable_current.Parent.Owner:Queue.DeveloperName}  =$Setup.USL_Queues__c.QueueId6__c) 
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  =$Setup.USL_Queues__c.QueueId16__c)
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  =$Setup.USL_Queues__c.QueueId28__c ) 
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  =$Setup.USL_Queues__c.QueueId29__c )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  =$Setup.USL_Queues__c.QueueId5__c )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  =$Setup.USL_Queues__c.QueueId3__c )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  =$Setup.USL_Queues__c.QueueId2__c )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  =$Setup.USL_Queues__c.QueueId1__c )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  =$Setup.USL_Queues__c.QueueId31__c )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  =$Setup.USL_Queues__c.QueueId32__c )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  =$Setup.USL_Queues__c.QueueId33__c )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  =$Setup.USL_Queues__c.QueueId34__c )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  =$Setup.USL_Queues__c.QueueId35__c )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  =$Setup.USL_Queues__c.QueueId36__c )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  =$Setup.USL_Queues__c.QueueId37__c )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  =$Setup.USL_Queues__c.QueueId39__c )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  =$Setup.USL_Queues__c.QueueId40__c )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  =$Setup.USL_Queues__c.QueueId42__c )
|| ({!myVariable_current.Parent.Owner:Queue.DeveloperName}  =$Setup.USL_Queues__c.QueueId43__c )
||({!myVariable_current.Parent.Owner:Queue.DeveloperName}  =$Setup.USL_Queues__c.QueueId44__c )
||({!myVariable_current.Parent.Owner:Queue.DeveloperName}  =$Setup.USL_Queues__c.QueueId45__c )
||({!myVariable_current.Parent.Owner:Queue.DeveloperName}  =$Setup.USL_Queues__c.QueueId46__c )
||({!myVariable_current.Parent.Owner:Queue.DeveloperName}  =$Setup.USL_Queues__c.QueueId47__c )
||({!myVariable_current.Parent.Owner:Queue.DeveloperName}  =$Setup.USL_Queues__c.QueueId48__c )
||({!myVariable_current.Parent.Owner:Queue.DeveloperName}  =$Setup.USL_Queues__c.QueueId49__c )
||({!myVariable_current.Parent.Owner:Queue.DeveloperName}  =$Setup.USL_Queues__c.QueueId50__c )
||({!myVariable_current.Parent.Owner:Queue.DeveloperName}  =$Setup.USL_Queues__c.QueueId53__c )
||({!myVariable_current.Parent.Owner:Queue.DeveloperName}  =$Setup.USL_Queues__c.QueueId54__c )
||({!myVariable_current.Parent.Owner:Queue.DeveloperName}  =$Setup.USL_Queues__c.QueueId57__c )
||({!myVariable_current.Parent.Owner:Queue.DeveloperName}  =$Setup.USL_Queues__c.QueueId56__c )
||({!myVariable_current.Parent.Owner:Queue.DeveloperName}  =$Setup.USL_Queues__c.QueueId58__c )
||({!myVariable_current.Parent.Owner:Queue.DeveloperName}  =$Setup.USL_Queues__c.QueueId59__c )
||({!myVariable_current.Parent.Owner:Queue.DeveloperName}  =$Setup.USL_Queues__c.QueueId60__c )
||({!myVariable_current.Parent.Owner:Queue.DeveloperName}  =$Setup.USL_Queues__c.QueueId61__c )
||({!myVariable_current.Parent.Owner:Queue.DeveloperName}  =$Setup.USL_Queues__c.QueueId62__c )
||({!myVariable_current.Parent.Owner:Queue.DeveloperName}  =$Setup.USL_Queues__c.QueueId63__c )
||({!myVariable_current.Parent.Owner:Queue.DeveloperName}  =$Setup.USL_Queues__c.QueueId52__c ),&apos;USL&apos;,
{!myVariable_current.Parent.LCRM_Sub_BU__c}),{!myVariable_current.Parent.LCRM_Sub_BU__c})</expression>
    </formulas>
    <interviewLabel>USL_Email2Case_Updates-113_InterviewLabel</interviewLabel>
    <label>USL Email2Case Updates</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>EmailMessage</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordCreates>
        <name>myRule_22_A1</name>
        <label>CreateRef2CCGroup</label>
        <locationX>2200</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision23</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ESC_Case__c</field>
            <value>
                <elementReference>myVariable_current.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Referral Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>ESC_Referral_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Referral Role</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>ESC_Role__c</field>
            <value>
                <stringValue>Accountable Resolver</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Owner ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Group;User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideLabel</name>
                <value>
                    <stringValue>EBO_USL_Credit_Card</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Queue</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <stringValue>00G2D000000anjFUAQ</stringValue>
            </value>
        </inputAssignments>
        <object>ESC_Case_Collaborator__c</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_24_A1</name>
        <label>CreateRef2CashApps</label>
        <locationX>2400</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision25</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ESC_Case__c</field>
            <value>
                <elementReference>myVariable_current.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Referral Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>ESC_Referral_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Referral Role</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>ESC_Role__c</field>
            <value>
                <stringValue>Accountable Resolver</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Owner ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Group;User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideLabel</name>
                <value>
                    <stringValue>USL_EBO_USL_CashApp</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Queue</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <stringValue>00G2D000000WpDyUAK</stringValue>
            </value>
        </inputAssignments>
        <object>ESC_Case_Collaborator__c</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_26_A1</name>
        <label>CreateRef2ChargeCancellation</label>
        <locationX>2600</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision27</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>ESC_Case__c</field>
            <value>
                <elementReference>myVariable_current.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Referral Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>ESC_Referral_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Referral Role</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>ESC_Role__c</field>
            <value>
                <stringValue>Accountable Resolver</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Owner ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Group;User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideLabel</name>
                <value>
                    <stringValue>EBO_USL_Credit_Debit_Adjustments</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Queue</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <stringValue>00G1B000003XMrLUAW</stringValue>
            </value>
        </inputAssignments>
        <object>ESC_Case_Collaborator__c</object>
    </recordCreates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[EmailMessage].Case ID</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_12_A1</name>
        <label>USL Updates</label>
        <locationX>1200</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_12_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>ESC Omni Routed</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>ESC_Omni_Routed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Origin Name</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ESC_Origin_Name__c</field>
            <value>
                <elementReference>formula_13_myRule_12_A1_8513560640</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Is GLI</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>Is_GLI__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Sales Org</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Sales_Org__c</field>
            <value>
                <stringValue>GLI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <elementReference>formula_14_myRule_12_A1_7040514549</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[EmailMessage].Case ID</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_16_A1</name>
        <label>Update record type</label>
        <locationX>1600</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision18</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Case Record Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>ESC_Case_Type__c</field>
            <value>
                <stringValue>Request for Action</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[EmailMessage].Case ID</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_19_A1</name>
        <label>Update case origin</label>
        <locationX>1900</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision21</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Case Origin</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[EmailMessage].Case ID</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Set SubBU</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Sub-BU</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>LCRM_Sub_BU__c</field>
            <value>
                <elementReference>formula_10_myRule_1_A1_0553543695</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[EmailMessage].Case ID</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Set SubBu_Splitted</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myDecision11</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Proactive Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ESC_Proactive_Type__c</field>
            <value>
                <elementReference>formula_8_myRule_1_A2_1178140458</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Sub-BU</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>LCRM_Sub_BU__c</field>
            <value>
                <elementReference>formula_9_myRule_1_A2_6020407888</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
</Flow>
