flows/USL_Referral_response_cal.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>USL Case Entitlment Respones Time Calc_1234</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>UpdateReferralReponseTime</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <actionName>USL_ResponseTimeCalculator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>myRule_1_A3</targetReference>
        </connector>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>cases</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>cases</name>
            <value>
                <elementReference>myVariable_current.ESC_Case__r</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Is USL/Canada?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Referral Closed?</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([ESC_Case_Collaborator__c].Owner:Queue.DeveloperName!=[ESC_Case_Collaborator__c].ESC_Case__c.USL_Queue_Name__c,true,false) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A3_6245167438</name>
        <dataType>Boolean</dataType>
        <expression>IF({!myVariable_current.Owner:Queue.DeveloperName}!={!myVariable_current.ESC_Case__r.USL_Queue_Name__c},true,false)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[ESC_Case_Collaborator__c].Owner:Queue.DeveloperName </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_4601613244</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.Owner:Queue.DeveloperName}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
	NOT($Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c),
	NOT(ISBLANK([ESC_Case_Collaborator__c].ESC_Case__c)),
	OR(
		OR(
		[ESC_Case_Collaborator__c].ESC_Case__c.LCRM_Sub_BU__c ==&quot;USL&quot;,[ESC_Case_Collaborator__c].ESC_Case__c.LCRM_Sub_BU__c ==$Setup.ESC_segment_Region_Lotus__c.RegionUSLegal__c),
		[ESC_Case_Collaborator__c].ESC_Case__r.LCRM_Sub_BU__c == &quot;Canada&quot;					
	),ISBLANK([ESC_Case_Collaborator__c].ESC_Form_Id__c),
	NOT(ISPICKVAL([ESC_Case_Collaborator__c].ESC_Referral_Status__c, &apos;Closed&apos;)),
	OR(
		ISNEW(),
		ISCHANGED([ESC_Case_Collaborator__c].OwnerId)
	),
	ISPICKVAL([ESC_Case_Collaborator__c].ESC_Role__c, &apos;Accountable Resolver&apos;),
	BEGINS([ESC_Case_Collaborator__c].OwnerId, &apos;00G&apos;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
	NOT({!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c}),
	NOT(ISBLANK({!myVariable_current.ESC_Case__c})),
	OR(
		OR(
		{!myVariable_current.ESC_Case__r.LCRM_Sub_BU__c} ==&quot;USL&quot;,{!myVariable_current.ESC_Case__r.LCRM_Sub_BU__c} =={!$Setup.ESC_segment_Region_Lotus__c.RegionUSLegal__c}),
		{!myVariable_current.ESC_Case__r.LCRM_Sub_BU__c} == &quot;Canada&quot;					
	),ISBLANK({!myVariable_current.ESC_Form_Id__c}),
	NOT(ISPICKVAL({!myVariable_current.ESC_Referral_Status__c}, &apos;Closed&apos;)),
	OR(
		ISNEW(),
		ISCHANGED({!myVariable_current.OwnerId})
	),
	ISPICKVAL({!myVariable_current.ESC_Role__c}, &apos;Accountable Resolver&apos;),
	BEGINS({!myVariable_current.OwnerId}, &apos;00G&apos;)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND
(
	NOT($Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c ),
	ISPICKVAL([ESC_Case_Collaborator__c].ESC_Role__c, &quot;Accountable Resolver&quot;),
	ISPICKVAL([ESC_Case_Collaborator__c].ESC_Referral_Status__c, &quot;Completed&quot;),
	ISCHANGED([ESC_Case_Collaborator__c].ESC_Referral_Status__c),
	OR(
		OR([ESC_Case_Collaborator__c].ESC_Case__c.LCRM_Sub_BU__c ==  &quot;USL&quot;,[ESC_Case_Collaborator__c].ESC_Case__c.LCRM_Sub_BU__c ==$Setup.ESC_segment_Region_Lotus__c.RegionUSLegal__c),		
		[ESC_Case_Collaborator__c].ESC_Case__c.LCRM_Sub_BU__c = &quot;Canada&quot;
			
	)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND
(
	NOT({!$Setup.LTS_Disable_Application_Automation__c.LTS_Disable_Process_Builders__c} ),
	ISPICKVAL({!myVariable_current.ESC_Role__c}, &quot;Accountable Resolver&quot;),
	ISPICKVAL({!myVariable_current.ESC_Referral_Status__c}, &quot;Completed&quot;),
	ISCHANGED({!myVariable_current.ESC_Referral_Status__c}),
	OR(
		OR({!myVariable_current.ESC_Case__r.LCRM_Sub_BU__c} ==  &quot;USL&quot;,{!myVariable_current.ESC_Case__r.LCRM_Sub_BU__c} =={!$Setup.ESC_segment_Region_Lotus__c.RegionUSLegal__c}),		
		{!myVariable_current.ESC_Case__r.LCRM_Sub_BU__c} = &quot;Canada&quot;
			
	)
)</expression>
    </formulas>
    <interviewLabel>USL_Referral_response_cal-23_InterviewLabel</interviewLabel>
    <label>USL_Referral response cal</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>ESC_Case_Collaborator__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[ESC_Case_Collaborator__c].Case</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>SetIsReferralFlag</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.ESC_Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>GGOIsReferralFlag</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>GGOIsReferralFlag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>GGO Referral Milestone Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>GGO_Referral_Milestone_Type__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_4601613244</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[ESC_Case_Collaborator__c].Case</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A3</name>
        <label>Set Milestone Entry Flag</label>
        <locationX>100</locationX>
        <locationY>400</locationY>
        <connector>
            <targetReference>myDecision4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.ESC_Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>GGOIsReferralFlag</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>GGOIsReferralFlag__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>GGO Referral Milestone Entry Flag</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>GGO_Referral_Milestone_Entry_Flag__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A3_6245167438</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[ESC_Case_Collaborator__c].Case</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Update flag</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.ESC_Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>GGO Referral Response Time Flag</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>GGO_Referral_Response_Time_Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ESC_Case_Collaborator__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ESC_Case_Collaborator__c</objectType>
    </variables>
</Flow>
